<p>
<a href="http://www.godispatch.com">
<img border="0" src="http://www.godispatch.com/images/logo.gif" width="435" height="63"></a></p>
<p><font face="Arial">Dear Auto Transporter,</font></p>
<p><font face="Arial">Per your prior authorization, we processed a transaction 
on [date] for your [term] Membership fee of $[amount]. The transaction was 
successful. The details of your transaction are as follows: </font></p>
<p><font face="Arial">Company: [company_name] <br>
Company ID: [comp_id] <br>
Transaction: [trans_id] </font></p>
<p><font face="Arial">[payment_info] </font></p>
<p><font face="Arial">Amount: $[amount]<br>
Date: [date]</font></p>
<p><font face="Arial">Please retain/print a copy of this e-mail for your 
records. If you have any billing questions, please contact us at billing@godispatch.com.
</font></p>
<p><font face="Arial">We appreciate your support! </font></p>
<p><font face="Arial">Sincerely,</font></p>
<p><font face="Arial">The Go Dispatch Team!<br>
<a href="http://www.godispatch.com">http://www.godispatch.com</a></font></p>
<p><i><font face="Arial">&quot;An Association of Auto Transporters!&quot;</font></i></p>
