<p>
<a href="http://www.godispatch.com">
<img border="0" src="http://www.godispatch.com/images/logo.gif" width="435" height="63"></a></p>
<p><font face="Arial">Dear Auto Transporter,</font></p>
<p><font face="Arial">We attempted to process a transaction on [date] for your 
[term] Membership fee of $[amount]. The transaction was declined. </font></p>
<p><font face="Arial">Within the next hour our system will automatically 
generate and send you an invoice.&nbsp; To expedite your payment to ensure your 
account isn't deactivated, you can login to your account at
<a href="http://www.godispatch.com">www.godispatch.com</a>, and click 
BILLING to enter a new credit card or electronic check.</font></p>
<p><font face="Arial">We appreciate your support! </font></p>
<p><font face="Arial">Sincerely,</font></p>
<p><font face="Arial">The Go Dispatch Team!<br>
<a href="http://www.godispatch.com">http://www.godispatch.com</a></font></p>
<p><i><font face="Arial">&quot;An Association of Auto Transporters!&quot;</font></i></p>