
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td height="17" width="50%"> <b> 
      {translate module=checkout}
      ccv_visa_mc 
      {/translate}
      </b></td>
    <td height="17" width="50%"> <b> 
      {translate module=checkout}
      ccv_visa_mc 
      {/translate}
      </b></td>
  </tr>
  <tr> 
    <td width="50%"> 
      {translate module=checkout}
      ccv_visa_mc_full 
      {/translate}
    </td>
    <td width="50%"> 
      {translate module=checkout}
      ccv_visa_mc_full 
      {/translate}
    </td>
  </tr>
  <tr> 
    <td width="50%"><img src="{$SSL_URL}themes/{$THEME_NAME}/images/CCV_help_visa_mc.gif"></td>
    <td width="50%"><img src="{$SSL_URL}themes/{$THEME_NAME}/images/CCV_help_amex.gif"></td>
  </tr>
</table>
 
<p align="center"><a href="javascript:window.close()">{translate}close{/translate}</a></p>
