a{color: #C92A26; text-decoration: none;}
a:hover{text-decoration: underline;}
.signup{font-family: Tahoma; font-size: 9pt; color: #C92A27;}
.login{font-family: Tahoma; text-transform: lowercase; font-size: 9pt; width:120; height:20;}
.fields{font-family: Tahoma; font-size: 9pt;}
.fields_small{font-family: Tahoma; font-size: 7pt;}
.pagetext{font-family: Tahoma; font-size: 9pt; color: #000000;}
.searchtext{font-family: Tahoma; font-size: 8pt; color: #000000;}
.searchtext2{font-family: Tahoma; font-size: 8pt; color: #000000; background-color: #F8F8FA;}
.searchtext3{font-family: Tahoma; font-size: 8pt; color: #000000; background-color: #F1F1F3;}
.fixedwidth{font-family: Courier New, Courier; font-size: 9pt; color: #000000;}
.pagetitle{font-family: Tahoma; font-size: 9pt; color: #C92A27; font-weight: bold;}
.pagebold{font-family: Tahoma; font-size: 9pt; color: #595959; font-weight: bold;}