<script language="javascript" type="text/javascript" src="cars_improved.js"></script>
<script language="javascript" type="text/javascript" src="row_cars_funcs.js"></script>

<body onLoad=populateMakes(document.getElementById("make"));>

<form name="quote" action="" method="">

<table border="1" id="tVehicles">
	<thead>
		<td>Make</td>
		<td>Model</td>
	</thead>

	<tbody>
		<tr>
		<td>
			<select id="make" name="auto_make" onClick="populateMakes(this);" onChange="makeSelected(this);">
				<option value='Unknown'>- - - Select - - -</option>
			</select>
		</td>
		<td>
			<select id="model" name="auto_model">
				<option value='Unknown'>- - - Select - - -</option>
			</select>
		</td>
</table>

<br />
<input type="button" value="Add Vehicle" onClick="addRow('tVehicles');" />
<input type="button" value="Remove Vehicle" onClick="deleteLastRow('tVehicles');" />
<br />

</form>

