body        {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 10px
            }

.body        {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px
            }
            

.form_menu
			{
 			    font-family: Arial, Helvetica, sans-serif;
				font-size: 10px;
				background-color: #FFFFF9;
				border-color: #999999 #999999 #666666 #666666;
				border-top-width: 1px;
				border-right-width: 2px;
				border-bottom-width: 2px;
				border-left-width: 1px
			}
            		
.form_button 	
			{
 			    font-family: Arial, Helvetica, sans-serif;
				font-size: 10px;
				background-color: #F8F8F8;
				border-color: #999999 #999999 #666666 #666666;
				border-top-width: 1px;
				border-right-width: 2px;
				border-bottom-width: 2px;
				border-left-width: 1px
			}

.form_button_dead 	
			{
				font-family: Arial, Helvetica, sans-serif;
				font-size: 10px;
				background-color: #FFFFFF;
				border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;	
				border-top-width: 0px;
				border-right-width: 0px;
				border-bottom-width: 0px;
				border-left-width: 0px
			}
                			
.form_field
			{
				font-family: Arial, Helvetica, sans-serif; 
				font-size: 10px;
				background-color: #FFFFF9;
				border-color: #999999 #999999 #999999 #999999;
                font-weight: normal;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 2px;
                border-top-width: 1px;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-left-width: 1px
			}

.form_field_error
			{
				font-family: Arial, Helvetica, sans-serif;
				font-size: 10px;
				background-color: #D5FEC2;
				border-color: #999999 #999999 #999999 #999999;
                font-weight: normal;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 2px;
                border-top-width: 1px;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-left-width: 1px
			}			
								
.table_background 
			{
				background-color: #999999;
			}


.row1	
			{
				font-family: Arial, Helvetica, sans-serif; 
				font-size: 10px;
				background-color: #F9F9F9;
				color: #333333
			}
				
.row2 
			{
				font-family: Arial, Helvetica, sans-serif; 
				font-size: 10px;
				background-color: #F4F4F4;
				color: #000000
			}

a:link      {  text-decoration: none}
a:link      {  font-family: Arial, Helvetica, sans-serif; text-decoration: none}
a:active    {  font-family: Arial, Helvetica, sans-serif; text-decoration: none}
a:hover     {  font-family: Arial, Helvetica, sans-serif; text-decoration: none}
a:visited   {  font-family: Arial, Helvetica, sans-serif; text-decoration: none}
