.TableHeader {
    margin-top: 20px;
    margin-bottom: 4px;
}

.TableCopy {
    padding: 20px;
}

.NavCopy {
    FONT-SIZE: 12px;
    COLOR: #FF9900;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px;
    text-decoration: none;
}
a.NavCopy:link {COLOR: #666666;text-decoration:none;}
a.NavCopy:visited {COLOR: #666666;text-decoration:none;}
a.NavCopy:hover {COLOR: #000000;font-weight: bold;text-decoration:none;}

.Header {
    FONT-SIZE: 24px;
    COLOR: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 6px 0px 10px;
    text-decoration: none;
}

.BodyHeader {
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    COLOR: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 6px 6px 6px;
    margin: 0px;
}

.BodyHeader2 {
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    COLOR: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 4px 4px 4px;
    margin: 0px;
}

.BodyHeader3 {
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    COLOR: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 2px 2px 2px;
    margin: 0px;
}

.BodyBlack {
    FONT-SIZE: 12px;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
a.BodyBlack:link {COLOR: #666666;text-decoration:none;}
a.BodyBlack:visited {COLOR: #666666;text-decoration:none;}
a.BodyBlack:hover {COLOR: #0000FF;text-decoration:none;}

.BodyGrey {
    FONT-SIZE: 12px;
    COLOR: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.BodyLink {
    FONT-SIZE: 12px;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
a.BodyLink:link {COLOR: #FF9900;text-decoration:none;}
a.BodyLink:visited {COLOR: #FF9900;text-decoration:none;}
a.BodyLink:hover {COLOR: #0000FF;text-decoration:none;}


a.taskLink_1
{
	FONT-SIZE: 12px;
    COLOR: #FF0000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
	text-decoration:none;
}
a.taskLink_2
{
	FONT-SIZE: 12px;
    COLOR: #996600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
	text-decoration:none;
}
a.taskLink_3
{
	FONT-SIZE: 12px;
    COLOR:  #CCCC00;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
	text-decoration:none;
}
a.taskLink_4
{
	FONT-SIZE: 12px;
    COLOR: #006600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
	text-decoration:none;
}
a.taskLink_5
{
	FONT-SIZE: 12px;
    COLOR: #00CC00;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
	text-decoration:none;
}
a.taskLink_1:link {COLOR: #FF0000;text-decoration:none;}
a.taskLink_2:link {COLOR: #996600;text-decoration:none;}
a.taskLink_3:link {COLOR: #CCCC00;text-decoration:none;}
a.taskLink_4:link {COLOR: #006600;text-decoration:none;}
a.taskLink_5:link {COLOR: #00CC00;text-decoration:none;}





.BodySmall {
    FONT-SIZE: 10px;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
a.BodySmall:link {COLOR: #666666;text-decoration:none;}
a.BodySmall:visited {COLOR: #666666;text-decoration:none;}
a.BodySmall:hover {COLOR: #0000FF;text-decoration:none;}

.BodyLinkSmall {
    FONT-SIZE: 10px;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
a.BodyLinkSmall:link {COLOR: #FF9900;text-decoration:none;}
a.BodyLinkSmall:visited {COLOR: #FF9900;text-decoration:none;}
a.BodyLinkSmall:hover {COLOR: #0000FF;text-decoration:none;}

.BodyGreySmall {
    FONT-SIZE: 10px;
    COLOR: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.Footer {
    FONT-SIZE: 8px;
    COLOR: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 6px 0px 10px;
    margin: 0px;
}
                                                                                                                                                             
.FootLinks {
    FONT-SIZE: 8px;
    COLOR: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 6px 0px 10px;
    margin: 0px;
}
a.FootLinks:link {COLOR: #666666;text-decoration:none}
a.FootLinks:visited {COLOR: #666666;text-decoration:none}
a.FootLinks:hover {COLOR: #0000FF;text-decoration:none}

.Alert {
    FONT-SIZE: 12px;
    COLOR: #FF0000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.AdminTable {
    border: 2px;
    border-style: ridge;
    padding: 3px 3px 3px 3px;
    white-space: nowrap;
}
                                                                                                                                                             
.NoteTable {
    border: 2px;
    border-style: ridge;
    padding: 0px 0px 0px 0px;
    white-space: nowrap;
}
                                                                                                                                                             
.NoteTableHeader {
    border: 0px;
    padding: 3px 3px 3px 3px;
    white-space: nowrap;
    background-color: #DDDDDD;
}
                                                                                                                                                             
.NoteTableBody {
    border: 0px;
    padding: 3px 3px 3px 3px;
    white-space: nowrap;
    background-color: #EEEEEE;
}

.RemTable {
    border: 2px;
    border-style: ridge;
    padding: 0px 0px 0px 0px;
    white-space: nowrap;
}
                                                                                                                                                             
.RemTableHeader {
    border: 0px;
    padding: 3px 3px 3px 3px;
    white-space: nowrap;
    background-color: #DDDDDD;
}
                                                                                                                                                             
.RemTableBody {
    border: 0px;
    padding: 3px 3px 3px 3px;
    white-space: nowrap;
    background-color: #EEEEEE;
}

.TableColHeadOn {
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 1px 1px 1px 1px;
    margin: 0px;
    border: 0px;
}
a.TableColHeadOn:link {COLOR: #000000;FONT-WEIGHT:bold;text-decoration:none;}
a.TableColHeadOn:visited {COLOR: #000000;FONT-WEIGHT:bold;text-decoration:none;}
a.TableColHeadOn:hover {COLOR: #0000FF;FONT-WEIGHT:bold;text-decoration:none;}

.TableColHeadOff {
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 1px 1px 1px 1px;
    margin: 0px
    border: 0px;
}
a.TableColHeadOff:link {COLOR: #000000;FONT-WEIGHT:bold;text-decoration:none;}
a.TableColHeadOff:visited {COLOR: #000000;FONT-WEIGHT:bold;text-decoration:none;}
a.TableColHeadOff:hover {COLOR: #0000FF;FONT-WEIGHT:bold;text-decoration:none;}

.TableRow {
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 1px 1px 1px 1px;
    margin: 0px;
    border: 0px;
    background-color: #F0F0F0;
}
a.TableRow:link {COLOR: #FF9900;text-decoration:none;}
a.TableRow:visited {COLOR: #FF9900;text-decoration:none;}
a.TableRow:hover {COLOR: #0000FF;text-decoration:none;}

.TableRowNew {
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 0px;
}
a.TableRowNew:link {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowNew:visited {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowNew:hover {COLOR: #0000FF;FONT-WEIGHT:bold;text-decoration:none;}

.TableRowAlert {
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    COLOR: #FF0000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 0px;
    background-color: #F0F0F0;
}
a.TableRowAlert:link {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowAlert:visited {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowAlert:hover {COLOR: #0000FF;FONT-WEIGHT:bold;text-decoration:none;}

.TableRowAttemptedContacted {
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 0px;
	background-color:#C4DAE9;
}
a.TableRowAttemptedContacted:link {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowAttemptedContacted:visited {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowAttemptedContacted:hover {COLOR: #0000FF;FONT-WEIGHT:bold;text-decoration:none;}


.TableRowToBePlaced {
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 0px;
	background-color:#E9DAC4;
}
a.TableRowToBePlaced:link {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowToBePlaced:visited {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowToBePlaced:hover {COLOR: #0000FF;FONT-WEIGHT:bold;text-decoration:none;}

.TableRowPlaced {
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: right;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 0px;
	background-color:#9CB4A4;
}
a.TableRowPlaced:link {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowPlaced:visited {COLOR: #FF9900;FONT-WEIGHT:bold;text-decoration:none;}
a.TableRowPlaced:hover {COLOR: #0000FF;FONT-WEIGHT:bold;text-decoration:none;}