/* Main */

@font-face {
    font-family: 'MyriadPro';
    src: url('http://www.irelocation.com/autotransportplus/fonts/myriadwebpro-webfont.eot');
    src: url('http://www.irelocation.com/autotransportplus/fonts/myriadwebpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.irelocation.com/autotransportplus/fonts/myriadwebpro-webfont.woff') format('woff'),
         url('http://www.irelocation.com/autotransportplus/fonts/myriadwebpro-webfont.ttf') format('truetype'),
         url('http://www.irelocation.com/autotransportplus/fonts/myriadwebpro-webfont.svg#MyriadPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('http://www.irelocation.com/autotransportplus/fonts/myriadpro-it-webfont.eot');
    src: url('http://www.irelocation.com/autotransportplus/fonts/myriadpro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.irelocation.com/autotransportplus/fonts/myriadpro-it-webfont.woff') format('woff'),
         url('http://www.irelocation.com/autotransportplus/fonts/myriadpro-it-webfont.ttf') format('truetype'),
         url('http://www.irelocation.com/autotransportplus/fonts/myriadpro-it-webfont.svg#MyriadProItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
background-color:#fff;
}

#wrapper {
width:960px;
margin: 0 auto;
}

#header {
width:960px;
height:93px;
}

#logo {
float:left;
width:40px;
height:93px;
}

#tagline {
float:right;
font-family: 'MyriadProItalic', Arial, Helvetica, sans-serif;
font-size:24px;
color: #0a497a;
font-weight:bold;
letter-spacing:-1px;
margin: 35px 0 0 0;
width:500px;
}

#content {
/*background: url(images/atp-content-bg.jpg) no-repeat;*/
background: url('images/atp-content-bg.jpg') no-repeat #0c548e;
width:960px;
height:412px;
}

#content-right {
background: url(images/atp-content-right.jpg) no-repeat;
float:right;
width:570px;
height:400px;
}

#content-left {
float:left;
}

#video {
background-color:#fff;
padding:10px;
margin:75px 17px 0 29px;
}

#button {
margin:0 0 0 22px;
border:0;
}

#site-info {
width:960px;
margin:0 auto;
padding:20px 10px 10px 10px;
text-align:center;
font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
font-size:12px;
color:#666;


}

/* Styles */

#content-right ul {
margin:45px 0 0 15px;
padding-left:40px;
}


#content-right ul li {
font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
list-style-type:none;
font-size:15px;
line-height:29px;
text-shadow: 0 0 0.2em #ffffbe, 0 0 0.2em #ffffbe,
        0 0 0.2em #ffffbe;
font-weight:500;
}
.content {
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	padding:20px 20px 40px;
	border-left:1px solid #0c548e;
	border-right:1px solid #0c548e;
	border-top:1px solid #0c548e;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-top:20px;
}
.content h1 {
	color:#ff8000;
}
.form_back {
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	display:block;
	float:left;
	margin:12px 20px 0 0;
	width:430px;
	height:180px;
}
.form_back ul {
	margin:0px;
	padding:0px;
}
.form_back ul li {
	display:block;
	clear:both;
	height:40px;
}
.form_back input {
	font-size:16px;
	color:#666666;
	width:186px;
	margin-right:10px;
	float:left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:1px solid #999999;
	padding:4px 6px;
}
.form_back table td {
	padding:5px;
	text-align:left;
}

#ext {
	width:40px;
}
#submit {
	width:206px;
	height:48px;
	border:0px solid #ffffff !important;
	padding:0;
}
.form_bottom {
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	display:block;
	clear:both;
	background-color:#0c548e;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	height:40px;
	padding-top:20px;
}

.form_bottom .form_cta {
	color:#FFFFFF;
	padding:10px 20px;
	background-color:#07497d;
	margin:0 auto;
	width:400px;
	text-align:center;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;	
}

.error {
	border:1px solid red !important;
}
#conv {
	border:0px solid #ffffff !important;
	height:1px;
	width:1px;
	display:none;
}
