<!--
        .textbox {
                color : Black;
                background-color : #E3F0F7;
                height : 19px;
                font-size : 12px;
        }
        .formfield {
                border-color : #666699 #666699 #666699 #666699;
                border-width : 1 1 1 1;
                color : Black; background-color : #99CCFF;
                height : 19px; font-size : 12px;
        }
        .button{
                color : Black;
                background-color : #E3F0F7;
                height : 19px;
                font-size : 12px;
        }
        BODY {font-family : Verdana, Arial, sans-serif; text-decoration : none; color : Black;  font-size : 8pt;}
        A { font-family : Verdana, Arial, sans-serif; text-decoration : none; color : Black; }
        A:HOVER { font-family : Verdana, Arial, sans-serif; color : Black; }

        .menu { font-family : Verdana, Arial, sans-serif; font-size : 8pt; color : #004080; }
        .menu:link { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
        .menu:hover { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
        .menu:visited { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
        .navigation { font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080; }

        .navigation:link { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
        .navigation:hover { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080;  }
        .navigation:visited { text-decoration: none; font-family : Verdana, Arial, sans-serif; font-size : 8pt;color : #004080; }

        .autolink:link { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #004080; }
        .autolink:hover { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #004080; }
        .autolink:visited { text-decoration: underline; font-family : Courier New, Verdana, Arial, sans-serif; font-size : 9pt; color : #004080; }

        TD.rempli { font-family : Verdana, Arial, sans-serif; background-color : #66CC99;}
        TD.memo { font-family : Verdana, Arial, sans-serif; background-color: #E8E8E8;}
        TD.cent { font-family : Verdana, Arial, sans-serif; background-color: #E8E8E8; text-align: center; font-size : 8pt; color: Black;}
        TD.right { font-family : Verdana, Arial, sans-serif; background-color: #E8E8E8; text-align: right; font-size : 8pt; color: Black;}
        TD.headers { font-family : Verdana, Arial, sans-serif; background-color : #CFCFCF; text-align : center; font-size : 8pt; color:  #004080;  }
        TD.default { font-family : Verdana, Arial, sans-serif; background-color : #E8E8E8; font-size : 8pt;color : Black; }
        TD.default9 { font-family : Verdana, Arial, sans-serif; background-color : #E8E8E8; font-size : 9pt;color : Black; }
        TD.title { font-family : Verdana, Arial, sans-serif; color: #191970; background-color : #A7D2E4; text-align : center; font-size : 8pt;}
        TD.headerright { font-family : Verdana, Arial, sans-serif; color: #004080; background-color : #CFCFCF; text-align : right;  font-size : 8pt; }
        SELECT         { font-size : 8pt; }
-->