<?php /* Smarty version 2.5.0, created on 2005-02-02 18:48:13
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/htaccess/list.tpl */ ?>
<?php $this->_load_plugins(array(
array('function', 'popup_init', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/htaccess/list.tpl', 3, false),
array('function', 'assign', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/htaccess/list.tpl', 9, false),
array('function', 'popup', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/htaccess/list.tpl', 11, false),
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/htaccess/list.tpl', 20, false),)); ?><?php echo $this->_tpl_vars['method']->exe('htaccess','list_dirs'); ?>
 		<?php if (( $this->_tpl_vars['method']->result == FALSE )): ?> <?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>
 <?php endif; ?>
<?php if ($this->_tpl_vars['htaccess_display'] == true): ?>
<?php echo $this->_plugins['function']['popup_init'][0](array('src' => $this->_tpl_vars['URL']."/includes/overlib/overlib.js"), $this) ; ?>

<?php if (count((array)$this->_tpl_vars['htaccess_results'])):
    foreach ((array)$this->_tpl_vars['htaccess_results'] as $this->_tpl_vars['record']):
?>       
<table width="90%" border="0" cellpadding="0">
  <tr>  
    <td> 
	<font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
      <?php echo $this->_plugins['function']['assign'][0](array('var' => 'desc','value' => $this->_tpl_vars['record']['description']), $this) ; ?>

	  <?php if ($this->_tpl_vars['desc'] == ''): ?><?php echo $this->_plugins['function']['assign'][0](array('var' => 'desc','value' => 'No description available'), $this) ; ?>
<?php endif; ?>
      <a href="<?php echo $this->_tpl_vars['record']['url']; ?>
" target="_blank" <?php echo $this->_plugins['function']['popup'][0](array('fgcolor' => 'FCFCFC','sticky' => false,'width' => '170','caption' => 'Description','text' => $this->_tpl_vars['desc'],'snapx' => 1,'snapy' => 1), $this) ; ?>
> 
      <u><?php echo $this->_tpl_vars['record']['name']; ?>

      </u></a> 
	  </font></td>
	</tr>
</table> 
<?php endforeach; endif; ?>
<?php else: ?>
<font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
<?php $this->_tag_stack[] = array('translate', array('module' => 'htaccess')); $this->_plugins['block']['translate'][0](array('module' => 'htaccess'), null, $this); ob_start(); ?>
none_authorized 
<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
</font> 
<?php endif; ?>