<?php /* Smarty version 2.5.0, created on 2005-02-02 18:48:11
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account/account.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account/account.tpl', 10, false),)); ?><?php if (@constant('SESS_LOGGED') != true): ?>
	<?php echo $this->_tpl_vars['block']->display("account:login"); ?>

<?php else: ?>
<table width="460" border="0" cellpadding="0" class="body" cellspacing="0" align="center">
  <tr> 
    <td>
      <div align="center">
        <table width="200" border="0" cellspacing="0" cellpadding="0" class="body" align="left">
          <tr> 
            <td valign="top" align="center" width="35%"><a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=account:view"><?php $this->_tag_stack[] = array('translate', array('module' => 'account')); $this->_plugins['block']['translate'][0](array('module' => 'account'), null, $this); ob_start(); ?>account_link<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?></a><br>
              <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=core:user_search&module=account_billing&_next_page=user_search_show&_next_page_one=user_view"><?php $this->_tag_stack[] = array('translate', array('module' => 'account')); $this->_plugins['block']['translate'][0](array('module' => 'account'), null, $this); ob_start(); ?>billing_link<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?></a><br>
              <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=core:user_search&module=discount&_next_page=user_search_show"><?php $this->_tag_stack[] = array('translate', array('module' => 'account')); $this->_plugins['block']['translate'][0](array('module' => 'account'), null, $this); ob_start(); ?>discount_link<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?></a></td>
          </tr>
        </table>
      </div>
    </td>
    <td>
      <div align="center">
<table width="200" border="0" cellspacing="0" cellpadding="0" class="body" align="left">
          <tr> 
            <td valign="top" align="center" width="35%"><a href="?_page=staff:staff"><?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>contact<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?></a>
			
			<br>
              <a href="?_page=newsletter:newsletter"><?php $this->_tag_stack[] = array('translate', array('module' => 'account')); $this->_plugins['block']['translate'][0](array('module' => 'account'), null, $this); ob_start(); ?>newsletter_link<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?></a> <br>
              <?php if ($this->_tpl_vars['list']->is_installed('affiliate')): ?>
              <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=affiliate:affiliate"><?php $this->_tag_stack[] = array('translate', array('module' => 'account')); $this->_plugins['block']['translate'][0](array('module' => 'account'), null, $this); ob_start(); ?>affiliate_link<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?></a> 
              <?php endif; ?>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr> 
    <td>&nbsp; </td>
    <td>&nbsp; </td>
  </tr>
  <tr> 
    <td> 
      <table width="200" border="0" cellspacing="0" cellpadding="0" class="body">
        <tr> 
          <td valign="top" align="center" width="35%"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
                    <form name="form1" method="post" action="">
                      <tr> 
                        <td> 
                          <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tr valign="top"> 
                              <td width="65%" class="table_heading"> 
                                <div align="center"> 
                                  <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                  menu 
                                  <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                </div>
                              </td>
                            </tr>
                            <tr valign="top"> 
                              <td width="65%" class="row1"> 
                                <table width="100%" border="0" cellspacing="5" cellpadding="1" class="row1">
                                  <tr> 
                                    <td width="74%"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      Due Invoices</td>
                                    <td width="26%" align="right"> <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=core:user_search&module=invoice&_next_page=user_search_show&invoice_billing_status=0&_next_page_one=user_view"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      menu_view 
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      </a> </td>
                                  </tr>
                                  <tr> 
                                    <td width="74%"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      Paid Invoices</td>
                                    <td width="26%" align="right"> <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=core:user_search&module=invoice&_next_page=user_search_show&invoice_billing_status=1&_next_page_one=user_view"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      menu_view 
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      </a></td>
                                  </tr>
                                  <tr> 
                                    <td width="74%"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      All Invoices</td>
                                    <td width="26%" align="right"> <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=core:user_search&module=invoice&_next_page=user_search_show&_next_page_one=user_view"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      menu_view 
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      </a></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td> 
      <table width="200" border="0" cellspacing="0" cellpadding="0" class="body">
        <tr> 
          <td valign="top" align="center" width="35%"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
                    <form name="form1" method="post" action="">
                      <tr> 
                        <td> 
                          <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tr valign="top"> 
                              <td width="65%" class="table_heading"> 
                                <div align="center"> 
                                  <?php $this->_tag_stack[] = array('translate', array('module' => 'service')); $this->_plugins['block']['translate'][0](array('module' => 'service'), null, $this); ob_start(); ?>
                                  menu 
                                  <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                </div>
                              </td>
                            </tr>
                            <tr valign="top"> 
                              <td width="65%" class="row1"> 
                                <table width="100%" border="0" cellspacing="5" cellpadding="1" class="row1">
                                  <tr> 
                                    <td width="74%"> Active Services</td>
                                    <td width="26%" align="right"> <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=core:user_search&module=service&_next_page=user_search_show&service_active=1&_next_page_one=user_view"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      menu_view 
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      </a> </td>
                                  </tr>
                                  <tr> 
                                    <td width="74%"> Inactive Services</td>
                                    <td width="26%" align="right"> <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=core:user_search&module=service&_next_page=user_search_show&service_active=0&_next_page_one=user_view"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      menu_view 
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      </a></td>
                                  </tr>
                                  <tr> 
                                    <td width="74%"> All Services</td>
                                    <td width="26%" align="right"> <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=core:user_search&module=service&_next_page=user_search_show&_next_page_one=user_view"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                                      menu_view 
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      </a></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td><br>
      <br>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td valign="top"> 
      <?php if ($this->_tpl_vars['list']->is_installed('ticket')): ?>
      <table width="200" border="0" cellspacing="0" cellpadding="0" class="body">
        <tr> 
          <td valign="top" align="center" width="35%"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
                    <form name="form1" method="post" action="">
                      <tr> 
                        <td> 
                          <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tr valign="top"> 
                              <td width="65%" class="table_heading"> 
                                <div align="center"> 
                                  <?php $this->_tag_stack[] = array('translate', array('module' => 'ticket')); $this->_plugins['block']['translate'][0](array('module' => 'ticket'), null, $this); ob_start(); ?>
                                  menu 
                                  <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                </div>
                              </td>
                            </tr>
                            <tr valign="top"> 
                              <td width="65%" class="row1"> 
                                <table width="100%" border="0" cellspacing="5" cellpadding="1" class="row1">
                                  <tr> 
                                    <td width="74%"> Create New Ticket</td>
                                    <td width="26%" align="right"> <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=ticket:ticket"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'ticket')); $this->_plugins['block']['translate'][0](array('module' => 'ticket'), null, $this); ob_start(); ?>
                                      menu_add 
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      </a> </td>
                                  </tr>
                                  <tr> 
                                    <td width="74%"> Manage Tickets </td>
                                    <td width="26%" align="right"> <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=ticket:ticket"> 
                                      <?php $this->_tag_stack[] = array('translate', array('module' => 'ticket')); $this->_plugins['block']['translate'][0](array('module' => 'ticket'), null, $this); ob_start(); ?>
                                      menu_view 
                                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                      </a></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <?php endif; ?>
    </td>
    <td valign="top"> 
      <?php if ($this->_tpl_vars['list']->is_installed('htaccess')): ?>
      <?php echo $this->_tpl_vars['block']->display('htaccess:htaccess'); ?>

      <?php endif; ?>
    </td>
  </tr>
</table>
<?php endif; ?>