<?php /* Smarty version 2.5.0, created on 2005-02-02 18:50:52
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account/login_small.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account/login_small.tpl', 5, false),)); ?> <form name="form1" method="post" action="">
  <table width="140" border="0" cellspacing="3" cellpadding="0" align="center" class="body">
    <tr> 
      <td width="48%"> <b> 
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        username 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </b><br>
        <input type="text" name="_username" class="form_field" value="<?php echo $this->_tpl_vars['VAR']['_username']; ?>
" size="10">
      </td>
    </tr>
    <tr> 
      <td width="48%"> <b> 
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        password 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </b><br>
        <input type="password" name="_password" class="form_field" size="10">
      </td>
    </tr>
    <tr> 
      <td width="48%"> 
        <input type="hidden" name="_login" value="Y">
        <?php if ($this->_tpl_vars['VAR']['_page'] == ""): ?>
        <input type="hidden" name="_page" value="account:account">
        <?php else: ?>
        <input type="hidden" name="_page" value="<?php echo $this->_tpl_vars['VAR']['_page']; ?>
">
        <?php endif; ?>
		<?php if ($this->_tpl_vars['VAR']['_htaccess_id'] != "" || $this->_tpl_vars['VAR']['_htaccess_dir_id'] != ""): ?>
        <input type="hidden" name="_htaccess_id" value="<?php echo $this->_tpl_vars['VAR']['_htaccess_id']; ?>
"> 
        <input type="hidden" name="_htaccess_dir_id" value="<?php echo $this->_tpl_vars['VAR']['_htaccess_dir_id']; ?>
">
		<?php endif; ?>
        <input type="submit" name="_login" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>login<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_button">
      </td>
    </tr>
    <tr> 
      <td width="48%"> <br>
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        login_user_add 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <a href="?_page=account:add"> <br>
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        register 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </a><br>
        <br>
      </td>
    </tr>
    <tr> 
      <td width="48%"> 
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        reset_password_txt 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <a href="?_page=account:password"> <br>
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        reset_password 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </a><br>
      </td>
    </tr>
    <?php if (@constant('DEFAULT_ACCOUNT_STATUS') == '1'): ?>
    <tr> 
      <td width="48%" class="row1"> 
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        verify_txt 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <a href="?_page=account:verify"> <br>
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        verify 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </a> </td>
    </tr>
    <?php endif; ?>
  </table>
  </form>
 