<?php /* Smarty version 2.5.0, created on 2005-02-02 18:58:00
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/cart/admin_view.tpl */ ?>
<?php $this->_load_plugins(array(
array('modifier', 'upper', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/cart/admin_view.tpl', 72, false),
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/cart/admin_view.tpl', 87, false),)); ?><?php echo $this->_tpl_vars['block']->display("core:top_clean"); ?>


<?php echo $this->_tpl_vars['method']->exe('cart','admin_view'); ?>

<?php if (( $this->_tpl_vars['method']->result == FALSE )): ?>
    <?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>

<?php else: ?>
	<?php if ($this->_tpl_vars['results'] <= 0): ?>
        No items in your cart at this time....
    <?php else: ?>

	<?php echo '
		<script language="JavaScript">
		<!-- START

		var acct = \''; ?>
<?php echo $this->_tpl_vars['VAR']['account_id']; ?>
<?php echo '\';
		
		function changeDomainTerm(id,term)
		{
			showIFrame(\'iframeCart\',0,0,\'?_page=cart:changeqty&type=3&_escape=1&id=\'+id+\'&term=\'+term); 			
		}
				
		function changeRecurring(id,schedule)
		{
			showIFrame(\'iframeCart\',0,0,\'?_page=cart:admin_changeqty&account_id=\'+acct+\'&type=2&_escape=1&id=\'+id+\'&schedule=\'+schedule); 			
		}
		
		function changeQuantity(id,qty)
		{ 
			if(qty == "0") qty = 1;					
			showIFrame(\'iframeCart\',0,0,\'?_page=cart:admin_changeqty&account_id=\'+acct+\'&type=1&_escape=1&id=\'+id+\'&qty=\'+qty); 			
		}
		
		function deleteCart(id)
		{
			document.getElementById(id).style.display = \'none\';
			showIFrame(\'iframeCart\',0,0,\'?_page=cart:admin_changeqty&account_id=\'+acct+\'&_escape=1&id=\'+id+\'&qty=0\'); 
		}
		
		function updatePrice(id,base,setup,qty)
		{ 
			document.getElementById("quantity_"+id).value = qty;
			document.getElementById("def_base_price_"+id).style.display=\'none\';
			document.getElementById("base_price_"+id).innerHTML = base;		
			
			if(document.getElementById("def_setup_price_"+id))
			document.getElementById("def_setup_price_"+id).style.display=\'none\';
			
			if(document.getElementById("setup_price_"+id))
			document.getElementById("setup_price_"+id).innerHTML = setup;
		}		
		
		//  END -->
		</script>
'; ?>

<!-- LOOP THROUGH EACH RECORD -->
<?php if (count((array)$this->_tpl_vars['cart'])):
    foreach ((array)$this->_tpl_vars['cart'] as $this->_tpl_vars['cart']):
?>
<DIV id="<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
  <?php if ($this->_tpl_vars['cart']['cart_type'] == '2'): ?>
  <!-- Show domain -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
    <tr> 
      <td> 
        <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
          <tr> 
            <td width="70%" class="row2" valign="top"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row2">
                <tr> 
                  <td width="67%" class="row2"><b> </b> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
                      <tr> 
                        <td width="51%"><b> <u> 
                          <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart']['domain_name']); ?>
.<?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart']['domain_tld']); ?>

                          </u> </b></td>
                        <td width="37%">&nbsp;</td>
                        <td width="12%" align="right"><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart_assoc']['product_id']; ?>
"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          </a><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart']['product_id']; ?>
"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/trash_16.gif" border="0" alt="Remove from Cart"></a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr> 
                  <td width="67%"> &nbsp;&nbsp;<b> 
                    <?php if ($this->_tpl_vars['cart']['host_type'] == 'register'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    register 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php elseif ($this->_tpl_vars['cart']['host_type'] == 'transfer'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    transfer 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php elseif ($this->_tpl_vars['cart']['host_type'] == 'park'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    park 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    </b></td>
                </tr>
                <?php if ($this->_tpl_vars['cart']['cart_type'] == '1'): ?>
                <?php if ($this->_tpl_vars['cart']['host_type'] == 'ns_transfer'): ?>
                <?php endif; ?>
                <?php if ($this->_tpl_vars['cart']['host_type'] == 'ip'): ?>
                <?php endif; ?>
                <?php endif; ?>
              </table>
            </td>
            <td width="30%" class="row1" valign="top" align="right"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row1">
                <tr> 
                  <td width="43%">Base Price</td>
                  <td width="57%" valign="middle" align="right"> 
                    <div id="def_base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"> 
                      <DIV id="def_base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
">
                        <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price'],@constant('SESS_CURRENCY')); ?>

                      </DIV>
                    <DIV id="base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></DIV>
                    </div>
                    <div id="base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"></div>
                  </td>
                </tr>
              </table>
			  <?php if ($this->_tpl_vars['cart']['host_type'] == 'register'): ?>
              <select id="quantity_<?php echo $this->_tpl_vars['cart']['id']; ?>
" class="form_menu" onChange="changeDomainTerm('<?php echo $this->_tpl_vars['cart']['id']; ?>
',this.value);">
                <?php if (count((array)$this->_tpl_vars['cart']['tld_arr'])):
    foreach ((array)$this->_tpl_vars['cart']['tld_arr'] as $this->_tpl_vars['tld_term'] => $this->_tpl_vars['tld_price']):
?>
                <option value="<?php echo $this->_tpl_vars['tld_term']; ?>
" <?php if ($this->_tpl_vars['tld_term'] == $this->_tpl_vars['cart']['domain_term']): ?>selected<?php endif; ?>> 
                <?php echo $this->_tpl_vars['tld_term']; ?>

                Year 
                <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['tld_price'],@constant('SESS_CURRENCY')); ?>

                </option>
                <?php endforeach; endif; ?>
              </select>
			  <?php endif; ?>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<?php else: ?>
<!-- Show product -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
    <tr>
      <td> 
        <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
          <tr> 
            <td width="70%" class="row2" valign="top"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row2">
                <tr> 
                  <td width="67%" class="row2"><b> </b> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
                      <tr> 
                        <td width="51%"><b> 
                          <?php if ($this->_tpl_vars['list']->translate('product_translate','name','product_id',$this->_tpl_vars['cart']['product_id'],'translate_product')): ?>
                          <?php endif; ?>
                          <U> 
                          <?php echo $this->_tpl_vars['translate_product']['name']; ?>

                          </U> </b></td>
                        <td width="35%"><b>&nbsp;</b>( <?php echo $this->_tpl_vars['cart']['product']['sku']; ?>
  ) &nbsp; </td>
                        <td width="14%" align="right"> <a href="?_page=product:admin_details&id=<?php echo $this->_tpl_vars['cart']['product_id']; ?>
&_escape=1"> 
                          </a> <a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          <img title=Delete src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/trash_16.gif" border="0"></a> 
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr> 
                  <td width="67%"> &nbsp;&nbsp;<b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    price_type 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    : </b> 
                    <?php if ($this->_tpl_vars['cart']['product']['price_type'] == '0'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    price_type_one 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['cart']['product']['price_type'] == '1'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    price_type_recurr 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['cart']['product']['price_type'] == '2'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    price_type_trial 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                </tr>
                <tr> 
                  <td width="67%"> 
                    <?php if ($this->_tpl_vars['cart']['product']['price_type'] == '1'): ?>
                    &nbsp;&nbsp; 
                    <select id="recurr_schedule_<?php echo $this->_tpl_vars['cart']['id']; ?>
" name="recurr_schedule_<?php echo $this->_tpl_vars['cart']['id']; ?>
" onChange="changeRecurring('<?php echo $this->_tpl_vars['cart']['id']; ?>
',this.value);" class="form_menu">
                      <?php if (count((array)$this->_tpl_vars['cart']['price'])):
    foreach ((array)$this->_tpl_vars['cart']['price'] as $this->_tpl_vars['key'] => $this->_tpl_vars['price_recurr']):
?>
                      <option value="<?php echo $this->_tpl_vars['key']; ?>
" <?php if ($this->_tpl_vars['cart']['recurr_schedule'] == $this->_tpl_vars['key']): ?> selected<?php endif; ?>> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['price_recurr']['base'],@constant('SESS_CURRENCY')); ?>

                      &nbsp;&nbsp; 
                      <?php if ($this->_tpl_vars['key'] == '0'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_week 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '1'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_month 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '2'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_quarter 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '3'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_semianual 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '4'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_anual 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '5'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_twoyear 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      &nbsp;&nbsp; + &nbsp; 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['price_recurr']['setup'],@constant('SESS_CURRENCY')); ?>

                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      setup
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      </option>
                      <?php endforeach; endif; ?>
                    </select>      
					<?php endif; ?>                   
                  </td>
                </tr>
				
				 
                <?php if ($this->_tpl_vars['cart']['cart_type'] == '1'): ?>
				<?php if ($this->_tpl_vars['cart']['host_type'] == 'ns_transfer'): ?>
                <tr>
                  <td width="67%">&nbsp;&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    host_type_domain 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    - <u>
                    <?php echo $this->_tpl_vars['cart']['domain_name']; ?>
.<?php echo $this->_tpl_vars['cart']['domain_tld']; ?>

                    </u></td>
                </tr>
				<?php endif; ?>
				
				<?php if ($this->_tpl_vars['cart']['host_type'] == 'ip'): ?>
                <tr>
                  <td width="67%">&nbsp;&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    host_type_ip 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                </tr>
				<?php endif; ?>
				<?php endif; ?>				
              </table>
            </td>
            <td width="30%" class="row1" valign="top"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row1">
                <tr> 
                  <td width="43%">Base Price</td>
                  <td width="57%" valign="middle" align="right"> 
                    <DIV id="def_base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_base'],@constant('SESS_CURRENCY')); ?>

                    </DIV>
                    <DIV id="base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></DIV>
                  </td>
                </tr>
                <tr> 
                  <td width="43%">Setup Price</td>
                  <td width="57%" valign="middle" align="right"> 
                    <DIV id="def_setup_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_setup'],@constant('SESS_CURRENCY')); ?>

                    </DIV>
                    <DIV id="setup_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></DIV>
                  </td>
                </tr>
                <tr> 
                  <td width="43%"> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    quantity 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                  <td width="57%" valign="middle" align="right"> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="76%" align="right"> 
                          <input type="text" id="quantity_<?php echo $this->_tpl_vars['cart']['id']; ?>
" name="quantity_<?php echo $this->_tpl_vars['cart']['id']; ?>
" size="2" class="form_field" value="<?php echo $this->_tpl_vars['cart']['quantity']; ?>
" onChange="changeQuantity('<?php echo $this->_tpl_vars['cart']['id']; ?>
',this.value);" <?php if ($this->_tpl_vars['cart']['product']['price_type'] != '0'): ?>disabled<?php endif; ?>>
                        </td>
                        <td width="24%" valign="middle" align="right"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/calc_16.gif" border="0"></td>
                      </tr>
                    </table>                    
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
 </table>
<?php endif; ?>
<br> 

<?php if (count((array)$this->_tpl_vars['cart']['assoc'])):
    foreach ((array)$this->_tpl_vars['cart']['assoc'] as $this->_tpl_vars['cart_assoc']):
?> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
    <tr>
      <td> 
        <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
          <tr> 
            <td width="70%" class="row2" valign="top"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row2">
                <tr> 
                  <td width="67%" class="row2"><b> </b> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
                      <tr> 
                        <td width="51%"><b> <u> 
                          <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart_assoc']['domain_name']); ?>

                          . 
                          <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart_assoc']['domain_tld']); ?>

                          </u> </b></td>
                        <td width="37%">&nbsp;</td>
                        <td width="12%" align="right"><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart_assoc']['product_id']; ?>
"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          </a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr> 
                  <td width="67%"> &nbsp;&nbsp;<b> </b> 
                    <?php if ($this->_tpl_vars['cart_assoc']['host_type'] == 'register'): ?>
						<?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?> host_type_register <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
					<?php elseif ($this->_tpl_vars['cart_assoc']['host_type'] == 'transfer'): ?>
						<?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?> host_type_transfer <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
					<?php elseif ($this->_tpl_vars['cart_assoc']['host_type'] == 'park'): ?>
						<?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?> host_type_park <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
					<?php endif; ?>
                    <?php echo $this->_tpl_vars['cart']['product']['sku']; ?>

                  </td>
                </tr>
              </table>
            </td>
            <td width="30%" class="row1" valign="top" align="right"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row1">
                <tr> 
                  <td width="43%">Base Price</td>
                  <td width="57%" valign="middle" align="right"> 
                    <div id="def_base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart_assoc']['price'],@constant('SESS_CURRENCY')); ?>

                    </div>
                    <div id="base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"></div> 
                  </td>
                </tr>
              </table>
			  <?php if ($this->_tpl_vars['cart_assoc']['host_type'] == 'register'): ?>
              <select id="quantity_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
" class="form_menu" onChange="changeDomainTerm('<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
',this.value);">
                <?php if (count((array)$this->_tpl_vars['cart_assoc']['tld_arr'])):
    foreach ((array)$this->_tpl_vars['cart_assoc']['tld_arr'] as $this->_tpl_vars['tld_term'] => $this->_tpl_vars['tld_price']):
?>
                <option value="<?php echo $this->_tpl_vars['tld_term']; ?>
" <?php if ($this->_tpl_vars['tld_term'] == $this->_tpl_vars['cart_assoc']['domain_term']): ?>selected<?php endif; ?>> 
                <?php echo $this->_tpl_vars['tld_term']; ?>

                Year  
                <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['tld_price'],@constant('SESS_CURRENCY')); ?>

                </option>
                <?php endforeach; endif; ?>
              </select>
			  <?php endif; ?>
            </td>
          </tr>
        </table>
      </td>
    </tr>
 </table>
<br> 
<?php endforeach; endif; ?>

</DIV>
<?php endforeach; endif; ?>
<iframe id="iframeCart" style="border:0px; width:0px; height:0px;" scrolling="no" ALLOWTRANSPARENCY="true" frameborder="0"></iframe> 
 
<?php endif; ?>
<?php endif; ?>