<?php /* Smarty version 2.5.0, created on 2005-02-02 18:57:50
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/product/admin_details.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/product/admin_details.tpl', 5, false),
array('function', 'assign', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/product/admin_details.tpl', 201, false),)); ?><?php echo $this->_tpl_vars['block']->display("core:top_clean"); ?>


<?php echo $this->_tpl_vars['method']->exe('product','admin_details'); ?>
 <?php if (( $this->_tpl_vars['method']->result == FALSE || ! $this->_tpl_vars['product'] )): ?> <?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>
 <?php else: ?>
<div align="center">
  <input type="submit" onclick="addCart('cart')" name="cart" value="<?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>cart<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_button">
  <br>
  <br>
</div>
<form id="product_view" name="product_view" method="post" action="">
  
  <input type="hidden"  id="page"  name="_page"  value="">
  <input type="hidden"  name="do[]"  value="cart:admin_add">
  <input type="hidden"  name="product_id"  value="<?php echo $this->_tpl_vars['product']['id']; ?>
">
  <input type="hidden"  name="_escape"  value="1">
  <input type="hidden"  name="account_id"  value="<?php echo $this->_tpl_vars['VAR']['account_id']; ?>
">
  <?php if ($this->_tpl_vars['list']->translate('product_translate',"name,description_full",'product_id',$this->_tpl_vars['product']['id'],'translate_product')): ?>
  <?php endif; ?>
  <a href="javascript:addCart('checkout');"></a> 
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="top" class="row2"> 
      <td width="50%"> <b> 
        <?php echo $this->_tpl_vars['translate_product']['name']; ?>

        </b> </td>
    </tr>
    <tr valign="top" class="row1"> 
      <td width="50%"><?php echo $this->_tpl_vars['translate_product']['description_full']; ?>
 </td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="top" class="row2"> 
      <td width="50%"> <b> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        field_sku 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </b> </td>
      <td width="50%"><b> </b></td>
    </tr>
    <tr valign="top" class="row1"> 
      <td width="50%"> 
        <?php echo $this->_tpl_vars['product']['sku']; ?>

      </td>
      <td width="50%" valign="middle">&nbsp; </td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="top" class="row2"> 
      <td width="50%"> <b> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        field_price_type 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </b><br>
      </td>
      <td width="50%"> <b> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        field_taxable 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </b> </td>
    </tr>
    <tr valign="top"> 
      <td width="50%"> 
        <?php if ($this->_tpl_vars['product']['price_type'] == '0'): ?>
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        price_type_one 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php endif; ?>
        <?php if ($this->_tpl_vars['product']['price_type'] == '1'): ?>
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        price_type_recurr 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php endif; ?>
        <?php if ($this->_tpl_vars['product']['price_type'] == '2'): ?>
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        price_type_trial 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php endif; ?>
      </td>
      <td width="50%"> 
        <?php if ($this->_tpl_vars['product']['taxable']): ?>
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        true 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php else: ?>
        <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
        false 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php endif; ?>
      </td>
    </tr>
  </table>
  <?php if ($this->_tpl_vars['product']['price_type'] == '1'): ?>
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="top" class="row2"> 
      <td width="50%"><b> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        field_price_recurr_type 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </b></td>
    </tr>
    <tr valign="top" class="row1"> 
      <td width="50%"> 
        <select name="recurr_schedule" class="form_menu">
          <?php if (count((array)$this->_tpl_vars['price'])):
    foreach ((array)$this->_tpl_vars['price'] as $this->_tpl_vars['key'] => $this->_tpl_vars['price_recurr']):
?>
          <option value="<?php echo $this->_tpl_vars['key']; ?>
" <?php if ($this->_tpl_vars['product']['price_recurr_default'] == $this->_tpl_vars['key']): ?> selected<?php endif; ?>> 
          <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['price_recurr']['base'],@constant('SESS_CURRENCY')); ?>

          &nbsp;&nbsp; 
          <?php if ($this->_tpl_vars['key'] == '0'): ?>
          <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
          recurr_week 
          <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
          <?php endif; ?>
          <?php if ($this->_tpl_vars['key'] == '1'): ?>
          <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
          recurr_month 
          <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
          <?php endif; ?>
          <?php if ($this->_tpl_vars['key'] == '2'): ?>
          <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
          recurr_quarter 
          <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
          <?php endif; ?>
          <?php if ($this->_tpl_vars['key'] == '3'): ?>
          <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
          recurr_semianual 
          <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
          <?php endif; ?>
          <?php if ($this->_tpl_vars['key'] == '4'): ?>
          <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
          recurr_anual 
          <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
          <?php endif; ?>
          <?php if ($this->_tpl_vars['key'] == '5'): ?>
          <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
          recurr_twoyear 
          <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
          <?php endif; ?>
          &nbsp;&nbsp; + &nbsp; 
          <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['price_recurr']['setup'],@constant('SESS_CURRENCY')); ?>

          <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>setup<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
		  </option>
          <?php endforeach; endif; ?>
        </select>
      </td>
    </tr>
  </table>
  <?php else: ?>
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="top" class="row2"> 
      <td width="50%"> <b> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        field_price_base 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </b> </td>
      <td width="50%"> <b> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        field_price_setup 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </b> </td>
    </tr>
    <tr valign="top"> 
      <td width="50%"> 
        <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['price']['base'],@constant('SESS_CURRENCY')); ?>

      </td>
      <td width="50%"> 
        <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['price']['setup'],@constant('SESS_CURRENCY')); ?>

      </td>
    </tr>
  </table>
  <?php endif; ?>
  <?php if ($this->_tpl_vars['product']['price_type'] == '2'): ?>
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="top"> 
      <td width="76%"> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product','sku' => $this->_tpl_vars['trial']['sku'])); $this->_plugins['block']['translate'][0](array('module' => 'product','sku' => $this->_tpl_vars['trial']['sku']), null, $this); ob_start(); ?>
        trial_desc 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?> <br>
        <?php if ($this->_tpl_vars['product']['price_trial_length_type'] == '0'): ?>
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product','sku1' => $this->_tpl_vars['trial']['sku'],'length' => $this->_tpl_vars['product']['price_trial_length'])); $this->_plugins['block']['translate'][0](array('module' => 'product','sku1' => $this->_tpl_vars['trial']['sku'],'length' => $this->_tpl_vars['product']['price_trial_length']), null, $this); ob_start(); ?>
        trial_length_days 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php endif; ?>
        <?php if ($this->_tpl_vars['product']['price_trial_length_type'] == '1'): ?>
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product','sku1' => $this->_tpl_vars['trial']['sku'],'length' => $this->_tpl_vars['product']['price_trial_length'])); $this->_plugins['block']['translate'][0](array('module' => 'product','sku1' => $this->_tpl_vars['trial']['sku'],'length' => $this->_tpl_vars['product']['price_trial_length']), null, $this); ob_start(); ?>
        trial_length_weeks 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php endif; ?>
        <?php if ($this->_tpl_vars['product']['price_trial_length_type'] == '2'): ?>
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product','sku1' => $this->_tpl_vars['trial']['sku'],'length' => $this->_tpl_vars['product']['price_trial_length'])); $this->_plugins['block']['translate'][0](array('module' => 'product','sku1' => $this->_tpl_vars['trial']['sku'],'length' => $this->_tpl_vars['product']['price_trial_length']), null, $this); ob_start(); ?>
        trial_length_months 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php endif; ?>
        <br>
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product','sku2' => $this->_tpl_vars['trial']['sku'])); $this->_plugins['block']['translate'][0](array('module' => 'product','sku2' => $this->_tpl_vars['trial']['sku']), null, $this); ob_start(); ?>
        trial_bill_desc 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
      </td>
    </tr>
  </table>
  <?php endif; ?>
  <?php if ($this->_tpl_vars['attr']): ?><br>
  <?php if (count((array)$this->_tpl_vars['attr'])):
    foreach ((array)$this->_tpl_vars['attr'] as $this->_tpl_vars['key'] => $this->_tpl_vars['attr_arr']):
?>
  <?php echo $this->_plugins['function']['assign'][0](array('var' => 'attr_id','value' => $this->_tpl_vars['attr_arr']['id']), $this) ; ?>

  <?php if ($this->_tpl_vars['attr_arr']['type'] == '0'): ?>
  
  
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="middle" class="row2"> 
      <td width="96%"> <b> </b> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
          <tr> 
            <td width="70%" valign="middle"><b> 
              <?php echo $this->_tpl_vars['attr_arr']['name']; ?>

              </b></td>
            <td width="30%" valign="middle" align="right"> 
              <?php if ($this->_tpl_vars['attr_arr']['price_base'] != 0): ?>
              <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['attr_arr']['price_base'],@constant('SESS_CURRENCY')); ?>

              <?php endif; ?>
              <?php if ($this->_tpl_vars['attr_arr']['price_setup'] != 0): ?>
              <?php if ($this->_tpl_vars['attr_arr']['price_base'] != 0): ?>
              + 
              <?php endif; ?>
              <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['attr_arr']['price_setup'],@constant('SESS_CURRENCY')); ?>

              <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
              setup 
              <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
              <?php endif; ?>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <?php if ($this->_tpl_vars['attr_arr']['description']): ?>
    <tr valign="top"> 
      <td width="96%"> 
	  &nbsp;&nbsp;
	    
        <input type="checkbox" name="attr[<?php echo $this->_tpl_vars['attr_id']; ?>
]" value="Yes" <?php if ($this->_tpl_vars['VAR']['attr'][$this->_tpl_vars['attr_id']] || $this->_tpl_vars['attr_arr']['default']): ?>checked<?php endif; ?> >
        &nbsp; <?php echo $this->_tpl_vars['attr_arr']['description']; ?>

      </td>
    </tr>
    <?php endif; ?>
  </table>
  <?php elseif ($this->_tpl_vars['attr_arr']['type'] == '1'): ?>
 
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="middle" class="row2"> 
      <td width="96%"> <b> </b> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
          <tr> 
            <td width="70%" valign="middle"><b> 
              <?php echo $this->_tpl_vars['attr_arr']['name']; ?>

              </b></td>
            <td width="30%" valign="middle" align="right"> 
              <?php if ($this->_tpl_vars['attr_arr']['price_base'] != 0): ?>
              <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['attr_arr']['price_base'],@constant('SESS_CURRENCY')); ?>

              <?php endif; ?>
              <?php if ($this->_tpl_vars['attr_arr']['price_setup'] != 0): ?>
              <?php if ($this->_tpl_vars['attr_arr']['price_base'] != 0): ?>
              + 
              <?php endif; ?>
              <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['attr_arr']['price_setup'],@constant('SESS_CURRENCY')); ?>

              <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
              setup 
              <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
              <?php endif; ?>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <?php if ($this->_tpl_vars['attr_arr']['description']): ?>
    <tr valign="top"> 
      <td width="96%"> 
	  &nbsp;&nbsp;
         <input type="text" id="attr_<?php echo $this->_tpl_vars['attr_id']; ?>
" name="attr[<?php echo $this->_tpl_vars['attr_id']; ?>
]" size="20" class="form_field"> 
        &nbsp;<?php echo $this->_tpl_vars['attr_arr']['description']; ?>

      </td>
    </tr>
    <?php endif; ?>
  </table>
  <?php elseif ($this->_tpl_vars['attr_arr']['type'] == '2'): ?>
 
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="middle" class="row2"> 
      <td width="96%"> <b> </b> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
          <tr> 
            <td width="70%" valign="middle"><b> 
              <?php echo $this->_tpl_vars['attr_arr']['name']; ?>

              </b></td>
            <td width="30%" valign="middle" align="right"> 
              <?php if ($this->_tpl_vars['attr_arr']['price_base'] != 0): ?>
              <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['attr_arr']['price_base'],@constant('SESS_CURRENCY')); ?>

              <?php endif; ?>
              <?php if ($this->_tpl_vars['attr_arr']['price_setup'] != 0): ?>
              <?php if ($this->_tpl_vars['attr_arr']['price_base'] != 0): ?>
              + 
              <?php endif; ?>
              <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['attr_arr']['price_setup'],@constant('SESS_CURRENCY')); ?>

              <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
              setup 
              <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
              <?php endif; ?>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <?php if ($this->_tpl_vars['attr_arr']['description']): ?>
    <tr valign="top"> 
      <td width="96%"> 
	  &nbsp;&nbsp;
        <select id="attr_<?php echo $this->_tpl_vars['attr_id']; ?>
" name="attr[<?php echo $this->_tpl_vars['attr_id']; ?>
]" class="form_menu">
		 <?php if (count((array)$this->_tpl_vars['attr_arr']['default'])):
    foreach ((array)$this->_tpl_vars['attr_arr']['default'] as $this->_tpl_vars['attr_key'] => $this->_tpl_vars['attr_menu']):
?>
		  <?php if ($this->_tpl_vars['attr_menu'] == '*'): ?>
		  <option value=""></option>
		  <?php else: ?>
		  <option value="<?php echo $this->_tpl_vars['attr_menu']; ?>
"><?php echo $this->_tpl_vars['attr_menu']; ?>
</option>
		  <?php endif; ?>
		 <?php endforeach; endif; ?>
        </select>
        &nbsp; <?php echo $this->_tpl_vars['attr_arr']['description']; ?>

      </td>
    </tr>
    <?php endif; ?>
  </table>
  <?php endif; ?>
  <?php endforeach; endif; ?>
  <?php endif; ?>
  <?php if ($this->_tpl_vars['product']['host']): ?>
  <br>
  <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
    <tr valign="middle" class="row2"> 
      <td width="96%"> <b> </b> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
          <tr> 
            <td width="70%" valign="middle"><b> 
              <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
              domain_options 
              <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
              </b></td>
          </tr>
        </table>
      </td>
    </tr>
     
    <tr valign="top"> 
      <td width="96%"> 
        <?php if ($this->_tpl_vars['product']['host_allow_domain']): ?>
        <input type="radio" id="register" name="domain_type" value="register" onclick="domainUpdate('0','0','register'); showIFrame('iframeDomain',500,100,'?_page=host_tld:iframe_register&_escape=1');">
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        domain_register 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <br>
        <input type="radio" id="transfer" name="domain_type" value="transfer" onclick="domainUpdate('0','0','transfer'); showIFrame('iframeDomain',500,100,'?_page=host_tld:iframe_transfer&_escape=1');">
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        domain_transfer 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php endif; ?>
        <br>
        <input type="radio" id="ns_transfer" name="domain_type" value="ns_transfer" onclick="domainUpdate('0','0','ns_transfer'); showIFrame('iframeDomain',500,70,'?_page=host_tld:iframe_ns_transfer&_escape=1');">
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        domain_ns_transfer 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <?php if ($this->_tpl_vars['product']['host_allow_host_only']): ?>
        <br>
        <input type="radio" id="ip" name="domain_type" value="ip" onclick="domainUpdate('0','0','ip'); hideIFrame('iframeDomain');">
        <?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>
        domain_ip 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        <br>
        <?php endif; ?>
		
        <input type="hidden"  id="domain_name"    name="domain_name"    value="0">
        <input type="hidden"  id="domain_tld"     name="domain_tld"     value="0"> 
		<input type="hidden"  id="domain_option"  name="domain_option"  value="0">

		<iframe id="iframeDomain" style="border:0px; width:100%; height:0px;" scrolling="no" width="100%" ALLOWTRANSPARENCY="false" frameborder="0" class="row1"><br></iframe> 

      </td>
    </tr> 
  </table>
  <?php endif; ?>
</form>

<?php echo '
    <!-- Define the update delete function -->
    <script language="JavaScript">
    <!-- START
 	
	function domainUpdate(domain,tld,type)
	{
		document.getElementById("domain_name").value   = domain;
		document.getElementById("domain_tld").value    = tld;
		document.getElementById("domain_option").value = type;
	}
	
	function addCart(addtype)
	{ 
		var hosting = \''; ?>
<?php echo $this->_tpl_vars['product']['host']; ?>
<?php echo '\';
		if  (hosting == "1")
		{  
			var domain_option =document.getElementById("domain_option").value; 
			var domain_name   =document.getElementById("domain_name").value;
			var domain_tld	  =document.getElementById("domain_tld").value;

			if(domain_option == "0")
			{
				alert("'; ?>
<?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>host_domain_opt<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?><?php echo '");
				return;
			} 
 					 
			if(domain_name == "0" || domain_tld == "0")
			{
				if(domain_option != "ip")
				{
					alert("'; ?>
<?php $this->_tag_stack[] = array('translate', array('module' => 'product')); $this->_plugins['block']['translate'][0](array('module' => 'product'), null, $this); ob_start(); ?>host_domain_inv<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?><?php echo '");
					return;
				}
			} 			 
		} 
		attrValidate(addtype); 
	}
	
	function attrValidate(addtype)
	{ 
		var val_arr = new Array(2);
		var i=0;
		'; ?>
 <?php if (count((array)$this->_tpl_vars['attr'])):
    foreach ((array)$this->_tpl_vars['attr'] as $this->_tpl_vars['key'] => $this->_tpl_vars['attr_arr']):
?> <?php echo $this->_plugins['function']['assign'][0](array('var' => 'attr_id','value' => $this->_tpl_vars['attr_arr']['id']), $this) ; ?>
<?php if ($this->_tpl_vars['attr_arr']['required'] == '1'): ?>
		val_arr[i] = new Array ('attr_<?php echo $this->_tpl_vars['attr_id']; ?>
','<?php echo $this->_tpl_vars['attr_arr']['name']; ?>
','<?php echo $this->_tpl_vars['attr_arr']['type']; ?>
'); 
		i++;
		<?php endif; ?><?php endforeach; endif; ?> <?php echo ' 
		for(ii=0; ii < i; ii++)
		{
			if(!document.getElementById(val_arr[ii][0]).value)
			{ 
				document.getElementById(val_arr[ii][0]).focus();  				
				if(val_arr[ii][2] == "1") {
					alert("You must select an option for \\""+val_arr[ii][1]+"\\"");
				} else { 
					alert("You must enter a value for the product option \\""+val_arr[ii][1]+"\\"")  
				} 
				return false;
			}
		}
		doCart(addtype);
	}
	
	function doCart(addtype)
	{
		if(addtype == \'cart\')
		{
			document.getElementById(\'page\').value = \'cart:admin_view\';
			document.getElementById(\'product_view\').action = \'\';
		}
		else if(addtype == \'checkout\')
		{
			document.getElementById(\'page\').value = \'checkout:checkout\';
			document.getElementById(\'product_view\').action = \'\';
		
		} 
		document.product_view.submit();
	} 
	
    //  END -->
    </script>
'; ?>

<iframe id="iframeDomain" style="border:0px; width:100%; height:0px;" scrolling="no" width="100%" ALLOWTRANSPARENCY="true" frameborder="0" SRC="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/IEFrameWarningBypass.htm"></iframe> 
<?php endif; ?>