<?php /* Smarty version 2.5.0, created on 2005-02-02 18:50:52
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account/login.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account/login.tpl', 19, false),)); ?><?php if (@constant('SESS_LOGGED') == true): ?>
	<?php echo $this->_tpl_vars['block']->display("account:account"); ?>

<?php else: ?>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="body">
  <tr> 
    <td valign="top" align="center" width="35%"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
              <form name="form1" method="post" action="">
                <tr> 
                  <td> 
                    <table width="100%" border="0" cellspacing="1" cellpadding="0">
                      <tr valign="top"> 
                        <td width="65%" class="table_heading"> 
                          <div align="center"> 
                            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
                            account_login 
                            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                          </div>
                        </td>
                      </tr>
                      <tr valign="top"> 
                        <td width="65%" class="row1"> 
                          <table width="100%" border="0" cellspacing="5" cellpadding="1" class="row1">
                            <tr> 
                              <td width="25%"> 
                                <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
                                username 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                              </td>
                              <td width="75%"> 
                                <input type="text" name="_username" class="form_field" value="<?php echo $this->_tpl_vars['VAR']['_username']; ?>
" size="12">
                              </td>
                            </tr>
                            <tr> 
                              <td width="25%"> 
                                <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
                                password 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                              </td>
                              <td width="75%"> 
                                <input type="password" name="_password" class="form_field" size="12">
                              </td>
                            </tr>
                            <tr> 
                              <td width="25%"> 
                                <input type="hidden" name="_login" value="Y">
                                <?php if ($this->_tpl_vars['VAR']['_page'] != ""): ?>
                                <input type="hidden" name="_page" value="<?php echo $this->_tpl_vars['VAR']['_page']; ?>
">
                                <?php else: ?>
                                <input type="hidden" name="_page" value="account:account">
                                <?php endif; ?>
								
								<?php if ($this->_tpl_vars['VAR']['_htaccess_id'] != "" || $this->_tpl_vars['VAR']['_htaccess_dir_id'] != ""): ?>
                                <input type="hidden" name="_htaccess_id" value="<?php echo $this->_tpl_vars['VAR']['_htaccess_id']; ?>
">
                                <input type="hidden" name="_htaccess_dir_id" value="<?php echo $this->_tpl_vars['VAR']['_htaccess_dir_id']; ?>
">
								<?php endif; ?>
                              </td>
                              <td width="75%"> 
                                <input type="submit" name="_login2" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>login<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_button">
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </form>
            </table>
          </td>
        </tr>
      </table>
      
    </td>
    <td width="1" height="1"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/invisible.gif" width="15" height="1"></td>
    <td align="center" valign="top" width="65%">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <?php echo $this->_tpl_vars['block']->display("account:add"); ?>

          </td>
        </tr>
      </table> 
    </td>
  </tr>
</table>
<?php endif; ?>