<?php /* Smarty version 2.5.0, created on 2005-02-02 18:48:44
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/product/cat.tpl */ ?>
<?php if ($this->_tpl_vars['list']->smarty_array('product_cat',"position,template,name,thumbnail"," AND status='1'",'product_cat_arr')): ?> 
<?php if (count((array)$this->_tpl_vars['product_cat_arr'])):
    foreach ((array)$this->_tpl_vars['product_cat_arr'] as $this->_tpl_vars['record']):
?>
<table width=100% border="0" cellspacing="0" cellpadding="0" class="table_background">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="1" cellpadding="0">
        <tr valign="top"> 
          <td width="65%"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr valign="top"> 
                <td  class="table_heading_cart"> &nbsp;&nbsp; <a href="<?php echo $this->_tpl_vars['URL']; ?>
?_page=product_cat:t_<?php echo $this->_tpl_vars['record']['template']; ?>
&id=<?php echo $this->_tpl_vars['record']['id']; ?>
"> 
                  <b> 
                  <?php if ($this->_tpl_vars['list']->translate('product_cat_translate',"name,description",'product_cat_id',$this->_tpl_vars['record']['id'],'cat_translate')): ?>
                  <?php echo $this->_tpl_vars['cat_translate']['name']; ?>

                  <?php else: ?>
                  <?php echo $this->_tpl_vars['record']['name']; ?>

                  <?php endif; ?>
                  </b> </a> </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr valign="top"> 
          <td width="65%" class="row1"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="5" class="body">
              <tr valign="top"> 
                <td bgcolor="#FFFFFF"> 
                  <p>
                    <?php if ($this->_tpl_vars['record']['thumbnail'] != ""): ?>
                    <a href="<?php echo $this->_tpl_vars['URL']; ?>
?_page=product_cat:t_<?php echo $this->_tpl_vars['record']['template']; ?>
&id=<?php echo $this->_tpl_vars['record']['id']; ?>
"><img align="left" src="<?php echo $this->_tpl_vars['URL']; ?>
<?php echo @constant('URL_IMAGES'); ?>
<?php echo $this->_tpl_vars['record']['thumbnail']; ?>
" hspace="5" border="0"></a> 
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['cat_translate']['description'] != ""): ?>
                    <?php echo $this->_tpl_vars['cat_translate']['description']; ?>

                    <?php else: ?>
                    No Description 
                    <?php endif; ?>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<?php endforeach; endif; ?>
<?php endif; ?>