<?php /* Smarty version 2.5.0, created on 2005-02-02 18:45:27
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/left.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/left.tpl', 25, false),)); ?><?php if (@constant('SHOW_CAT_BLOCK')): ?>
<!-- View the category menu -->
	<?php echo $this->_tpl_vars['block']->display("product_cat:menu"); ?>

<?php endif; ?> 
 
<?php if (@constant('SHOW_STATIC_BLOCK')): ?>
<!-- View the account static page menu -->
	<?php echo $this->_tpl_vars['block']->display("static_page:menu"); ?>

<?php endif; ?>

<?php if (@constant('SHOW_FILE_BLOCK')): ?>
<!-- Display the file menu -->
	<?php echo $this->_tpl_vars['block']->display("file:menu"); ?>

<?php endif; ?>


<!-- View the account menu options -->
<table width="140" border="0" cellspacing="0" cellpadding="0" class="menu_background" align="center">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="1" cellpadding="0" align="center">
        <tr> 
          <td class="menu_1"> 
            <center>
              <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
              main 
              <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </center>
          </td>
        </tr>
		
		<?php if (@constant('SHOW_PRODUCT_LINK')): ?>
        <tr> 
          <td class="menu_2"> &nbsp;&nbsp; <a href="?_page=product:cat"> 
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            products 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
		<?php endif; ?>
		
		<?php if (@constant('SHOW_CART_LINK')): ?>
        <tr> 
          <td class="menu_2">&nbsp;&nbsp; <a href="?_page=cart:cart">
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            cart 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
		<?php endif; ?>


		<?php if (@constant('SHOW_CHECKOUT_LINK')): ?>
        <tr> 
          <td class="menu_2">&nbsp;&nbsp; <a href="<?php echo $this->_tpl_vars['SSL_URL']; ?>
?_page=checkout:checkout">
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            checkout 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
		<?php endif; ?>

		<?php if (@constant('SHOW_CONTACT_LINK')): ?>
        <tr> 
          <td class="menu_2">&nbsp;&nbsp; <a href="?_page=staff:staff">
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            contact 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
		<?php endif; ?>
		
				
		<?php if (@constant('SHOW_AFFILIATE_LINK')): ?>
        <tr> 
          <td class="menu_2">&nbsp;&nbsp; <a href="?_page=affiliate:affiliate">
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            affiliates 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
		<?php endif; ?>
		
		<?php if (@constant('SHOW_NEWSLETTER_LINK')): ?>
        <tr> 
          <td class="menu_2">&nbsp;&nbsp; <a href="?_page=newsletter:newsletter">
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            newsletter 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
		<?php endif; ?>
		
		<?php if (@constant('SHOW_TICKET_LINK')): ?>
        <tr>
          <td class="menu_2">&nbsp;&nbsp; <a href="?_page=ticket:ticket"> 
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            ticket 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
        <?php endif; ?>
		
      </table>
    </td>
  </tr>
</table>

<?php if ($this->_tpl_vars['SESS_LOGGED'] == '1'): ?>
<br>
<table width="140" border="0" cellspacing="0" cellpadding="0" class="menu_background" align="center">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="1" cellpadding="0" align="center">
        <tr> 
          <td class="menu_1"> 
            <center>
              <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
              account 
              <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </center>
          </td>
        </tr>
        <tr> 
          <td class="menu_2">&nbsp;&nbsp; <a href="?_page=account:account">
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            account 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
        <tr> 
          <td class="menu_2">&nbsp;&nbsp; <a href="?_page=account:account&_logout=Y">
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            logout 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
        <?php if ($this->_tpl_vars['list']->auth_method_by_name('account_admin','view') && $this->_tpl_vars['SESS_LOGGED'] == '1'): ?>
        <tr> 
          <td class="menu_2">&nbsp;&nbsp; <a href="admin.php">
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            admin 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </a> </td>
        </tr>
        <?php endif; ?>
      </table>
    </td>
  </tr>
</table>
<p> 
  <?php else: ?>
  <br>
  <!-- Show the login menu -->
  <?php echo $this->_tpl_vars['block']->display("account:login_small"); ?>

  <?php endif; ?>
  <br>
</p>