<?php /* Smarty version 2.5.0, created on 2005-02-02 18:48:11
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/htaccess/htaccess.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/htaccess/htaccess.tpl', 16, false),)); ?><table width="200" border="0" cellspacing="0" cellpadding="0" class="body">
        <tr> 
          <td valign="top" align="center" width="35%"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
                    <form name="form1" method="post" action="">
                      <tr> 
                        <td> 
                          <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tr valign="top"> 
                              <td width="65%" class="table_heading"> 
                                
                          <div align="center"> 
                            <?php $this->_tag_stack[] = array('translate', array('module' => 'htaccess')); $this->_plugins['block']['translate'][0](array('module' => 'htaccess'), null, $this); ob_start(); ?>
                            downloads
                            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                          </div>
                              </td>
                            </tr>
                            <tr valign="top">
							  <td width="65%" class="row1">
								<center>
<iframe id="htaccess" style="border:0px; width:200px; height:100px;" scrolling="auto" ALLOWTRANSPARENCY="true" frameborder="0" SRC="?_page=htaccess:list&_escape=1"></iframe> 
								</center>
							  </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>