<?php /* Smarty version 2.5.0, created on 2005-02-02 18:53:19
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default_admin/blocks/core/top_clean.tpl */ ?>
<HTML>
<HEAD>
<meta http-equiv="expires" content="Wed, 26 Feb 2004 08:21:57 GMT">
<meta http-equiv="no-cache">

<TITLE><?php echo @constant('SITE_NAME'); ?>
</TITLE>

<SCRIPT LANGUAGE="JavaScript">
<!-- START
	var escape			= "&_escape=1&_escape_next=1";
	var sess_expires 	= "<?php echo @constant('SESSION_EXPIRE'); ?>
";
	var cookie_name		= "<?php echo @constant('COOKIE_NAME'); ?>
";
	var SESS	 	= "<?php echo $this->_tpl_vars['SESS']; ?>
";
	var URL			= "<?php echo $this->_tpl_vars['URL']; ?>
";
	var SSL_URL		= "<?php echo $this->_tpl_vars['SSL_URL']; ?>
";
	var THEME_NAME  	= "<?php echo $this->_tpl_vars['THEME_NAME']; ?>
";
	var REDIRECT_PAGE 	= "<?php echo @constant('REDIRECT_PAGE'); ?>
";
	<?php echo '
	if(escape != "") {
		escape = "&_escape=1&_escape_next=1";
	} else {
		escape = "";
	}
	'; ?>
	
//  END -->
</SCRIPT>

<!-- Load the main stylesheet -->
<link rel="stylesheet" href="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/iframe.css" type="text/css">
 
<!-- Load the main javascript code -->
<SCRIPT SRC="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/top.js"></SCRIPT>

<!-- Load the JSCalender code -->
<link rel="stylesheet" type="text/css" media="all" href="includes/jscalendar/calendar-blue.css" title="win2k-1" />
<script type="text/javascript" src="includes/jscalendar/calendar_stripped.js"></script>
<script type="text/javascript" src="includes/jscalendar/lang/calendar-<?php echo @constant('LANG'); ?>
.js"></script>
<script type="text/javascript" src="includes/jscalendar/calendar-setup_stripped.js"></script>


</HEAD>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginwidth="0" marginheight="0" class="body">

            <!-- display the alert block -->
            <?php if ($this->_tpl_vars['alert']): ?>
            <?php echo $this->_tpl_vars['block']->display("core:alert"); ?>

            <?php endif; ?>