<?php /* Smarty version 2.5.0, created on 2005-02-02 18:54:41
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/alert_fields.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/alert_fields.tpl', 8, false),
array('function', 'assign', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/alert_fields.tpl', 15, false),
array('function', 'cycle', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/alert_fields.tpl', 16, false),)); ?><table width=100% border="0" cellspacing="0" cellpadding="0" class="table_background">
  <tr> 
    <td> 
      <table width=100% border="0" cellspacing="1" cellpadding="0">
        <tr valign="top"> 
          <td width="65%" class="table_heading"> 
            <div align="center"> 
              <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>alert<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </div>
          </td>
        </tr>
        <tr valign="top"> 
          <td width="65%" class="row1"> 
            <table width="100%" border="0" cellpadding="2">
			<?php if (count((array)$this->_tpl_vars['form_validation'])):
    foreach ((array)$this->_tpl_vars['form_validation'] as $this->_tpl_vars['record']):
?> <?php echo $this->_plugins['function']['assign'][0](array('var' => $this->_tpl_vars['record']['field'],'value' => 'true'), $this) ; ?>

			  <tr class="<?php echo $this->_plugins['function']['cycle'][0](array('values' => "row1,row2"), $this) ; ?>
"> 
                <td valign="middle"><b><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/flag_16.gif" border="0" width="16" height="16" hspace="3" vspace="0"> 
                  <?php echo $this->_tpl_vars['record']['field_trans']; ?>

                  :</b> &nbsp;&nbsp; 
                  <?php echo $this->_tpl_vars['record']['error']; ?>

                </td>
              </tr>
             <?php endforeach; endif; ?>		
            </table>           					  
		  </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>