<?php /* Smarty version 2.5.0, created on 2005-02-02 18:59:39
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/invoice/search_show.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/invoice/search_show.tpl', 6, false),)); ?><?php echo $this->_tpl_vars['method']->exe('invoice','search_show'); ?>

<?php if (( $this->_tpl_vars['method']->result == FALSE )): ?>
    <?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>

<?php else: ?>
    <?php if ($this->_tpl_vars['results'] == 1): ?>
        <?php $this->_tag_stack[] = array('translate', array('results' => $this->_tpl_vars['results'])); $this->_plugins['block']['translate'][0](array('results' => $this->_tpl_vars['results']), null, $this); ob_start(); ?>search_result_count<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?> 
    <?php else: ?>
        <?php $this->_tag_stack[] = array('translate', array('results' => $this->_tpl_vars['results'])); $this->_plugins['block']['translate'][0](array('results' => $this->_tpl_vars['results']), null, $this); ob_start(); ?>search_results_count<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
    <?php endif; ?>
	<?php $this->_tag_stack[] = array('translate', array('amount' => $this->_tpl_vars['total_amount'],'module' => 'invoice')); $this->_plugins['block']['translate'][0](array('amount' => $this->_tpl_vars['total_amount'],'module' => 'invoice'), null, $this); ob_start(); ?>search_result_amount<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
  <BR><br>


  <?php echo '
    <script language="JavaScript">
    <!-- START
    	var module 		= \'invoice\';		
    	'; ?>

    	<?php if ($this->_tpl_vars['VAR']['_print'] == TRUE): ?>
    	var p 			= '&_escape=y&_print=y';
    	<?php else: ?>
    	var p 			= '';
    	<?php endif; ?><?php echo '
    	var IMAGE 		= \''; ?>
<?php echo $this->_tpl_vars['NONSSL_IMAGE']; ?>
<?php echo '\';
    	var order 		= \''; ?>
<?php echo $this->_tpl_vars['order']; ?>
<?php echo '\';
    	var sort1  		= \''; ?>
<?php echo $this->_tpl_vars['sort']; ?>
<?php echo '\';
    	var search_id 	= \''; ?>
<?php echo $this->_tpl_vars['search_id']; ?>
<?php echo '\';
    	var page 		= \''; ?>
<?php echo $this->_tpl_vars['page']; ?>
<?php echo '\';
    	var pages		= \''; ?>
<?php echo $this->_tpl_vars['pages']; ?>
<?php echo '\';
    	var results		= \''; ?>
<?php echo $this->_tpl_vars['results']; ?>
<?php echo '\';
    	var limit 		= \''; ?>
<?php echo $this->_tpl_vars['limit']; ?>
<?php echo '\';
    	record_arr = new Array ('; ?>
<?php echo $this->_tpl_vars['limit']; ?>
<?php echo ');
    	var i = 0;	
    //  END -->
    </script>
    <SCRIPT SRC="themes/'; ?>
<?php echo $this->_tpl_vars['THEME_NAME']; ?>
<?php echo '/search.js"></SCRIPT>
    '; ?>


    <!-- SHOW THE SEARCH NAVIGATION MENU -->
    <center><script language="JavaScript">document.write(search_nav_top());</script></center>

<!-- BEGIN THE RESULTS CONTENT AREA -->
<div id="search_results" onKeyPress="key_handler(event);">
 <table id="main1" width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
  <form id="form1" name="form1" method="post" action="">
    <tr>
      <td>
          <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
            <!-- DISPLAY THE SEARCH HEADING -->
            <tr valign="middle" align="center" class="table_heading"> 
              <td width="51" class="table_heading">&nbsp;</td>
              <td width="152" class="table_heading"> 
                <?php echo '
                <script language="JavaScript">
					document.write(search_heading(\''; ?>
<?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>field_id<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?><?php echo '\',\'id\'));
				 </script>
                '; ?>

              </td>
              <td width="163" class="table_heading"> 
                <?php echo '
                <script language="JavaScript">
					document.write(search_heading(\''; ?>
<?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>field_account_id<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?><?php echo '\',\'account_id\'));
				 </script>
                '; ?>

              </td>
              <td width="170" class="table_heading"> 
                <?php echo '
                <script language="JavaScript">
					document.write(search_heading(\''; ?>
<?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>field_date_orig<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?><?php echo '\',\'date_orig\'));
				 </script>
                '; ?>

              </td>
              <td width="129" class="table_heading"> 
                <?php echo '
                <script language="JavaScript">
					document.write(search_heading(\''; ?>
<?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>field_total_amt<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?><?php echo '\',\'total_amt\'));
				 </script>
                '; ?>

              </td>
              <td width="86" class="table_heading">&nbsp; </td>
              <!-- LOOP THROUGH EACH RECORD -->
              <?php if (count((array)$this->_tpl_vars['invoice'])):
    foreach ((array)$this->_tpl_vars['invoice'] as $this->_tpl_vars['record']):
?>
            <tr id="row<?php echo $this->_tpl_vars['record']['id']; ?>
" onClick="row_sel('<?php echo $this->_tpl_vars['record']['id']; ?>
',1);" onDblClick="window.location='?_page=invoice:view&id=<?php echo $this->_tpl_vars['record']['id']; ?>
,';" onMouseOver="row_mouseover('<?php echo $this->_tpl_vars['record']['id']; ?>
', 'row_mouse_over_select', 'row_mouse_over');" onMouseOut="row_mouseout('<?php echo $this->_tpl_vars['record']['id']; ?>
', '<?php echo $this->_tpl_vars['record']['_C']; ?>
', 'row_select');" class="<?php echo $this->_tpl_vars['record']['_C']; ?>
"> 
              <td align="center" width="51"> 
                <input type="checkbox" name="record<?php echo $this->_tpl_vars['record']['id']; ?>
" value="<?php echo $this->_tpl_vars['record']['id']; ?>
" onClick="row_sel('<?php echo $this->_tpl_vars['record']['id']; ?>
',1,'<?php echo $this->_tpl_vars['record']['_C']; ?>
');">
              </td>
              <td width="152">&nbsp; 
                <?php echo $this->_tpl_vars['record']['id']; ?>

              </td>
              <td width="163"> &nbsp; 
                <?php echo $this->_tpl_vars['record']['account_id']; ?>

              </td>
              <td width="170">&nbsp; 
                <?php echo $this->_tpl_vars['list']->date_time($this->_tpl_vars['record']['date_orig']); ?>

              </td>
              <td width="129"> 
                <div align="right">
                  <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['record']['total_amt'],$this->_tpl_vars['record']['billed_currency_id']); ?>
&nbsp; 
                </div>
              </td>
              <td width="86"> 
                <center>
                  &nbsp; 
                  <?php if ($this->_tpl_vars['record']['billing_status'] == '1'): ?>
                  <img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/add_16.gif" border="0"> 
                  <?php else: ?>
                  <img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/remov_16.gif" border="0"> 
                  <?php endif; ?>
                  &nbsp; 
                  <?php if ($this->_tpl_vars['record']['process_status'] == '1'): ?>
                  <img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/go_16.gif" border="0"> 
                  <?php else: ?>
                  <img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/stop_16.gif" border="0"> 
                  <?php endif; ?>
                </center>
              </td>
            </tr>
            <?php echo '
            <script language="JavaScript">row_sel(\''; ?>
<?php echo $this->_tpl_vars['record']['id']; ?>
<?php echo '\', 0, \''; ?>
<?php echo $this->_tpl_vars['record']['_C']; ?>
<?php echo '\'); record_arr[i] = \''; ?>
<?php echo $this->_tpl_vars['record']['id']; ?>
<?php echo '\'; i++; </script>
            '; ?>

            <?php endforeach; endif; ?>
            <!-- END OF RESULT LOOP -->
          </table>
      </td>
    </tr>
  </form>
 </table>
<?php if ($this->_tpl_vars['VAR']['_print'] != TRUE): ?><br>
<center>
<input type="submit" name="Submit" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>view_edit<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" 	onClick="mass_do('', module+':view', limit, module);" 		class="form_button">
<input type="submit" name="Submit" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>delete<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" 		onClick="mass_do('delete', module+':search_show&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&page=<?php echo $this->_tpl_vars['page']; ?>
&order_by=<?php echo $this->_tpl_vars['order']; ?>
&<?php echo $this->_tpl_vars['sort']; ?>
', limit, module);" class="form_button">
<input type="submit" name="Submit" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>select_all<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" 	onClick="all_select(record_arr);" 		class="form_button">
<input type="submit" name="Submit" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>deselect_all<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" 	onClick="all_deselect(record_arr);" 	class="form_button">
<input type="submit" name="Submit" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>range_select<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" 	onClick="all_range_select(record_arr,limit);" class="form_button">
<br>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
  <tr>
        <td valign="middle" align="center"> <a href="javascript:all_select(record_arr);" onClick="NewWindow('ExportWin','toolbar=no,status=no,width=300,height=300','?_page=core:export_search&module=invoice&_escape=&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&page=<?php echo $this->_tpl_vars['page']; ?>
&order=<?php echo $this->_tpl_vars['order']; ?>
&sort=<?php echo $this->_tpl_vars['sort']; ?>
');"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/exp_32.gif" alt="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>search_export_image<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" border="0">&nbsp;</a> 
          <a href="?_page=invoice:search_show&_print=true&order_by=<?php echo $this->_tpl_vars['order']; ?>
&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&limit=<?php echo $this->_tpl_vars['limit']; ?>
&page=<?php echo $this->_tpl_vars['page']; ?>
"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images//icons/print_32.gif" border="0" alt="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>search_print_image<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>"></a><a href="?_page=invoice:search_form"> 
          <img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_32.gif" border="0" alt="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>search_new_image<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>">&nbsp;</a><a href="?_page=invoice:add"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/add_32.gif" border="0" alt="<?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>title_add<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>"></a> 
        </td>
  </tr>
</table>
</center>
<?php endif; ?>
<?php endif; ?>
</div>