<?php /* Smarty version 2.5.0, created on 2005-02-02 19:05:51
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/checkout_plugin/credit_card.tpl */ ?>
<?php $this->_load_plugins(array(
array('modifier', 'upper', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/checkout_plugin/credit_card.tpl', 48, false),
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/checkout_plugin/credit_card.tpl', 50, false),)); ?>
<?php echo '
<script language="JavaScript"> 
	function checkoutNow() {  
		document.getElementById(\'submitform\').disabled=true;
		document.getElementById(\'form1\').submit(); 
	}  
	parent.showIFrame("iframeCheckout",550,80,false); 
</script>
'; ?>

 

<form id="form1" name="form1" method="post" action="">
   
  <?php if ($this->_tpl_vars['VAR']['invoice_id'] == ""): ?>
  	<?php if ($this->_tpl_vars['VAR']['admin'] != '' && $this->_tpl_vars['VAR']['account_id'] != ''): ?>
	<input type="hidden" name="admin" value="1">
	<input type="hidden" name="do[]" value="checkout:admin_checkoutnow">
	<input type="hidden" name="account_id" value="<?php echo $this->_tpl_vars['VAR']['account_id']; ?>
">
	<?php else: ?>
  	<input type="hidden" name="do[]" value="checkout:checkoutnow">
	<?php endif; ?>
  <?php else: ?>
  	<?php if ($this->_tpl_vars['VAR']['admin'] != '' && $this->_tpl_vars['VAR']['account_id'] != ''): ?>
	<input type="hidden" name="admin" value="1">
	<input type="hidden" name="do[]" value="checkout:admin_checkoutnow">
	<input type="hidden" name="account_id" value="<?php echo $this->_tpl_vars['VAR']['account_id']; ?>
">	
	<?php else: ?>
  	<input type="hidden" name="do[]" value="invoice:checkoutnow"> 
	<?php endif; ?>
	<input type="hidden" name="invoice_id" value="<?php echo $this->_tpl_vars['VAR']['invoice_id']; ?>
">
  <?php endif; ?>
  
  <input type="hidden" name="_page" value="core:blank">
  <input type="hidden" name="option" value="<?php echo $this->_tpl_vars['VAR']['option']; ?>
">
  <input type="hidden" name="_escape" value="1">
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background" align="center">
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="1" cellpadding="0">
          <tr valign="top"> 
            <td class="row2"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="1" class="row1">
                <tr> 
                  <td valign="top" align="center"> <font color="#990000"> 
                    <?php if ($this->_tpl_vars['VAR']['msg'] != ""): ?>
                    <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['VAR']['msg']); ?>

                    <?php else: ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'checkout')); $this->_plugins['block']['translate'][0](array('module' => 'checkout'), null, $this); ob_start(); ?>
                    enter_card 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    </font></td>
                  </tr>
                </table> 
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1">
              <table width="100%" border="0" cellspacing="0" cellpadding="1" class="body">
                <tr> 
                  <td width="20%"><?php $this->_tag_stack[] = array('translate', array('module' => 'checkout')); $this->_plugins['block']['translate'][0](array('module' => 'checkout'), null, $this); ob_start(); ?> card_type <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?> 
                  </td>
                  <td width="20%"><a href="javascript:NewWindow('ccv_help','','?_page=checkout:ccv_help&_escape=1');"> 
                    </a> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'checkout')); $this->_plugins['block']['translate'][0](array('module' => 'checkout'), null, $this); ob_start(); ?>
                    card_no 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                  <td width="25%"> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'checkout')); $this->_plugins['block']['translate'][0](array('module' => 'checkout'), null, $this); ob_start(); ?>
                    exp_date 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                  <td width="10%">&nbsp;</td>
                </tr>
                <tr> 
                  <td width="20%"> 
				  <?php echo $this->_tpl_vars['list']->card_type_menu($this->_tpl_vars['VAR']['card_type'],$this->_tpl_vars['VAR']['option'],'checkout_plugin_data[card_type]','form_menu'); ?>

 
                  </td>
                  <td width="20%"> 
                    <input type="text" name="checkout_plugin_data[cc_no]" class="form_field" value="<?php echo $this->_tpl_vars['VAR']['cc_no']; ?>
" size="17" maxlength="16">
                  </td>
                  <td width="25%"> 
                    <select name="checkout_plugin_data[exp_month]" class="form_menu">
                      <option value="01" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '1'): ?>selected<?php endif; ?>>1 
                      (Jan)</option>
                      <option value="02" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '2'): ?>selected<?php endif; ?>>2 
                      (Feb)</option>
                      <option value="03" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '3'): ?>selected<?php endif; ?>>3 
                      (Mar)</option>
                      <option value="04" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '4'): ?>selected<?php endif; ?>>4 
                      (Apr)</option>
                      <option value="05" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '5'): ?>selected<?php endif; ?>>5 
                      (May)</option>
                      <option value="06" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '6'): ?>selected<?php endif; ?>>6 
                      (Jun)</option>
                      <option value="07" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '7'): ?>selected<?php endif; ?>>7 
                      (Jul)</option>
                      <option value="08" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '8'): ?>selected<?php endif; ?>>8 
                      (Aug)</option>
                      <option value="09" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '9'): ?>selected<?php endif; ?>>9 
                      (Sep)</option>
                      <option value="10" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '10'): ?>selected<?php endif; ?>>10 
                      (Oct)</option>
                      <option value="11" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '11'): ?>selected<?php endif; ?>>11 
                      (Nov)</option>
                      <option value="12" <?php if ($this->_tpl_vars['VAR']['exp_month'] == '12'): ?>selected<?php endif; ?>>12 
                      (Dec)</option>
                    </select>
                    &nbsp;&nbsp;20 
                    <input type="text" name="checkout_plugin_data[exp_year]" value="<?php echo $this->_tpl_vars['VAR']['exp_year']; ?>
" class="form_field" size="2" maxlength="2">
                  </td>
                  <td width="10%"> 
                    <input type="submit" id="submitform" name="submitform" value="<?php $this->_tag_stack[] = array('translate', array('module' => 'checkout')); $this->_plugins['block']['translate'][0](array('module' => 'checkout'), null, $this); ob_start(); ?>process_ord<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_menu" onClick="javascript:checkoutNow()">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table> 
</form> 