<?php /* Smarty version 2.5.0, created on 2005-02-02 18:49:33
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default_admin/blocks/core/admin.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default_admin/blocks/core/admin.tpl', 9, false),)); ?><?php if ($this->_tpl_vars['SESS_LOGGED'] == true): ?>

<?php echo $this->_tpl_vars['method']->exe('invoice','performance'); ?>

<?php if ($this->_tpl_vars['method']->result == TRUE): ?>
<table width="550" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="body"> 
      <div align="center"><a href="?_page=core:admin&period=w"> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
        weekly 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </a> | <a href="?_page=core:admin&period=m"> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
        monthly 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </a> | <a href="?_page=core:admin&period=y"> 
        <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
        yearly 
        <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
        </a><br>
        <br>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <table id="main1" width="550" border="0" cellspacing="0" cellpadding="0" class="table_background">
        <form id="form1" name="form1" method="post" action="">
          <tr> 
            <td> 
              <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="3">
                <!-- DISPLAY THE SEARCH HEADING -->
                <tr valign="middle" align="center" class="table_heading"> 
                  <td width="163" class="table_heading"> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    indicator 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                  <td width="351" class="table_heading"> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    period 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                  <td width="189" class="table_heading"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    current 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="163" class="table_heading"> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    previous 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                  <td width="141" class="table_heading"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    change 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                </tr>
                <tr class="row1"> 
                  <td width="163"><b>&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    sales 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="351">&nbsp; 
                    <?php if ($this->_tpl_vars['VAR']['period'] == '' || $this->_tpl_vars['VAR']['period'] == 'm'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thismonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastmonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'w'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'y'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                  <td width="189"><b>&nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['sales_current'],''); ?>

                    </b></td>
                  <td width="163">&nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['sales_previous'],''); ?>

                  </td>
                  <td width="141" align="center"> <b> 
                    <?php echo $this->_tpl_vars['sales_change']; ?>

                    </b></td>
                </tr>
                <tr class="row2"> 
                  <td width="163"><b>&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    forcast 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="351">&nbsp; 
                    <?php if ($this->_tpl_vars['VAR']['period'] == '' || $this->_tpl_vars['VAR']['period'] == 'm'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thismonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'w'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'y'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                  <td width="189"><b>&nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['forcast_current'],''); ?>

                    </b></td>
                  <td width="163">&nbsp; -&nbsp;&nbsp;</td>
                  <td width="141" align="center"> <b> 
                    <?php echo $this->_tpl_vars['forcast_change']; ?>

                    </b></td>
                </tr>
                <tr class="row1"> 
                  <td width="163"><b>&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    quota 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="351">&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    today 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                  <td width="189"><b>&nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['quota_current'],''); ?>

                    </b></td>
                  <td width="163">&nbsp; -</td>
                  <td width="141" align="center"><b>-</b></td>
                </tr>
                <tr class="row2"> 
                  <td width="163"><b>&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    arcredits 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="351">&nbsp; 
                    <?php if ($this->_tpl_vars['VAR']['period'] == '' || $this->_tpl_vars['VAR']['period'] == 'm'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thismonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastmonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'w'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'y'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                  <td width="189"><b>&nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['ar_credits_current'],''); ?>

                    </b></td>
                  <td width="163"> &nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['ar_credits_previous'],''); ?>

                  </td>
                  <td width="141" align="center"> <b> 
                    <?php echo $this->_tpl_vars['ar_credit_change']; ?>

                    </b></td>
                </tr>
                <tr class="row1"> 
                  <td width="163"><b>&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    arbalance 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="351">&nbsp; 
                    <?php if ($this->_tpl_vars['VAR']['period'] == '' || $this->_tpl_vars['VAR']['period'] == 'm'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thismonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastmonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'w'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'y'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                  <td width="189"><b>&nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['ar_balance_current'],''); ?>

                    </b></td>
                  <td width="163"> &nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['ar_balance_last'],''); ?>

                  </td>
                  <td width="141" align="center"><b>-</b></td>
                </tr>
                <tr class="row2"> 
                  <td width="163"><b>&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    users 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="351">&nbsp; 
                    <?php if ($this->_tpl_vars['VAR']['period'] == '' || $this->_tpl_vars['VAR']['period'] == 'm'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thismonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastmonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'w'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'y'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                  <td width="189"><b>&nbsp; 
                    <?php echo $this->_tpl_vars['users_current']; ?>

                    </b></td>
                  <td width="163">&nbsp; 
                    <?php echo $this->_tpl_vars['users_previous']; ?>

                  </td>
                  <td width="141" align="center"> <b> 
                    <?php echo $this->_tpl_vars['users_change']; ?>

                    </b></td>
                </tr>
                <?php if ($this->_tpl_vars['show_tickets'] == true): ?>
                <tr class="row1"> 
                  <td width="163"><b>&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    tickets 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="351">&nbsp; 
                    <?php if ($this->_tpl_vars['VAR']['period'] == '' || $this->_tpl_vars['VAR']['period'] == 'm'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thismonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastmonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'w'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'y'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                  <td width="189"><b>&nbsp; 
                    <?php echo $this->_tpl_vars['tickets_current']; ?>

                    </b></td>
                  <td width="163"> &nbsp; 
                    <?php echo $this->_tpl_vars['tickets_previous']; ?>

                  </td>
                  <td width="141" align="center"> <b> 
                    <?php echo $this->_tpl_vars['tickets_change']; ?>

                    </b></td>
                </tr>
                <?php endif; ?>
                <?php if ($this->_tpl_vars['show_affiliates'] == true): ?>
                <tr class="row2"> 
                  <td width="163"><b>&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    affiliatesales 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="351">&nbsp; 
                    <?php if ($this->_tpl_vars['VAR']['period'] == '' || $this->_tpl_vars['VAR']['period'] == 'm'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thismonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastmonth 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'w'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastweek 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['VAR']['period'] == 'y'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    thisyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    vs 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    lastyear 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                  <td width="189"><b>&nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['affiliate_sales_current'],''); ?>

                    </b></td>
                  <td width="163"> &nbsp; 
                    <?php echo $this->_tpl_vars['list']->format_currency_num($this->_tpl_vars['affiliate_sales_previous'],''); ?>

                  </td>
                  <td width="141" align="center"> <b> 
                    <?php echo $this->_tpl_vars['affiliate_sales_change']; ?>

                    </b></td>
                </tr>
                <?php endif; ?>
              </table>
            </td>
          </tr>
        </form>
      </table>
    </td>
  </tr>
</table>
<p align="center"><a href="?_page=core:admin&period=w"> </a></p>
<?php endif; ?>
<?php if (@constant('GD')): ?>
<p align="left"><img title="Invoice Trend" alt="[GD failed]" src="<?php echo $this->_tpl_vars['url']; ?>
?_page=core:graphview&_escape=1&graph=invoice:compare&period=<?php echo $this->_tpl_vars['VAR']['period']; ?>
"></p>
<table width="550" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top"> 
    <td> 
      <p> <img title="Top Users" alt="[img]" src="<?php echo $this->_tpl_vars['url']; ?>
?_page=core:graphview&_escape=1&graph=account_admin:top&period=<?php echo $this->_tpl_vars['VAR']['period']; ?>
"> 
        <?php if ($this->_tpl_vars['list']->is_installed('affiliate')): ?>
      </p>
      <p> <img src="<?php echo $this->_tpl_vars['url']; ?>
?_page=core:graphview&_escape=1&graph=affiliate:top&period=<?php echo $this->_tpl_vars['VAR']['period']; ?>
"> 
        <?php endif; ?>
      </p>
    </td>
    <td> 
      <div align="right"><img title="Top Products" alt="[img]" src="<?php echo $this->_tpl_vars['url']; ?>
?_page=core:graphview&_escape=1&graph=product:top&period=<?php echo $this->_tpl_vars['VAR']['period']; ?>
"></div>
    </td>
  </tr>
</table>
<?php endif; ?>


<?php else: ?> 
	<?php echo $this->_tpl_vars['block']->display('account:main'); ?>

<?php endif; ?>
