<?php /* Smarty version 2.5.0, created on 2005-02-02 18:54:59
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account_admin/view.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account_admin/view.tpl', 22, false),)); ?><?php echo $this->_tpl_vars['method']->exe('account_admin','view'); ?>
 <?php if (( $this->_tpl_vars['method']->result == FALSE )): ?>  <?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>
 <?php else: ?> 

<?php echo '
	<script src="themes/'; ?>
<?php echo $this->_tpl_vars['THEME_NAME']; ?>
<?php echo '/view.js"></script>
    <script language="JavaScript"> 
        var module 		= \'account_admin\';
    	var locations 	= \''; ?>
<?php echo $this->_tpl_vars['VAR']['module_id']; ?>
<?php echo '\';		
		var id 			= \''; ?>
<?php echo $this->_tpl_vars['VAR']['id']; ?>
<?php echo '\';
		var ids 		= \''; ?>
<?php echo $this->_tpl_vars['VAR']['ids']; ?>
<?php echo '\';    	 
		var array_id    = id.split(",");
		var array_ids   = ids.split(",");		
		var num=0;
		if(array_id.length > 2) {				 
			document.location = \'?_page=\'+module+\':view&id=\'+array_id[0]+\'&ids=\'+id;				 		
		}else if (array_ids.length > 2) {
			document.write(view_nav_top(array_ids,id,ids));
		}
		
    	// Mass update, view, and delete controller
    	function delete_record(id,ids)
    	{				
    		temp = window.confirm("'; ?>
<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>alert_delete<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?><?php echo '");
    		if(temp == false) return;
    		
    		var replace_id = id + ",";
    		ids = ids.replace(replace_id, \'\');		
    		if(ids == \'\') {
    			var url = \'?_page=core:search&module=\' + module + \'&do[]=\' + module + \':delete&delete_id=\' + id + COOKIE_URL;
    			window.location = url;
    			return;
    		} else {
    			var page = \'view&id=\' +ids;
    		}		
    		
    		var doit = \'delete\';
    		var url = \'?_page=\'+ module +\':\'+ page +\'&do[]=\' + module + \':\' + doit + \'&delete_id=\' + id + COOKIE_URL;
    		window.location = url;	
    	}
    //  END -->
    </script>
'; ?>


<!-- Loop through each record -->
<?php if (count((array)$this->_tpl_vars['account'])):
    foreach ((array)$this->_tpl_vars['account'] as $this->_tpl_vars['account_admin']):
?> <a name="<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"></a>

<!-- Display the field validation -->
<?php if ($this->_tpl_vars['form_validation']): ?>
   <?php echo $this->_tpl_vars['block']->display("core:alert_fields"); ?>

<?php endif; ?>

<!-- Display each record -->
<form id="update_form" name="update_form" method="post" action="">
  
  <table width=100% border="0" cellspacing="0" cellpadding="0" class="table_background">
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="1" cellpadding="0">
          <tr valign="top"> 
            <td width="65%" class="table_heading"> 
              <div align="center"> 
                <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                title_view 
                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
              </div>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> </b>
                    <table width="100%" border="0" cellspacing="2" cellpadding="0" align="left"  class="body">
                      <tr class="row1"> 
                        <td width="18" height="18" valign="middle" align="center"><a href="?_page=invoice:add&invoice_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"><img title=Add src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/add_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="18" height="18" valign="middle" align="center"><a href="?_page=core:search&module=invoice&invoice_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&_next_page_one=view"><img title=View src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="30%" height="18">Invoices </td>
                        <td width="18" height="18">&nbsp;</td>
                        <td width="18" height="18"><a href="?_page=core:search&module=session&session_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&_next_page_one=view"><img title=View src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="70%" height="18">Sessions </td>
                      </tr>
                      <tr class="row2"> 
                        <td width="18" valign="middle" align="center"><a href="?_page=login_log:add&iservice_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"> 
                          </a></td>
                        <td width="18" valign="middle" align="center"><a href="?_page=core:search&module=service&service_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&_next_page_one=view"><img title=View src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="30%">Services </td>
                        <td width="18">&nbsp;</td>
                        <td width="18"><a href="?_page=core:search&module=login_log&login_log_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"><img title=View src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="70%">Login Logs </td>
                      </tr>
                      <tr class="row1"> 
                        <td width="18" valign="middle" align="center" height="18"><a href="?_page=account_billing:add&account_billing_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"><img title=Add src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/add_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="18" valign="middle" align="center" height="18"><a href="?_page=core:search&module=account_billing&account_billing_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&_next_page_one=view"><img title=View src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="30%" height="18">Billing Details</td>
						
                        <?php if ($this->_tpl_vars['list']->is_installed('ticket')): ?>
						<td width="18" height="18"><a href="?_page=ticket:add&ticket_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"><img title=Add src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/add_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="18" height="18"><a href="?_page=core:search&module=ticket&ticket_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&_page_one=view"><img title=View src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="70%" height="18">Tickets </td>
						<?php endif; ?>
						
                      </tr>
                      <tr class="row2"> 
                        <td width="18" valign="middle" align="center"><a href="?_page=discount:add&discount_avail_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"><img title=Add src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/add_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="18" valign="middle" align="center"><a href="?_page=core:search&module=discount&discount_avail_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&_next_page_one=view"><img title=View src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="30%">Discounts </td>
						
						<?php if ($this->_tpl_vars['list']->is_installed('affiliate')): ?>
                        <td width="18"><a href="?_page=affiliate:add&affiliate_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"><img title=Add src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/add_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="18"><a href="?_page=core:search&module=affiliate&affiliate_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&_page_one=view"><img title=View src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/srch_16.gif" border="0" width="16" height="16"></a></td>
                        <td width="70%">Affiliate </td>
						<?php endif; ?>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
			  
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
						  
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_date_orig 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_date_last 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_status 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->date_time($this->_tpl_vars['account_admin']['date_orig']); ?>

                  </td>
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->date_time($this->_tpl_vars['account_admin']['date_last']); ?>

                    <input type="hidden" name="account_admin_date_last" value="<?php echo time(); ?>
">
                  </td>
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->bool('account_admin_status',$this->_tpl_vars['account_admin']['status'],"form_menu\" onChange=\"document.getElementById('update_form').submit()"); ?>

                    <?php if ($this->_tpl_vars['account_admin']['status'] != '1'): ?>
                    &nbsp; <a href="javascript:NewWindow('blank','toolbar=no,status=yes,width=250,height=200','?_page=account:blank&_escape=1&do[]=account_admin:send_verify_email&id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
');"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/mail_16.gif" alt="<?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>resend_verify_email<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" border="0" width="16" height="16"> 
                    </a> 
                    <?php endif; ?>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_username 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_password 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_company 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <input type="text" name="account_admin_username" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['username']; ?>
">
                  </td>
                  <td width="33%"> 
                    <input type="text" name="_password" class="form_field">
                    &nbsp; <a href="javascript:NewWindow('blank','toolbar=no,status=yes,width=250,height=200','?_page=core:blank&_escape=1&do[]=account_admin:send_password_email&id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
');"> 
                    <img title="E-mail Password Reminder" src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/mail_16.gif" alt="<?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>send_password_reset<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" border="0" width="16" height="16"></a> 
                  </td>
                  <td width="33%"> 
                    <input type="text" name="account_admin_company" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['company']; ?>
">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_first_name 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_middle_name 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_last_name 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <input type="text" name="account_admin_first_name" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['first_name']; ?>
">
                  </td>
                  <td width="33%"> 
                    <input type="text" name="account_admin_middle_name" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['middle_name']; ?>
">
                  </td>
                  <td width="33%"> 
                    <input type="text" name="account_admin_last_name" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['last_name']; ?>
">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_title
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_address1 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_address2 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%">
                    <select name="account_admin_title" class="form_menu" onChange="document.getElementById('update_form').submit()">
                      <option value="Mr"<?php if ($this->_tpl_vars['account_admin']['title'] == 'Mr'): ?> selected<?php endif; ?>> 
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                      mr 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      </option>
                      <option value="Mrs"<?php if ($this->_tpl_vars['account_admin']['title'] == 'Mrs'): ?> selected<?php endif; ?>> 
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                      mrs 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      </option>
                      <option value="Miss"<?php if ($this->_tpl_vars['account_admin']['title'] == 'Miss'): ?> selected<?php endif; ?>> 
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                      miss 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      </option>					  
                      <option value="Dr"<?php if ($this->_tpl_vars['account_admin']['title'] == 'Dr'): ?> selected<?php endif; ?>> 
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                      dr 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      </option>
                      <option value="Prof"<?php if ($this->_tpl_vars['account_admin']['title'] == 'Prof'): ?> selected<?php endif; ?>> 
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                      prof 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      </option>
                    </select>
                  </td>
                  <td width="33%">
                    <input type="text" name="account_admin_address1" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['address1']; ?>
">
                  </td>
                  <td width="33%">
                    <input type="text" name="account_admin_address2" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['address2']; ?>
">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_city 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_state 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_zip 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%">
                    <input type="text" name="account_admin_city" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['city']; ?>
">
                  </td>
                  <td width="33%">
				 	<input type="text" name="account_admin_state" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['state']; ?>
">
				  </td>
                  <td width="33%">
				  	<input type="text" name="account_admin_zip" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['zip']; ?>
">
				  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_email 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_email_html 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_theme_id 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <input type="text" name="account_admin_email" class="form_field" value="<?php echo $this->_tpl_vars['account_admin']['email']; ?>
">
                    <a href="?_page=account_admin:mail_one&mail_account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
"><img title="E-mail user" src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/mail_16.gif" border="0" width="16" height="16"></a> 
                  </td>
                  <td width="33%">
                    <?php echo $this->_tpl_vars['list']->bool('account_admin_email_type',$this->_tpl_vars['account_admin']['email_type'],"form_menu\" onChange=\"document.getElementById('update_form').submit()"); ?>

                  </td>
                  <td width="33%">
                    <?php echo $this->_tpl_vars['list']->menu_files("",'account_admin_theme_id',$this->_tpl_vars['account_admin']['theme_id'],'theme',"",".user_theme","form_menu\" onChange=\"document.getElementById('update_form').submit()"); ?>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="66%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_country_id 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_currency_id 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->menu('no','account_admin_country_id','country','name',$this->_tpl_vars['account_admin']['country_id'],"form_menu\" onChange=\"document.getElementById('update_form').submit()"); ?>

                  </td>
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->menu('no','account_admin_currency_id','currency','name',$this->_tpl_vars['account_admin']['currency_id'],"form_menu\" onChange=\"document.getElementById('update_form').submit()"); ?>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_language_id 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="34%"> <b>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_date_expire 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b>
				    <?php if ($this->_tpl_vars['list']->is_installed('affiliate')): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_affiliate_id 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
					<?php endif; ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->menu_files("",'account_admin_language_id',$this->_tpl_vars['account_admin']['language_id'],'language',"","_core.xml","form_menu\" onChange=\"document.getElementById('update_form').submit()"); ?>

                  </td>
                  <td width="34%">
                    <?php echo $this->_tpl_vars['list']->calender_view('account_admin_date_expire',$this->_tpl_vars['account_admin']['date_expire'],'form_field',$this->_tpl_vars['account_admin']['id']); ?>

                  </td>
                  <td width="33%"> 
                    <?php if ($this->_tpl_vars['list']->is_installed('affiliate')): ?>
                    <?php echo $this->_tpl_vars['list']->menu("",'account_admin_affiliate_id','affiliate','id',$this->_tpl_vars['account_admin']['affiliate_id'],"form_menu\" onChange=\"document.getElementById('update_form').submit()",'all'); ?>

                    <?php endif; ?>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
                    authorized_groups 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="67%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>
                    field_misc 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->select_groups($this->_tpl_vars['account_admin']['groups'],'groups','form_field','10',$this->_tpl_vars['account_admin']['own_account']); ?>

                  </td>
                  <td width="67%"> 
                    <textarea name="account_admin_misc" cols="60" rows="3" <?php if ($this->_tpl_vars['account_admin_misc'] == true): ?>class="form_field_error"<?php else: ?>class="form_field"<?php endif; ?>><?php echo $this->_tpl_vars['account_admin']['misc']; ?>
</textarea>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <?php if ($this->_tpl_vars['account_admin']['static_var']): ?>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <?php if (count((array)$this->_tpl_vars['account_admin']['static_var'])):
    foreach ((array)$this->_tpl_vars['account_admin']['static_var'] as $this->_tpl_vars['record']):
?>
                <tr valign="top"> 
                  <td width="33%" valign="top"> 
                    <?php echo $this->_tpl_vars['record']['name']; ?>

                  </td>
                  <td width="67%"> 
                    <?php echo $this->_tpl_vars['record']['html']; ?>

                  </td>
                </tr>
                <?php endforeach; endif; ?>
              </table>
            </td>
          </tr>
          <?php endif; ?>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr class="row1" valign="middle" align="left"> 
                  <td width="33%" valign="top">
                    <input type="submit" name="Submit" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>submit<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_button">
                  </td>
                  <td width="67%" valign="top" align="right"> 
                    <input type="button" name="delete" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>delete<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_button" onClick="delete_record('<?php echo $this->_tpl_vars['account_admin']['id']; ?>
','<?php echo $this->_tpl_vars['VAR']['id']; ?>
');">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div align="center">
    <input type="hidden" name="_page" value="account_admin:view"> 
    <input type="hidden" name="_page_current" value="account_admin:view">
    <input type="hidden" name="account_admin_id" value="<?php echo $this->_tpl_vars['account_admin']['id']; ?>
">
    <input type="hidden" name="do[]" value="account_admin:update">
    <input type="hidden" name="id" value="<?php echo $this->_tpl_vars['VAR']['id']; ?>
">
    <?php if (@constant('SESS_ACCOUNT') != $this->_tpl_vars['account_admin']['id']): ?>
    <a href="<?php echo $this->_tpl_vars['URL']; ?>
?page=account:account&id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&account_id=<?php echo $this->_tpl_vars['account_admin']['id']; ?>
&do[]=account_admin:login&tid=<?php echo $this->_tpl_vars['account_admin']['theme_id']; ?>
" target="_parent"> 
    Become This User</a> 
    <?php endif; ?>
  </div>
</form>
  
<br>
<?php endforeach; endif; ?>
<?php endif; ?>