<?php /* Smarty version 2.5.0, created on 2005-02-02 18:58:58
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/invoice/view.tpl */ ?>
<?php $this->_load_plugins(array(
array('function', 'popup_init', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/invoice/view.tpl', 3, false),
array('function', 'assign', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/invoice/view.tpl', 177, false),
array('function', 'popup', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/invoice/view.tpl', 178, false),
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/invoice/view.tpl', 23, false),
array('modifier', 'upper', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/invoice/view.tpl', 404, false),)); ?><?php echo $this->_tpl_vars['method']->exe('invoice','view'); ?>
 <?php if (( $this->_tpl_vars['method']->result == FALSE )): ?> <?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>
 <?php else: ?>

<?php echo $this->_plugins['function']['popup_init'][0](array('src' => $this->_tpl_vars['URL']."/includes/overlib/overlib.js"), $this) ; ?>

 
<?php echo '
	<script src="themes/'; ?>
<?php echo $this->_tpl_vars['THEME_NAME']; ?>
<?php echo '/view.js"></script>
    <script language="JavaScript"> 
        var module 		= \'invoice\';
    	var locations 	= \''; ?>
<?php echo $this->_tpl_vars['VAR']['module_id']; ?>
<?php echo '\';		
		var id 			= \''; ?>
<?php echo $this->_tpl_vars['VAR']['id']; ?>
<?php echo '\';
		var ids 		= \''; ?>
<?php echo $this->_tpl_vars['VAR']['ids']; ?>
<?php echo '\';    	 
		var array_id    = id.split(",");
		var array_ids   = ids.split(",");		
		var num=0;
		if(array_id.length > 2) {				 
			document.location = \'?_page=\'+module+\':view&id=\'+array_id[0]+\'&ids=\'+id;				 		
		}else if (array_ids.length > 2) {
			document.write(view_nav_top(array_ids,id,ids));
		}
		
    	function delete_record(id,ids)
    	{				
    		temp = window.confirm("'; ?>
<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>alert_delete<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?><?php echo '");
    		if(temp == false) return;
    		
    		var replace_id = id + ",";
    		ids = ids.replace(replace_id, \'\');		
    		if(ids == \'\') {
    			var url = \'?_page=core:search&module=\' + module + \'&do[]=\' + module + \':delete&delete_id=\' + id + COOKIE_URL;
    			window.location = url;
    			return;
    		} else {
    			var page = \'view&id=\' +ids;
    		}		
    		
    		var doit = \'delete\';
    		var url = \'?_page=\'+ module +\':\'+ page +\'&do[]=\' + module + \':\' + doit + \'&delete_id=\' + id + COOKIE_URL;
    		window.location = url;	
    	}
		
		function approveInvoice(id,status) 
		{
			if(status.value == \'1\') {
				document.location = \'?_page=invoice:view&id=\'+id+\'&do[]=invoice:approveInvoice\';
			} else {
				document.location = \'?_page=invoice:view&id=\'+id+\'&do[]=invoice:voidInvoice\';
			}
		} 
    </script>
'; ?>

 

<!-- Loop through each record -->
<?php if (count((array)$this->_tpl_vars['invoice'])):
    foreach ((array)$this->_tpl_vars['invoice'] as $this->_tpl_vars['invoice']):
?> <a name="<?php echo $this->_tpl_vars['invoice']['id']; ?>
"></a>

<!-- Display the field validation -->
<?php if ($this->_tpl_vars['form_validation']): ?>
   <?php echo $this->_tpl_vars['block']->display("core:alert_fields"); ?>

<?php endif; ?>

<!-- Display each record -->
<form id="invoice_view" name="invoice_view" method="post" action="">
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
  <tr>
    <td>
        <table width="100%" border="0" cellspacing="1" cellpadding="0">
          <tr valign="top"> 
            <td width="65%" class="table_heading"> 
              <center>
                <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                title_view 
                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                <?php echo $this->_tpl_vars['invoice']['id']; ?>
 
                 
</center>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_date_orig 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_date_last 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_due_date 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->date_time($this->_tpl_vars['invoice']['date_orig']); ?>

                  </td>
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->date_time($this->_tpl_vars['invoice']['date_last']); ?>

                    <input type="hidden" name="invoice_date_last" value="<?php echo time(); ?>
">
                  </td>
                  <td width="33%"> 
                    <?php if ($this->_tpl_vars['invoice']['billing_status'] != 1): ?>
                    <?php echo $this->_tpl_vars['list']->calender_view('invoice_due_date',$this->_tpl_vars['invoice']['due_date'],'form_field',$this->_tpl_vars['invoice']['id']); ?>

                    <?php else: ?>
                    <?php echo $this->_tpl_vars['list']->date($this->_tpl_vars['invoice']['due_date']); ?>

                    <?php endif; ?>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_process_status 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_billing_status 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_print_status 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
					<?php echo '<script language="JavaScript"> 
							function approveInvoice(status)  {
								var id = '; ?>
<?php echo $this->_tpl_vars['invoice']['id']; ?>
<?php echo '
								if(status.value == \'1\') {
									document.location = \'?_page=invoice:view&id=\'+id+\'&do[]=invoice:approveInvoice\';
								} else {
									document.location = \'?_page=invoice:view&id=\'+id+\'&do[]=invoice:voidInvoice\';
								}
							} 
					</script>'; ?>
				  
                    <?php echo $this->_tpl_vars['list']->bool('invoice_process_status',$this->_tpl_vars['invoice']['process_status'],"form_menu\" onChange=\"javascript:approveInvoice(this)"); ?>

                  </td>
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->bool('invoice_billing_status',$this->_tpl_vars['invoice']['billing_status'],"form_menu\" onChange=\"document.getElementById('invoice_view').submit()"); ?>

                  </td>
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->bool('invoice_print_status',$this->_tpl_vars['invoice']['print_status'],"form_menu\" onChange=\"document.getElementById('invoice_view').submit()"); ?>

                    <a href="?_page=invoice:pdf&id=<?php echo $this->_tpl_vars['invoice']['id']; ?>
&_escape=true" target="_blank"> 
                    </a> <a href="?_page=account_admin:mail_one&mail_account_id=<?php echo $this->_tpl_vars['invoice']['account_id']; ?>
"> 
                    </a> </td>
                </tr>
              </table>
            </td>
          </tr>
          
          <?php if ($this->_tpl_vars['list']->is_installed('affiliate')): ?>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="17%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_affiliate_id 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>:</b></td>
                  <td width="16%"> 
				    <?php echo $this->_tpl_vars['list']->menu('no','invoice_affiliate_id','affiliate','id',$this->_tpl_vars['invoice']['affiliate_id'],"form_menu\" onChange=\"document.getElementById('invoice_view').submit()",'all'); ?>

                    <?php if ($this->_tpl_vars['invoice']['affiliate_id'] != ""): ?>
					<?php echo $this->_plugins['function']['assign'][0](array('var' => 'affiliate_details','value' => $this->_tpl_vars['invoice']['affiliate_popup']), $this) ; ?>

                    <a href="?_page=affiliate:view&id=<?php echo $this->_tpl_vars['invoice']['affiliate_id']; ?>
" <?php echo $this->_plugins['function']['popup'][0](array('fgcolor' => 'FCFCFC','sticky' => false,'width' => '300','caption' => 'Affiliate Details','text' => $this->_tpl_vars['affiliate_details'],'snapx' => 1,'snapy' => 1), $this) ; ?>
> 
                    [?]
                    </a> 
					<?php endif; ?>
					</td>
                  <td width="34%"><b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    affiliate_commissions 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> 
                    <?php if ($this->_tpl_vars['invoice']['affiliate_commissions'] > 0): ?>
                    <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['invoice']['affiliate_commissions'],''); ?>

                    <?php else: ?>
                    ---- 
                    <?php endif; ?>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <?php endif; ?>
          
          <?php if ($this->_tpl_vars['invoice']['discount_arr'] != '' && $this->_tpl_vars['invoice']['discount_amt'] > 0): ?>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"><b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_discount_amt 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="66%"> 
                    <?php echo $this->_plugins['function']['assign'][0](array('var' => 'discount_details','value' => $this->_tpl_vars['invoice']['discount_popup']), $this) ; ?>

                    <a href="#" <?php echo $this->_plugins['function']['popup'][0](array('fgcolor' => 'FCFCFC','sticky' => true,'caption' => 'Discount Details','text' => $this->_tpl_vars['discount_details'],'snapx' => 1,'snapy' => 1), $this) ; ?>
> 
                    <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['invoice']['discount_amt'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                    </a> </td>
                </tr>
              </table>
            </td>
          </tr>
          <?php endif; ?>

		  
		  <?php if ($this->_tpl_vars['invoice']['tax_amt'] > 0): ?>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_tax_amt 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="66%"><b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_tax_id 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                </tr>
                <tr valign="top" class="row2"> 
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['invoice']['tax_amt'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                  </td>
                  <td width="66%"> 
                    <?php echo $this->_tpl_vars['list']->menu('no','invoice_tax_id','tax','description',$this->_tpl_vars['invoice']['tax_id'],"form_menu\" disabled"); ?>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
		  <?php endif; ?>
		  
		  
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_total_amt 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_billed_amt 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="33%"> <b>
				  <?php if ($this->_tpl_vars['invoice']['billed_currency_id'] != $this->_tpl_vars['invoice']['actual_billed_currency_id']): ?> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_actual_billed_amt 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b>
				  <?php endif; ?>
				  </td>
                </tr>
                <tr valign="top"> 
                  <td width="33%"> 
                    <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['invoice']['total_amt'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                  </td>
                  <td width="33%"> 
				  	<?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['invoice']['billed_amt'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                  </td>
                  <td width="33%">
				   <?php if ($this->_tpl_vars['invoice']['billed_currency_id'] != $this->_tpl_vars['invoice']['actual_billed_currency_id']): ?>
				   <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['invoice']['actual_billed_amt'],$this->_tpl_vars['invoice']['actual_billed_currency_id']); ?>
  
				   <?php endif; ?>
                  </td>
                </tr>
              </table>
            </td>
          </tr> 
		  
          <?php if ($this->_tpl_vars['invoice']['billing_status'] == '0'): ?>
          <tr valign="top"> 
            <td width="65%" class="row1"> 
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top" class="row2"> 
                  <td width="141"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_notice_count 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                  <td width="103" valign="middle"> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row1">
                      <tr> 
                        <td> 
                          <?php echo $this->_tpl_vars['invoice']['notice_count']; ?>

                        </td>
                        <td><a href="?_page=invoice:view&account_id=<?php echo $this->_tpl_vars['invoice']['account_id']; ?>
&id=<?php echo $this->_tpl_vars['invoice']['id']; ?>
&ids=<?php echo $this->_tpl_vars['VAR']['ids']; ?>
&do[]=invoice:resend"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/mail_16.gif" border="0" width="16" height="16" alt="Resend Invoice"></a></td>
                      </tr>
                    </table>
                  </td>
                  <td width="287"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_notice_next_date 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                  <td width="212"> <b> 
                    <?php echo $this->_tpl_vars['list']->calender_view('invoice_notice_next_date',$this->_tpl_vars['invoice']['notice_next_date'],'form_field',$this->_tpl_vars['invoice']['id']); ?>

                    </b> </td>
                </tr>
                <tr valign="top"> 
                  <td width="141"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_notice_max 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                  <td width="103"> 
                    <input type="text" name="invoice_notice_max" value="<?php echo $this->_tpl_vars['invoice']['notice_max']; ?>
" class="form_field" size="2">
                  </td>
                  <td width="287"> <b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_grace_period 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b> </td>
                  <td width="212"> 
                    <input type="text" name="invoice_grace_period" value="<?php echo $this->_tpl_vars['invoice']['grace_period']; ?>
" class="form_field" size="2">
                  </td>
                </tr>
                <tr valign="top">
                  <td width="141"><b> </b></td>
                  <td width="103">&nbsp; </td>
                  <td width="287"><b>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'invoice')); $this->_plugins['block']['translate'][0](array('module' => 'invoice'), null, $this); ob_start(); ?>
                    field_suspend_billing 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    </b></td>
                  <td width="212">
                    <?php echo $this->_tpl_vars['list']->bool('invoice_suspend_billing',$this->_tpl_vars['invoice']['suspend_billing'],"form_menu\" onChange=\"javascript:document.getElementById('invoice_view').submit()"); ?>

                  </td>
                </tr>
              </table>
              
            </td>
          </tr>
          <?php endif; ?>
		  
		  <!-- billing details -->
          
          <?php if ($this->_tpl_vars['invoice']['checkout_plugin_id'] != '0'): ?>
          <?php echo $this->_plugins['function']['assign'][0](array('var' => 'sql1','value' => " AND id='"), $this) ; ?>

          <?php echo $this->_plugins['function']['assign'][0](array('var' => 'sql2','value' => "' "), $this) ; ?>

          <?php echo $this->_plugins['function']['assign'][0](array('var' => 'sql3','value' => $this->_tpl_vars['invoice']['checkout_plugin_id']), $this) ; ?>

          <?php echo $this->_plugins['function']['assign'][0](array('var' => 'sql','value' => $this->_tpl_vars['sql1'].$this->_tpl_vars['sql3'].$this->_tpl_vars['sql2']), $this) ; ?>

          <?php if ($this->_tpl_vars['list']->smarty_array('checkout','checkout_plugin',$this->_tpl_vars['sql'], 'checkout')): ?>
          <?php echo $this->_plugins['function']['assign'][0](array('var' => 'checkout_plugin','value' => $this->_tpl_vars['checkout'][0]['checkout_plugin']), $this) ; ?>
  
              <?php echo $this->_plugins['function']['assign'][0](array('var' => 'ablock','value' => "checkout_plugin:plugin_inv_"), $this) ; ?>

              <?php echo $this->_plugins['function']['assign'][0](array('var' => 'blockfile','value' => $this->_tpl_vars['ablock'].$this->_tpl_vars['checkout_plugin']), $this) ; ?>

              <?php echo $this->_tpl_vars['block']->display($this->_tpl_vars['blockfile']); ?>
 
          <?php endif; ?>
          <?php endif; ?> 
		  <!-- end billing details -->
		  		  
          <tr valign="top" class="table_background"> 
            <td width="65%" class="table_heading">
              <center>
                Items Purchased 
              </center>
            </td>
          </tr>         
		  <tr valign="top"> 
            <td width="65%" class="row1"> 
			
			
          	<!-- Loop through each invoice item record -->
          	<?php if (count((array)$this->_tpl_vars['cart'])):
    foreach ((array)$this->_tpl_vars['cart'] as $this->_tpl_vars['cart']):
?>
			
					
			<br>
              <?php if ($this->_tpl_vars['cart']['item_type'] == '2'): ?>
              <!-- Show domain -->
              <table width="97%" border="0" cellspacing="0" cellpadding="0" class="table_background" align="center">
                <tr> 
                  <td> 
                    <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
                      <tr> 
                        <td width="70%" class="row2" valign="top"> 
                          <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row2">
                            <tr> 
                              <td width="67%" class="row2"><b> </b> 
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
                                  <tr> 
                                    <td width="51%"><b> <u> 
                                      <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart']['domain_name']); ?>

                                      .
                                      <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart']['domain_tld']); ?>

                                      </u> </b></td>
                                    <td width="37%">&nbsp;</td>
                                    <td width="12%" align="right"><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart_assoc']['product_id']; ?>
"> 
                                      </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                                      </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                                      </a><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart']['product_id']; ?>
"> 
                                      </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                                      </a></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr> 
                              <td width="67%"> &nbsp;&nbsp;<b> </b>
                                <?php if ($this->_tpl_vars['cart']['sku'] == "DOMAIN-REGISTER"): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                register 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php elseif ($this->_tpl_vars['cart']['sku'] == "DOMAIN-TRANSFER"): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                transfer 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php elseif ($this->_tpl_vars['cart']['sku'] == "DOMAIN-PARK"): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                park 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                              </td>
                            </tr>
                            <?php if ($this->_tpl_vars['cart']['cart_type'] == '1'): ?>
                            <?php if ($this->_tpl_vars['cart']['host_type'] == 'ns_transfer'): ?>
                            <?php endif; ?>
                            <?php if ($this->_tpl_vars['cart']['host_type'] == 'ip'): ?>
                            <?php endif; ?>
                            <?php endif; ?>
                          </table>
                        </td>
                        <td width="30%" class="row1" valign="top" align="right"> 
                          <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row1">
                            <tr> 
                              <td width="43%">Base Price</td>
                              <td width="57%" valign="middle" align="right"> 
                                <div id="def_base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"> 
                                  <div id="def_base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
                                    <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_base'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                                  </div>
                                  <div id="base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></div>
                                </div>
                                <div id="base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"></div>
                              </td>
                            </tr>
                          </table>
                          <?php if ($this->_tpl_vars['cart']['sku'] != 'DOMAIN-PARK'): ?>
                          <select id="quantity_<?php echo $this->_tpl_vars['cart']['id']; ?>
" class="form_menu" disabled name="select">
                             
                            <option value=""><?php echo $this->_tpl_vars['cart']['domain_term']; ?>
 Year</option>
                          
                          </select>
                          <?php endif; ?>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <?php else: ?>
              <!-- Show product -->
              <table width="97%" border="0" cellspacing="0" cellpadding="0" class="table_background" align="center">
                <tr> 
                  <td> 
                    <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
                      <tr> 
                        <td width="70%" class="row2" valign="top"> 
                          <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row2">
                            <tr> 
                              <td width="67%" class="row2"><b> </b> 
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
                                  <tr> 
                                    <td width="51%"><b> 
                                      <?php if ($this->_tpl_vars['list']->translate('product_translate','name','product_id',$this->_tpl_vars['cart']['product_id'],'translate_product')): ?>
                                      <?php endif; ?>
                                      <u> 
                                      <?php echo $this->_tpl_vars['translate_product']['name']; ?>

                                      </u> </b></td>
                                    <td width="35%"><b>&nbsp; 
                                      <?php if ($this->_tpl_vars['invoice']['type'] != 1): ?>
                                      </b>( <a href="?_page=product:view&id=<?php echo $this->_tpl_vars['cart']['product_id']; ?>
"> 
                                      <?php echo $this->_tpl_vars['cart']['sku']; ?>

                                      </a> ) 
                                      <?php else: ?>
                                      ( <a href="?_page=service:view&id=<?php echo $this->_tpl_vars['cart']['service_id']; ?>
"> 
                                      Service 
                                      <?php echo $this->_tpl_vars['cart']['service_id']; ?>

                                      </a> ) 
                                      <?php endif; ?>
                                    </td>
                                    <td width="14%" align="right"> 
                                      <?php if ($this->_tpl_vars['cart']['attribute_popup'] != ""): ?>
                                      <a href="#" <?php echo $this->_plugins['function']['popup'][0](array('fgcolor' => 'FCFCFC','sticky' => true,'width' => '300','caption' => 'Item Attributes','text' => $this->_tpl_vars['cart']['attribute_popup'],'snapx' => 1,'snapy' => 1), $this) ; ?>
> 
                                      <img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/edit_16.gif" border="0" width="16" height="16">
									  </a>   
                                      <?php endif; ?>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr> 
                              <td width="67%"> &nbsp;&nbsp; 
                                <?php if ($this->_tpl_vars['cart']['price_type'] == '0'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                price_type_one 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                                <?php if ($this->_tpl_vars['cart']['price_type'] == '1'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                price_type_recurr 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                                <?php if ($this->_tpl_vars['cart']['price_type'] == '2'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                price_type_trial 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                              </td>
                            </tr>
                            <tr> 
                              <td width="67%"> &nbsp;&nbsp;
                                <?php if ($this->_tpl_vars['cart']['price_type'] == '1'): ?>
                                <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_base'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                                <?php if ($this->_tpl_vars['cart']['recurring_schedule'] == '0'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                recurr_week 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                                <?php if ($this->_tpl_vars['cart']['recurring_schedule'] == '1'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                recurr_month 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                                <?php if ($this->_tpl_vars['cart']['recurring_schedule'] == '2'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                recurr_quarter 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                                <?php if ($this->_tpl_vars['cart']['recurring_schedule'] == '3'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                recurr_semianual 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                                <?php if ($this->_tpl_vars['cart']['recurring_schedule'] == '4'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                recurr_anual 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                                <?php if ($this->_tpl_vars['cart']['recurring_schedule'] == '5'): ?>
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                recurr_twoyear 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                                &nbsp;&nbsp; + &nbsp; 
                                <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_setup'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                setup 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                <?php endif; ?>
                              </td>
                            </tr>
                            <?php if ($this->_tpl_vars['cart']['item_type'] == '1'): ?>
                            <?php if ($this->_tpl_vars['cart']['domain_type'] == 'ns_transfer'): ?>
                            <tr> 
                              <td width="67%">&nbsp;&nbsp; 
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                host_type_domain 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                                - <u> <?php echo $this->_tpl_vars['cart']['domain_name']; ?>
.<?php echo $this->_tpl_vars['cart']['domain_tld']; ?>
</u>
								</td>
                            </tr>
                            <?php endif; ?>
                            <?php if ($this->_tpl_vars['cart']['domain_type'] == 'ip'): ?>
                            <tr> 
                              <td width="67%">&nbsp;&nbsp; 
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                host_type_ip 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                              </td>
                            </tr>
                            <?php endif; ?>
                            <?php endif; ?>
                          </table>
                        </td>
                        <td width="30%" class="row1" valign="top"> 
                          <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row1">
                            <tr> 
                              <td width="43%">Base Price</td>
                              <td width="57%" valign="middle" align="right"> 
                                <div id="def_base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
                                  <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_base'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                                </div>
                                <div id="base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></div>
                              </td>
                            </tr>
                            <tr> 
                              <td width="43%">Setup Price</td>
                              <td width="57%" valign="middle" align="right"> 
                                <div id="def_setup_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
                                  <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_setup'],$this->_tpl_vars['invoice']['billed_currency_id']); ?>

                                </div>
                                <div id="setup_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></div>
                              </td>
                            </tr>
                            <tr> 
                              <td width="43%"> 
                                <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                                quantity 
                                <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                              </td>
                              <td width="57%" valign="middle" align="right"> 
                                <?php echo $this->_tpl_vars['cart']['quantity']; ?>

                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <?php endif; ?>
              <?php endforeach; endif; ?>
              <br>
            </td>
          </tr> 
          <tr valign="top">
            <td width="65%" class="row1">
              <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr> 
                  <td width="15%"> 
                    <input type="submit" name="Submit" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>submit<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_button">
                  </td>
                  <td align="center" width="70%" valign="middle"><a href="javascript:showMemos()"><img title=Memos src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/notep_16.gif" border="0" alt="Memos"></a> 
                    <?php if ($this->_tpl_vars['invoice']['type'] != 1): ?>&nbsp;&nbsp<a href="javascript:showServices()"><img title=Services src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/tools_16.gif" border="0" alt="Services"></a><?php endif; ?> 
                    &nbsp;&nbsp&nbsp;<a href="javascript:showEmail()"><img title=E-mail src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/mail_16.gif" border="0" alt="E-mail User"></a> 
                    &nbsp;&nbsp&nbsp;<a href="?_page=invoice:pdf&id=<?php echo $this->_tpl_vars['invoice']['id']; ?>
&_escape=true" target="_blank"><img title=Print src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/print_16.gif" border="0" alt="Printable Invoice"></a> 
                    &nbsp;&nbsp 
                    <?php echo $this->_plugins['function']['assign'][0](array('var' => 'account_details','value' => $this->_tpl_vars['invoice']['account_popup']), $this) ; ?>

                    <a href="?_page=account_admin:view&id=<?php echo $this->_tpl_vars['invoice']['account_id']; ?>
" <?php echo $this->_plugins['function']['popup'][0](array('fgcolor' => 'FCFCFC','sticky' => false,'width' => '150','caption' => 'Account Details','text' => $this->_tpl_vars['account_details'],'snapx' => 1,'snapy' => 1), $this) ; ?>
><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/user_16.gif" border="0" alt="View User Account"></a> 
                    <?php if ($this->_tpl_vars['invoice']['total_amt'] > $this->_tpl_vars['invoice']['billed_amt']): ?>
                    &nbsp;&nbsp;<a href="javascript:showReconcile(<?php echo $this->_tpl_vars['invoice']['total_amt']; ?>
)"><img title=Reconcile src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/add_16.gif" border="0" alt="Services"></a> 
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['invoice']['billed_amt'] > 0): ?>
                    &nbsp;&nbsp<a href="javascript:showRefund(<?php echo $this->_tpl_vars['invoice']['billed_amt']; ?>
)"><img title=Refund src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/remov_16.gif" border="0" alt="Services"></a> 
                    <?php endif; ?>
                  </td>
                  <td align="right" width="15%"> 
                    <input type="button" name="delete" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>delete<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_button" onClick="delete_record('<?php echo $this->_tpl_vars['invoice']['id']; ?>
','<?php echo $this->_tpl_vars['VAR']['id']; ?>
');">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table> 
	<input type="hidden" name="_page" value="invoice:view">
    <input type="hidden" name="invoice_id" value="<?php echo $this->_tpl_vars['invoice']['id']; ?>
">
    <input type="hidden" name="do[]" value="invoice:update">
    <input type="hidden" name="id" value="<?php echo $this->_tpl_vars['VAR']['id']; ?>
">
  <center> 
    <BR>
	<iframe id="iframeInvoice" style="border:0px; width:0px; height:0px;" scrolling="auto" ALLOWTRANSPARENCY="true" frameborder="0"></iframe> 
  </center>
</form>
   
<?php endforeach; endif; ?>
<?php endif; ?>

<?php echo '
<script language="JavaScript">
<!-- START
 
var invoice_id 	= '; ?>
<?php echo $this->_tpl_vars['invoice']['id']; ?>
<?php echo ';
var account_id 	= \''; ?>
<?php echo $this->_tpl_vars['invoice']['account_id']; ?>
<?php echo '\';  
 
function showEmail() {
	showIFrame(\'iframeInvoice\',600,350,\'?_page=account_admin:iframe_mail_one&_escape=1&mail_account_id=\'+account_id);
}

function showMemos() {
	showIFrame(\'iframeInvoice\',600,350,\'?_page=core:search_iframe&module=invoice_memo&_escape=1&invoice_memo_invoice_id=\'+invoice_id+
			   \'&_escape_next=1&_next_page_one=view&_next_page_none=add&name_id1=invoice_memo_invoice_id&val_id1=\'+invoice_id);
}

function showServices() { 
	showIFrame(\'iframeInvoice\',600,350,\'?_page=core:search_iframe&module=service&_escape=1&service_invoice_id=\'+invoice_id+
			   \'&_escape_next=1&_next_page=iframe_search_show&_next_page_one=iframe_view&_next_page_none=none&name_id1=service_invoice_id&val_id1=\'+invoice_id);
}

function showReconcile(amt) { 
	showIFrame(\'iframeInvoice\',600,200,\'?_page=invoice:reconcile&id=\'+invoice_id+\'&_escape=1&amount=\'+amt);
}

function showRefund(amt) { 
	showIFrame(\'iframeInvoice\',600,200,\'?_page=invoice:refund&id=\'+invoice_id+\'&_escape=1&amount=\'+amt);
}

//  END -->
</script>
'; ?>
