<?php /* Smarty version 2.5.0, created on 2005-02-02 18:49:32
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default_admin/blocks/core/top_frame.tpl */ ?>
<HTML>
<HEAD> 
<TITLE><?php echo @constant('SITE_NAME'); ?>
</TITLE>
<meta http-equiv="expires" content="Wed, 26 Feb 2004 08:21:57 GMT">
<meta http-equiv="no-cache">

<SCRIPT LANGUAGE="JavaScript">
<!-- START
	var escape			= "";
	var sess_expires 	= "<?php echo @constant('SESSION_EXPIRE'); ?>
";
	var cookie_name		= "<?php echo @constant('COOKIE_NAME'); ?>
";
	var SESS	 		= "<?php echo $this->_tpl_vars['SESS']; ?>
";
	var URL				= "<?php echo $this->_tpl_vars['URL']; ?>
";
	var SSL_URL			= "<?php echo $this->_tpl_vars['SSL_URL']; ?>
";
	var THEME_NAME  	= "<?php echo $this->_tpl_vars['THEME_NAME']; ?>
";
	var REDIRECT_PAGE 	= "<?php echo @constant('REDIRECT_PAGE'); ?>
"; 
	
	<?php echo '
  	if (top.location == location) {
    	top.location.href = document.location.href + \'?tid=default_admin&tid=default_admin\';
  	} '; ?>
	 
	 
//  END -->
</SCRIPT>

<!-- Load the main stylesheet -->
<link rel="stylesheet" href="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/style.css" type="text/css">
 
<!-- Load the main javascript code -->
<SCRIPT SRC="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/top.js"></SCRIPT>


<!-- Load the JSCalender code -->
<link rel="stylesheet" type="text/css" media="all" href="includes/jscalendar/calendar-blue.css" title="win2k-1" />
<script type="text/javascript" src="includes/jscalendar/calendar_stripped.js"></script>
<script type="text/javascript" src="includes/jscalendar/lang/calendar-<?php echo @constant('LANG'); ?>
.js"></script>
<script type="text/javascript" src="includes/jscalendar/calendar-setup_stripped.js"></script>
 
 
</HEAD> 
<body <?php if ($this->_tpl_vars['VAR']['_print'] != ""): ?>onload="parent['mainFrame'].print();"<?php endif; ?> bgcolor="#FFFFFF" text="#000000" leftmargin="15" rightmargin="15" topmargin="15" bottommargin="10" marginwidth="15" marginheight="15" class="body">

<!-- display the alert block -->
<?php if ($this->_tpl_vars['alert']): ?>
<?php echo $this->_tpl_vars['block']->display("core:alert"); ?>

<?php endif; ?>