<?php /* Smarty version 2.5.0, created on 2005-02-02 18:45:26
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/search.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/search.tpl', 35, false),)); ?><HTML>
<HEAD>
<TITLE><?php echo @constant('SITE_NAME'); ?>
</TITLE>

<SCRIPT LANGUAGE="JavaScript">
<!-- START
	var sess_expires 	= "<?php echo @constant('SESSION_EXPIRE'); ?>
";
	var cookie_name		= "<?php echo @constant('COOKIE_NAME'); ?>
";
	var SESS	 	= "<?php echo $this->_tpl_vars['SESS']; ?>
";
	var URL			= "<?php echo $this->_tpl_vars['URL']; ?>
";
	var SSL_URL		= "<?php echo $this->_tpl_vars['SSL_URL']; ?>
";
	var THEME_NAME  	= "<?php echo $this->_tpl_vars['THEME_NAME']; ?>
";
	var REDIRECT_PAGE 	= "<?php echo @constant('REDIRECT_PAGE'); ?>
";
//  END -->
</SCRIPT>

<!-- Load the main stylesheet -->
<link rel="stylesheet" href="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/style.css" type="text/css">

<!-- Load the main javascript code -->
<SCRIPT SRC="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/top.js"></SCRIPT>
 
</HEAD>
<BODY leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" class="row1">
<?php echo $this->_tpl_vars['method']->exe($this->_tpl_vars['VAR']['module'],'search'); ?>

<?php if (( $this->_tpl_vars['method']->result == FALSE )): ?>
<?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>

<?php else: ?>
<?php if ($this->_tpl_vars['results'] > 0): ?>
<br>
<br>
<center>
  <br>
  <b>
  <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
  search_results 
  <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
  <br>
  <br>
  <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
  alert_refresh_click
  <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
  <br>
  <br>
  <?php if ($this->_tpl_vars['results'] == '1' && $this->_tpl_vars['VAR']['_next_page_one'] != ""): ?>
  	  <!-- ONLY ONE RESULT -->
	  <a href="?_page=<?php echo $this->_tpl_vars['VAR']['module']; ?>
:<?php echo $this->_tpl_vars['VAR']['_next_page_one']; ?>
&id=<?php echo $this->_tpl_vars['record_id']; ?>
<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1<?php endif; ?>">
	  <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>alert_click<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
	  </a>
  	  <SCRIPT LANGUAGE="JavaScript"> 
		  var url   = '?_page=<?php echo $this->_tpl_vars['VAR']['module']; ?>
:<?php echo $this->_tpl_vars['VAR']['_next_page_one']; ?>
&id=<?php echo $this->_tpl_vars['record_id']; ?>
,<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1<?php endif; ?>';        	
		  document.location = url;
      </SCRIPT>	  	 
  <?php else: ?>
	  <?php if ($this->_tpl_vars['VAR']['_next_page'] == ""): ?>
	  <a href="?_page=<?php echo $this->_tpl_vars['VAR']['module']; ?>
:search_show&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&order_by=<?php echo $this->_tpl_vars['order_by']; ?>
&limit=<?php echo $this->_tpl_vars['limit']; ?>
&page=1<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1<?php endif; ?>">
	  <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>alert_click<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
	  </a><br>
	  <?php else: ?>
	  <a href="?_page=<?php echo $this->_tpl_vars['VAR']['module']; ?>
:<?php echo $this->_tpl_vars['VAR']['_next_page']; ?>
&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&order_by=<?php echo $this->_tpl_vars['order_by']; ?>
&limit=<?php echo $this->_tpl_vars['limit']; ?>
&page=1<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1<?php endif; ?>">
	  <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>alert_click<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
	  </a><br>
	  <?php endif; ?>
  	  <SCRIPT LANGUAGE="JavaScript">
        var module= "<?php echo $this->_tpl_vars['VAR']['module']; ?>
"; 
	    <?php if ($this->_tpl_vars['VAR']['_next_page'] == ""): ?>
        var url   = '?_page='+module+':search_show&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&order_by=<?php echo $this->_tpl_vars['order_by']; ?>
&limit=<?php echo $this->_tpl_vars['limit']; ?>
&page=1<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1<?php endif; ?>';
		<?php else: ?>
        var url   = '?_page='+module+':<?php echo $this->_tpl_vars['VAR']['_next_page']; ?>
&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&order_by=<?php echo $this->_tpl_vars['order_by']; ?>
&limit=<?php echo $this->_tpl_vars['limit']; ?>
&page=1<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1<?php endif; ?>';
		<?php endif; ?>        	
		document.location = url;
  	  </SCRIPT>	  	  
  <?php endif; ?>
  </b>
</center>
<b>
<?php else: ?>
</b>
<center>
  <p>&nbsp;</p>
  <p><b> 
    <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
    search_no_results 
    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
    </b> </p>
  <form>
            
    <p>&nbsp;</p>
    <p>
      <input type="button" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>back<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" onclick="history.back()" class="form_button">
      <input type="button" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>refresh<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" onclick="location.reload()" class="form_button">
    </p>
  </form>
    </center>
    <?php endif; ?>
<?php endif; ?>
</body>
</html>