<?php /* Smarty version 2.5.0, created on 2005-02-02 18:58:40
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/checkout/admin_checkout.tpl */ ?>
<?php $this->_load_plugins(array(
array('modifier', 'upper', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/checkout/admin_checkout.tpl', 30, false),
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/checkout/admin_checkout.tpl', 46, false),
array('function', 'assign', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/checkout/admin_checkout.tpl', 368, false),)); ?><?php echo $this->_tpl_vars['block']->display("core:top_clean"); ?>


	<?php echo $this->_tpl_vars['method']->exe('cart','admin_view'); ?>

	<?php if (( $this->_tpl_vars['method']->result == FALSE )): ?>
		<?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>

	<?php else: ?>
		<?php if ($this->_tpl_vars['results'] == 0): ?>
No items in your cart at this time.... 
<?php else: ?>
<?php if ($this->_tpl_vars['SESS_LOGGED'] != '1'): ?>
<?php echo $this->_tpl_vars['block']->display("account:login"); ?>

<?php else: ?>
<!-- LOOP THROUGH EACH RECORD -->
<?php if (count((array)$this->_tpl_vars['cart'])):
    foreach ((array)$this->_tpl_vars['cart'] as $this->_tpl_vars['cart']):
?>
<DIV id="<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
  <?php if ($this->_tpl_vars['cart']['cart_type'] == '2'): ?>
  <!-- Show domain -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
    <tr> 
      <td> 
        <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
          <tr> 
            <td width="70%" class="row2" valign="top"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row2">
                <tr> 
                  <td width="67%" class="row2"><b> </b> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
                      <tr> 
                        <td width="51%"><b> <u> 
                          <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart']['domain_name']); ?>
.<?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart']['domain_tld']); ?>

                          </u> </b></td>
                        <td width="37%">&nbsp;</td>
                        <td width="12%" align="right"><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart_assoc']['product_id']; ?>
"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          </a><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart']['product_id']; ?>
"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          </a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr> 
                  <td width="67%"> &nbsp;&nbsp;<b> 
                    <?php if ($this->_tpl_vars['cart']['host_type'] == 'register'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    register 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php elseif ($this->_tpl_vars['cart']['host_type'] == 'transfer'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    transfer 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php elseif ($this->_tpl_vars['cart']['host_type'] == 'park'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    park 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    </b></td>
                </tr>
                <?php if ($this->_tpl_vars['cart']['cart_type'] == '1'): ?>
                <?php if ($this->_tpl_vars['cart']['host_type'] == 'ns_transfer'): ?>
                <?php endif; ?>
                <?php if ($this->_tpl_vars['cart']['host_type'] == 'ip'): ?>
                <?php endif; ?>
                <?php endif; ?>
              </table>
            </td>
            <td width="30%" class="row1" valign="top" align="right"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row1">
                <tr> 
                  <td width="43%">Base Price</td>
                  <td width="57%" valign="middle" align="right"> 
                    <div id="def_base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"> 
                    <DIV id="def_base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price'],@constant('SESS_CURRENCY')); ?>

                    </DIV>
                    <DIV id="base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></DIV>
                    </div>
                    <div id="base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"></div>
                  </td>
                </tr>
              </table>
			  <?php if ($this->_tpl_vars['cart']['host_type'] == 'register'): ?>
              <select id="quantity_<?php echo $this->_tpl_vars['cart']['id']; ?>
" class="form_menu" disabled>
                <?php if (count((array)$this->_tpl_vars['cart']['tld_arr'])):
    foreach ((array)$this->_tpl_vars['cart']['tld_arr'] as $this->_tpl_vars['tld_term'] => $this->_tpl_vars['tld_price']):
?>
                <option value="<?php echo $this->_tpl_vars['tld_term']; ?>
" <?php if ($this->_tpl_vars['tld_term'] == $this->_tpl_vars['cart']['domain_term']): ?>selected<?php endif; ?>> 
                <?php echo $this->_tpl_vars['tld_term']; ?>

                Year 
                <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['tld_price'],@constant('SESS_CURRENCY')); ?>

                </option>
                <?php endforeach; endif; ?>
              </select>
			  <?php endif; ?>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<?php else: ?>
<!-- Show product -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
    <tr>
      <td> 
        <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
          <tr> 
            <td width="70%" class="row2" valign="top"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row2">
                <tr> 
                  <td width="67%" class="row2"><b> </b> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
                      <tr> 
                        <td width="51%"><b> 
                          <?php if ($this->_tpl_vars['list']->translate('product_translate','name','product_id',$this->_tpl_vars['cart']['product_id'],'translate_product')): ?>
                          <?php endif; ?>
                          <U> 
                          <?php echo $this->_tpl_vars['translate_product']['name']; ?>

                          </U> </b></td>
                        <td width="35%"><b>&nbsp;</b>( 
                          <?php echo $this->_tpl_vars['cart']['product']['sku']; ?>

                          ) &nbsp; </td>
                        <td width="14%" align="right"><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart']['product_id']; ?>
"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          </a><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart']['product_id']; ?>
"> 
                          </a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr> 
                  <td width="67%"> &nbsp;&nbsp;<b> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    price_type 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    : </b> 
                    <?php if ($this->_tpl_vars['cart']['product']['price_type'] == '0'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    price_type_one 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['cart']['product']['price_type'] == '1'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    price_type_recurr 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                    <?php if ($this->_tpl_vars['cart']['product']['price_type'] == '2'): ?>
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    price_type_trial 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    <?php endif; ?>
                  </td>
                </tr>
                <tr> 
                  <td width="67%"> 
                    <?php if ($this->_tpl_vars['cart']['product']['price_type'] == '1'): ?>
                    &nbsp;&nbsp; 
                    <select id="recurr_schedule_<?php echo $this->_tpl_vars['cart']['id']; ?>
" name="recurr_schedule_<?php echo $this->_tpl_vars['cart']['id']; ?>
" class="form_menu" disabled>
                      <?php if (count((array)$this->_tpl_vars['cart']['price'])):
    foreach ((array)$this->_tpl_vars['cart']['price'] as $this->_tpl_vars['key'] => $this->_tpl_vars['price_recurr']):
?>
                      <option value="<?php echo $this->_tpl_vars['key']; ?>
" <?php if ($this->_tpl_vars['cart']['recurr_schedule'] == $this->_tpl_vars['key']): ?> selected<?php endif; ?>> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['price_recurr']['base'],@constant('SESS_CURRENCY')); ?>

                      &nbsp;&nbsp; 
                      <?php if ($this->_tpl_vars['key'] == '0'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_week 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '1'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_month 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '2'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_quarter 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '3'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_semianual 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '4'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_anual 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      <?php if ($this->_tpl_vars['key'] == '5'): ?>
                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      recurr_twoyear 
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      <?php endif; ?>
                      &nbsp;&nbsp; + &nbsp; 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['price_recurr']['setup'],@constant('SESS_CURRENCY')); ?>

                      <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                      setup
                      <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                      </option>
                      <?php endforeach; endif; ?>
                    </select>      
					<?php endif; ?>                   
                  </td>
                </tr>
				
				 
                <?php if ($this->_tpl_vars['cart']['cart_type'] == '1'): ?>
				<?php if ($this->_tpl_vars['cart']['host_type'] == 'ns_transfer'): ?>
                <tr>
                  <td width="67%">&nbsp;&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    host_type_domain 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                    - <u>
                    <?php echo $this->_tpl_vars['cart']['domain_name']; ?>
.<?php echo $this->_tpl_vars['cart']['domain_tld']; ?>

                    </u></td>
                </tr>
				<?php endif; ?>
				
				<?php if ($this->_tpl_vars['cart']['host_type'] == 'ip'): ?>
                <tr>
                  <td width="67%">&nbsp;&nbsp; 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    host_type_ip 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                </tr>
				<?php endif; ?>
				<?php endif; ?>				
              </table>
            </td>
            <td width="30%" class="row1" valign="top"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row1">
                <tr> 
                  <td width="43%">Base Price</td>
                  <td width="57%" valign="middle" align="right"> 
                    <DIV id="def_base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_base'],@constant('SESS_CURRENCY')); ?>

                    </DIV>
                    <DIV id="base_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></DIV>
                  </td>
                </tr>
                <tr> 
                  <td width="43%">Setup Price</td>
                  <td width="57%" valign="middle" align="right"> 
                    <DIV id="def_setup_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart']['price_setup'],@constant('SESS_CURRENCY')); ?>

                    </DIV>
                    <DIV id="setup_price_<?php echo $this->_tpl_vars['cart']['id']; ?>
"></DIV>
                  </td>
                </tr>
                <tr> 
                  <td width="43%"> 
                    <?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?>
                    quantity 
                    <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
                  </td>
                  <td width="57%" valign="middle" align="right"> 
                    <?php echo $this->_tpl_vars['cart']['quantity']; ?>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
 </table>
<?php endif; ?>
<br> 

<?php if (count((array)$this->_tpl_vars['cart']['assoc'])):
    foreach ((array)$this->_tpl_vars['cart']['assoc'] as $this->_tpl_vars['cart_assoc']):
?> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
    <tr>
      <td> 
        <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="2">
          <tr> 
            <td width="70%" class="row2" valign="top"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row2">
                <tr> 
                  <td width="67%" class="row2"><b> </b> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row2">
                      <tr> 
                        <td width="51%"><b> <u> 
                          <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart_assoc']['domain_name']); ?>

                          . 
                          <?php echo $this->_run_mod_handler('upper', true, $this->_tpl_vars['cart_assoc']['domain_tld']); ?>

                          </u> </b></td>
                        <td width="37%">&nbsp;</td>
                        <td width="12%" align="right"><a href="?_page=product:details&id=<?php echo $this->_tpl_vars['cart_assoc']['product_id']; ?>
"> 
                          </a><a href="javascript:deleteCart('<?php echo $this->_tpl_vars['cart']['id']; ?>
');"> 
                          </a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr> 
                  <td width="67%"> &nbsp;&nbsp;<b> </b> 
                    <?php if ($this->_tpl_vars['cart_assoc']['host_type'] == 'register'): ?>
						<?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?> host_type_register <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
					<?php elseif ($this->_tpl_vars['cart_assoc']['host_type'] == 'transfer'): ?>
						<?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?> host_type_transfer <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
					<?php elseif ($this->_tpl_vars['cart_assoc']['host_type'] == 'park'): ?>
						<?php $this->_tag_stack[] = array('translate', array('module' => 'cart')); $this->_plugins['block']['translate'][0](array('module' => 'cart'), null, $this); ob_start(); ?> host_type_park <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
					<?php endif; ?>
                    <?php echo $this->_tpl_vars['cart']['product']['sku']; ?>

                  </td>
                </tr>
              </table>
            </td>
            <td width="30%" class="row1" valign="top" align="right"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="0" class="row1">
                <tr> 
                  <td width="43%">Base Price</td>
                  <td width="57%" valign="middle" align="right"> 
                    <div id="def_base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"> 
                      <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['cart_assoc']['price'],@constant('SESS_CURRENCY')); ?>

                    </div>
                    <div id="base_price_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
"></div> 
                  </td>
                </tr>
              </table>
			  <?php if ($this->_tpl_vars['cart_assoc']['host_type'] == 'register'): ?>
              <select id="quantity_<?php echo $this->_tpl_vars['cart_assoc']['id']; ?>
" class="form_menu" disabled>
                <?php if (count((array)$this->_tpl_vars['cart_assoc']['tld_arr'])):
    foreach ((array)$this->_tpl_vars['cart_assoc']['tld_arr'] as $this->_tpl_vars['tld_term'] => $this->_tpl_vars['tld_price']):
?>
                <option value="<?php echo $this->_tpl_vars['tld_term']; ?>
" <?php if ($this->_tpl_vars['tld_term'] == $this->_tpl_vars['cart_assoc']['domain_term']): ?>selected<?php endif; ?>> 
                <?php echo $this->_tpl_vars['tld_term']; ?>

                Year  
                <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['tld_price'],@constant('SESS_CURRENCY')); ?>

                </option>
                <?php endforeach; endif; ?>
              </select>
			  <?php endif; ?>
            </td>
          </tr>
        </table>
      </td>
    </tr>
 </table>
<br> 
<?php endforeach; endif; ?>
</DIV>
<?php endforeach; endif; ?>
<!-- END OF RESULT LOOP -->


<!-- CURRENCY OPTIONS & DISCOUNT CODE ENTRY -->
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="body">
  <tr> 
    <td width="33%" align="left" valign="top"> 
      <table width="150" border="0" cellspacing="3" cellpadding="1" class="row1">
        <tr valign="top" class="row2"> 
          <td width="50%"><b> 
            <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>
            currency 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </b></td>
        </tr>
        <tr valign="top" class="row1"> 
          <td width="50%" valign="middle"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="78%"> 
                  <?php echo '
                  <script language="JavaScript"> function CurrencyChange(obj) { document.location=\'?_page=checkout:admin_checkout&account_id='; ?>
<?php echo $this->_tpl_vars['VAR']['account_id']; ?>
<?php echo '&_escape=1&cyid=\'+obj.value; } </script>
                  '; ?>

                  <?php echo $this->_tpl_vars['list']->currency_list('cyid_arr'); ?>

                  <select name="currency" class="form_menu" onChange="CurrencyChange(this);">
                    <?php if (count((array)$this->_tpl_vars['cyid_arr'])):
    foreach ((array)$this->_tpl_vars['cyid_arr'] as $this->_tpl_vars['key'] => $this->_tpl_vars['item']):
?>
                    <option value="<?php echo $this->_tpl_vars['key']; ?>
" <?php if ($this->_tpl_vars['key'] == @constant('SESS_CURRENCY')): ?><?php echo $this->_plugins['function']['assign'][0](array('var' => 'currency_thumbnail','value' => $this->_tpl_vars['item']['iso']), $this) ; ?>
selected<?php endif; ?>> 
                    <?php echo $this->_tpl_vars['item']['iso']; ?>

                    </option>
                    <?php endforeach; endif; ?>
                  </select>
                </td>
                <td width="22%"> <img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/currency/<?php echo $this->_tpl_vars['currency_thumbnail']; ?>
.gif" border="0"> 
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="27%" valign="top" align="center">&nbsp; </td>
    <td width="40%" valign="top" align="right"> 
      <table width="225" border="0" cellspacing="3" cellpadding="1" class="row1" align="right">
        <tr valign="top" class="row2"> 
          <td width="50%"><b> 
            <?php $this->_tag_stack[] = array('translate', array('module' => 'checkout')); $this->_plugins['block']['translate'][0](array('module' => 'checkout'), null, $this); ob_start(); ?>
            totals 
            <?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>
            </b></td>
        </tr>
        <tr valign="top" class="row1"> 
          <td width="50%" valign="middle"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row1">
              <tr> 
                <td width="63%"> Sub-total</td>
                <td width="37%" align="right"> 
                  <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['sub_total'],@constant('SESS_CURRENCY')); ?>

                </td>
              </tr>
              <?php if (count((array)$this->_tpl_vars['discount'])):
    foreach ((array)$this->_tpl_vars['discount'] as $this->_tpl_vars['discount']):
?>
              <?php if ($this->_tpl_vars['discount']['total'] > 0): ?>
              <tr> 
                <td width="63%">Discount ( 
                  <?php echo $this->_tpl_vars['discount']['name']; ?>

                  ) </td>
                <td width="37%" align="right"> 
                  <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['discount']['total'],@constant('SESS_CURRENCY')); ?>

                </td>
              </tr>
              <?php endif; ?>
              <?php endforeach; endif; ?>
              <?php if ($this->_tpl_vars['tax'] != false): ?>
              <tr> 
                <td width="63%"> 
                  <?php echo $this->_tpl_vars['tax']['name']; ?>

                </td>
                <td width="37%" align="right"> 
                  <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['tax']['rate'],@constant('SESS_CURRENCY')); ?>

                </td>
              </tr>
              <?php endif; ?>
              <tr> 
                <td width="63%"><b>Total</b></td>
                <td width="37%" align="right"><b> 
                  <?php echo $this->_tpl_vars['list']->format_currency($this->_tpl_vars['total'],@constant('SESS_CURRENCY')); ?>

                  </b></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="33%" align="left" valign="top">
      <table width="150" border="0" cellspacing="3" cellpadding="1" class="row1">
        <tr valign="top" class="row2"> 
          <td width="50%">
			  <?php echo '<script language="JavaScript"> 
				function doAdminCheckout(option)  {  
						var url =\'?_page=core:blank&do[]=checkout:admin_checkoutnow&option=\'+option+\'&account_id='; ?>
<?php echo $this->_tpl_vars['VAR']['account_id']; ?>
<?php echo '&SESS={$SESS}\'; 
						showIFrame(\'iframeCheckout\',0,0,url); 
				} 
			  </script>
            '; ?>

            <b><a href="javascript:doAdminCheckout('999');">Create Invoice Now</a></b></td>
        </tr>
      </table>
    </td>
    <td width="27%" valign="top" align="center">&nbsp;</td>
    <td width="40%" valign="top" align="right">
      <form name="form1" method="post" action="javascript:addDiscount()">
        <table width="225" border="0" cellspacing="3" cellpadding="1" class="row1">
          <tr valign="top" class="row2"> 
            <td width="50%"><b> Manual Discount</b></td>
          </tr>
          <tr valign="top" class="row1"> 
            <td width="50%" valign="middle"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class=row1>
                <tr> 
                  <td width="92%"> 
                    <?php echo '
                    <script language="JavaScript"> 
				  function addDiscount() { 
				  	var discount = document.getElementById("discount").value;
				  	document.location=\'?_page=checkout:admin_checkout&account_id='; ?>
<?php echo $this->_tpl_vars['VAR']['account_id']; ?>
<?php echo '&_escape=1&admin_discount=\'+discount+\'&do[]=checkout:admin_adddiscount\'; 
				  } 
					</script>
                    '; ?>

                    <input type="text" id="discount" name="discount" size="12" class="form_field" onBlur="addDiscount()" value="<?php echo $this->_tpl_vars['admin_discount']; ?>
">
                    <?php echo $this->_tpl_vars['list']->currency_iso(@constant('SESS_CURRENCY')); ?>

                  </td>
                  <td width="8%"><a href="javascript:addDiscount();"><img src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/calc_16.gif" border="0"></a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>
<br>
<center>
<iframe id="iframeCheckout" style="border:0px; width:0px; height:0px;" scrolling="auto" ALLOWTRANSPARENCY="true" frameborder="0" SRC="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/IEFrameWarningBypass.htm"></iframe>
</center>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="body">
  <tr> 
    <td valign="top" width="67%"> 
      <?php if ($this->_tpl_vars['checkout']): ?>
      <?php if (count((array)$this->_tpl_vars['checkout'])):
    foreach ((array)$this->_tpl_vars['checkout'] as $this->_tpl_vars['key'] => $this->_tpl_vars['checkout']):
?>
      <b><u>
      <?php echo '
      <script language="JavaScript"> 
	  	function changeCheckoutOption(option)  {  
				var url =\'?_page=checkout:checkoutoption&option=\'+option+\'&_escape=1&admin=1&account_id='; ?>
<?php echo $this->_tpl_vars['VAR']['account_id']; ?>
<?php echo '\'; 
				showIFrame(\'iframeCheckout\',0,0,url);
				document.getElementById("checkout_option_"+option).checked = "1";
	    }
		
		function getCheckoutOption() {
			return getElementById("checkout_option").value;
		} 
	  </script>
      '; ?>

      </u></b> 
      <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
        <tr valign="top" class="row2"> 
          <td id="checkout_<?php echo $this->_tpl_vars['checkout']['fields']['id']; ?>
"
			onMouseOver="class_change('checkout_<?php echo $this->_tpl_vars['checkout']['fields']['id']; ?>
', 'row1');"
			onMouseOut ="class_change('checkout_<?php echo $this->_tpl_vars['checkout']['fields']['id']; ?>
',  'row2');"		  
		    onClick="changeCheckoutOption(<?php echo $this->_tpl_vars['checkout']['fields']['id']; ?>
)">
		  <b><u> 
            <input type="radio" id="checkout_option_<?php echo $this->_tpl_vars['checkout']['fields']['id']; ?>
" name="checkout_option" value="<?php echo $this->_tpl_vars['checkout']['fields']['id']; ?>
">
            <?php echo $this->_tpl_vars['checkout']['fields']['name']; ?>

            </u> </b></td>
        </tr>
        <tr valign="top" class="row1"> 
          <td width="50%" valign="middle"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="row1">
              <tr> 
                <td width="63%">
                  <?php echo $this->_tpl_vars['checkout']['fields']['description']; ?>

                </td>
              </tr>
              <?php if (count((array)$this->_tpl_vars['discount'])):
    foreach ((array)$this->_tpl_vars['discount'] as $this->_tpl_vars['discount']):
?>
              <?php if ($this->_tpl_vars['discount']['total'] > 0): ?>
              <?php endif; ?>
              <?php endforeach; endif; ?>
              <?php if ($this->_tpl_vars['tax'] != false): ?>
              <?php endif; ?>
            </table>
          </td>
        </tr>
      </table>
      <br>
      <?php endforeach; endif; ?>
      <?php else: ?>
      Sorry, no online payment option has been defined for this order type. 
      <?php endif; ?>
    </td>
  </tr>
</table>

<?php endif; ?>
<?php endif; ?>
<?php endif; ?>