<?php /* Smarty version 2.5.0, created on 2005-02-02 18:53:18
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account_admin/iframe_search_show.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/account_admin/iframe_search_show.tpl', 43, false),)); ?><?php echo $this->_tpl_vars['block']->display("core:top_clean"); ?>


<div align="center"><br>
<?php echo $this->_tpl_vars['method']->exe('account_admin','search_show'); ?>

<?php if (( $this->_tpl_vars['method']->result == FALSE )): ?>
    <?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>

<?php else: ?> 

  <?php echo '
  <script language="JavaScript">
    <!-- START
    	var module 		= \'account_admin\'; 
    	var p 			= \'&_page=account_admin:iframe_search_show&_escape=1&_escape_next=1&field='; ?>
<?php echo $this->_tpl_vars['VAR']['field']; ?>
<?php echo '\'; 
    	var IMAGE 		= \''; ?>
<?php echo $this->_tpl_vars['NONSSL_IMAGE']; ?>
<?php echo '\';
    	var order 		= \''; ?>
<?php echo $this->_tpl_vars['order']; ?>
<?php echo '\';
    	var sort1  		= \''; ?>
<?php echo $this->_tpl_vars['sort']; ?>
<?php echo '\';
    	var search_id 	= \''; ?>
<?php echo $this->_tpl_vars['search_id']; ?>
<?php echo '\';
    	var page 		= \''; ?>
<?php echo $this->_tpl_vars['page']; ?>
<?php echo '\';
    	var pages		= \''; ?>
<?php echo $this->_tpl_vars['pages']; ?>
<?php echo '\';
    	var results		= \''; ?>
<?php echo $this->_tpl_vars['results']; ?>
<?php echo '\';
    	var limit 		= \''; ?>
<?php echo $this->_tpl_vars['limit']; ?>
<?php echo '\';
    	record_arr = new Array (\''; ?>
<?php echo $this->_tpl_vars['limit']; ?>
<?php echo '\');
    	var i = 0;	
    //  END -->
    </script>
  <SCRIPT SRC="themes/'; ?>
<?php echo $this->_tpl_vars['THEME_NAME']; ?>
<?php echo '/search.js"></SCRIPT>
  '; ?>

  <!-- SHOW THE SEARCH NAVIGATION MENU -->
</div>
<center><script language="JavaScript">document.write(search_nav_top());</script></center>

  
<!-- BEGIN THE RESULTS CONTENT AREA -->
<div id="search_results" onKeyPress="key_handler(event);"> 
  <table id="main1" width="97%" border="0" cellspacing="0" cellpadding="0" class="table_background" align="center">
    <form id="form1" name="form1" method="post" action="">
      <tr> 
        <td> 
          <table id="main2" width="100%" border="0" cellspacing="1" cellpadding="3">
            <!-- DISPLAY THE SEARCH HEADING -->
            <tr valign="middle" align="center" class="table_heading"> 
              <td width="337" class="table_heading"> 
                <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>field_last_name<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?> 
              </td>
              <td width="352" class="table_heading">  
                <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>field_first_name<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>  
              </td>
              <td width="299" class="table_heading"> 
			    <?php $this->_tag_stack[] = array('translate', array('module' => 'account_admin')); $this->_plugins['block']['translate'][0](array('module' => 'account_admin'), null, $this); ob_start(); ?>field_username<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?> 
              </td>
            </tr>
            <!-- LOOP THROUGH EACH RECORD -->
            <?php if (count((array)$this->_tpl_vars['account'])):
    foreach ((array)$this->_tpl_vars['account'] as $this->_tpl_vars['record']):
?>
            <tr id="row<?php echo $this->_tpl_vars['record']['id']; ?>
" <?php if ($this->_tpl_vars['VAR']['field'] == ''): ?>onClick="window.opener.popup_fill('<?php echo $this->_tpl_vars['record']['id']; ?>
|<?php echo $this->_tpl_vars['record']['first_name']; ?>
 <?php echo $this->_tpl_vars['record']['last_name']; ?>
');window.close();"<?php else: ?>onClick="window.opener.popup_fill_<?php echo $this->_tpl_vars['VAR']['field']; ?>
('<?php echo $this->_tpl_vars['record']['id']; ?>
|<?php echo $this->_tpl_vars['record']['first_name']; ?>
 <?php echo $this->_tpl_vars['record']['last_name']; ?>
');window.close();"<?php endif; ?>> 
              <td width="337"> &nbsp; 
                <input type="hidden" name="record<?php echo $this->_tpl_vars['record']['id']; ?>
" value="<?php echo $this->_tpl_vars['record']['id']; ?>
">
                <?php echo $this->_tpl_vars['record']['last_name']; ?>

              </td>
              <td width="352"> &nbsp; 
                <?php echo $this->_tpl_vars['record']['first_name']; ?>

              </td>
              <td width="299"> &nbsp; 
                <?php echo $this->_tpl_vars['record']['username']; ?>

              </td>
            </tr>
            <?php echo '
            <script language="JavaScript">row_sel(\''; ?>
<?php echo $this->_tpl_vars['record']['id']; ?>
<?php echo '\', 0, \''; ?>
<?php echo $this->_tpl_vars['record']['_C']; ?>
<?php echo '\'); record_arr[i] = \''; ?>
<?php echo $this->_tpl_vars['record']['id']; ?>
<?php echo '\'; i++; </script>
            '; ?>

            <?php endforeach; endif; ?>
            <!-- END OF RESULT LOOP -->
          </table>
        </td>
      </tr>
    </form>
  </table>
  
<center>
    <?php endif; ?>
    <br>
    <input title=Close type="image" src="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/images/icons/cancl_24.gif" onClick="window.close();" name="image">
  </center>
</div>