<?php /* Smarty version 2.5.0, created on 2005-02-02 18:59:35
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/recent_searches.tpl */ ?>
<?php $this->_load_plugins(array(
array('block', 'translate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/recent_searches.tpl', 8, false),
array('modifier', 'date_format', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/recent_searches.tpl', 22, false),
array('modifier', 'replace', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/recent_searches.tpl', 22, false),
array('modifier', 'truncate', 'file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/recent_searches.tpl', 22, false),)); ?><?php if ($this->_tpl_vars['module_recent_js'] != FALSE): ?> 
<form name="search_recent" method="post" action="">

  <table width=100% border="0" cellspacing="0" cellpadding="1" class="table_background">
    <tr> 
      <td class="table_heading"> 
        <center>
          <?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>search_recent<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?> 
        </center>
      </td>
    </tr>
    <tr> 
      <td> 
        <center>
          <input type="hidden" name="_page" value="module:search_show">
          <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
            <tr class="row1" valign="top"> 
              <td width="65%">
                <select name="search_id" class="form_menu" onChange="fill_search_recent(mod,fields,field_count,limit,order,s,c);">
                  <option value="">...</option>
					<?php if (count((array)$this->_tpl_vars['module_recent_menu'])):
    foreach ((array)$this->_tpl_vars['module_recent_menu'] as $this->_tpl_vars['record']):
?>      
					<option value="<?php echo $this->_tpl_vars['record']['id']; ?>
"><?php echo $this->_run_mod_handler('date_format', true, $this->_tpl_vars['record']['date_orig'], "%B %d"); ?>
 > <?php echo $this->_run_mod_handler('truncate', true, $this->_run_mod_handler('replace', true, $this->_run_mod_handler('replace', true, $this->_run_mod_handler('replace', true, $this->_run_mod_handler('replace', true, $this->_tpl_vars['record']['sql'], 'WHERE ', ""), 'AND', "|"), "%", ""), "'", ""), 70, "..."); ?>
</option>
					<?php endforeach; endif; ?>
        
                </select>
              </td>
            </tr>
            <tr class="row1" valign="top"> 
              <td width="65%"> 
                <input type="submit" name="Submit" value="<?php $this->_tag_stack[] = array('translate', array()); $this->_plugins['block']['translate'][0](array(), null, $this); ob_start(); ?>view<?php $this->_block_content = ob_get_contents(); ob_end_clean(); echo $this->_plugins['block']['translate'][0]($this->_tag_stack[count($this->_tag_stack)-1][1], $this->_block_content, $this); array_pop($this->_tag_stack); ?>" class="form_button">
              </td>
            </tr>
          </table>
          <?php echo $this->_tpl_vars['module_recent_js']; ?>

		</center>
      </td>
    </tr>
  </table>
</form>
<?php endif; ?> 