<?php /* Smarty version 2.5.0, created on 2005-02-02 18:53:17
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default/blocks/core/search_iframe.tpl */ ?>
<HTML>
<HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!-- START
	var sess_expires 	= "<?php echo @constant('SESSION_EXPIRE'); ?>
";
	var cookie_name		= "<?php echo @constant('COOKIE_NAME'); ?>
";
	var SESS	 		= "<?php echo $this->_tpl_vars['SESS']; ?>
";
	var URL				= "<?php echo $this->_tpl_vars['URL']; ?>
";
	var SSL_URL			= "<?php echo $this->_tpl_vars['SSL_URL']; ?>
";
	var THEME_NAME  	= "<?php echo $this->_tpl_vars['THEME_NAME']; ?>
";
	var REDIRECT_PAGE 	= "<?php echo @constant('REDIRECT_PAGE'); ?>
";
//  END -->
</SCRIPT>

<!-- Load the main stylesheet -->
<link rel="stylesheet" href="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/style.css" type="text/css">

<!-- Load the main javascript code -->
<SCRIPT SRC="themes/<?php echo $this->_tpl_vars['THEME_NAME']; ?>
/top.js"></SCRIPT>
 
</HEAD>
<BODY leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<?php echo $this->_tpl_vars['method']->exe($this->_tpl_vars['VAR']['module'],'search'); ?>

<?php if (( $this->_tpl_vars['method']->result == FALSE )): ?>
<?php echo $this->_tpl_vars['block']->display("core:method_error"); ?>

<?php else: ?>
<?php if ($this->_tpl_vars['results'] > 0): ?>

	<?php if ($this->_tpl_vars['results'] == '1' && $this->_tpl_vars['VAR']['_next_page_one'] != ""): ?>
	<SCRIPT LANGUAGE="JavaScript"> 
			  var url   = '?_page=<?php echo $this->_tpl_vars['VAR']['module']; ?>
:<?php echo $this->_tpl_vars['VAR']['_next_page_one']; ?>
&id=<?php echo $this->_tpl_vars['record_id']; ?>
,<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1<?php endif; ?>';        	
			  document.location = url;
	</SCRIPT>
	<?php else: ?>
	<SCRIPT LANGUAGE="JavaScript">
        var module= "<?php echo $this->_tpl_vars['VAR']['module']; ?>
"; 
	    <?php if ($this->_tpl_vars['VAR']['_next_page'] == ""): ?>
        var url   = '?_page='+module+':search_show&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&order_by=<?php echo $this->_tpl_vars['order_by']; ?>
&limit=<?php echo $this->_tpl_vars['limit']; ?>
&page=1<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1&<?php echo $this->_tpl_vars['VAR']['name_id1']; ?>
=<?php echo $this->_tpl_vars['VAR']['val_id1']; ?>
&<?php echo $this->_tpl_vars['VAR']['name_id2']; ?>
=<?php echo $this->_tpl_vars['VAR']['val_id2']; ?>
<?php endif; ?>';
		<?php else: ?>
        var url   = '?_page='+module+':<?php echo $this->_tpl_vars['VAR']['_next_page']; ?>
&search_id=<?php echo $this->_tpl_vars['search_id']; ?>
&order_by=<?php echo $this->_tpl_vars['order_by']; ?>
&limit=<?php echo $this->_tpl_vars['limit']; ?>
&page=1<?php if ($this->_tpl_vars['VAR']['_escape_next'] == '1'): ?>&_escape=1&_escape_next=1&<?php echo $this->_tpl_vars['VAR']['name_id1']; ?>
=<?php echo $this->_tpl_vars['VAR']['val_id1']; ?>
&<?php echo $this->_tpl_vars['VAR']['name_id2']; ?>
=<?php echo $this->_tpl_vars['VAR']['val_id2']; ?>
<?php endif; ?>';
		<?php endif; ?>        	
		document.location = url;
 	</SCRIPT>	  	  
  	<?php endif; ?>
	
<?php else: ?>
  	  <SCRIPT LANGUAGE="JavaScript">
        var module= "<?php echo $this->_tpl_vars['VAR']['module']; ?>
"; 
	    <?php if ($this->_tpl_vars['VAR']['_next_page_none'] == ""): ?>
			document.close();
        <?php else: ?>
       	 var url   = '?_page='+module+':<?php echo $this->_tpl_vars['VAR']['_next_page_none']; ?>
&_escape=1&_escape_next=1&<?php echo $this->_tpl_vars['VAR']['name_id1']; ?>
=<?php echo $this->_tpl_vars['VAR']['val_id1']; ?>
&<?php echo $this->_tpl_vars['VAR']['name_id2']; ?>
=<?php echo $this->_tpl_vars['VAR']['val_id2']; ?>
';
		<?php endif; ?>        	
		document.location = url;
  	  </SCRIPT>
<?php endif; ?>
<?php endif; ?>
</body>
</html>