<?php /* Smarty version 2.5.0, created on 2005-02-02 18:49:34
         compiled from file:/home/httpd/vhosts/secure.irelocation.com/httpsdocs/billing_test/themes/default_admin/template.tpl */ ?>
<?php if ($this->_tpl_vars['SESS_LOGGED'] == true): ?> 
<html>
<head>
<title><?php echo @constant('SITE_NAME'); ?>
 Administration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head> 
<frameset rows="*" cols="255,*" frameborder="NO" border="0" framespacing="0">  
  <frame name="leftFrame"   scrolling="NO" noresize src="?_page=core:leftFrameBlue&_escape=1">
  <frame name="mainFrame"   src="<?php if ($this->_tpl_vars['mainFrameUrl'] != ""): ?><?php echo $this->_tpl_vars['mainFrameUrl']; ?>
<?php else: ?>?_page=core:admin<?php endif; ?>">
</frameset>
<noframes> 
<body bgcolor="#FFFFFF" text="#000000">
</body>
</noframes>
</html> 
<?php else: ?>
<?php echo ''; ?>
 
<script language="JavaScript">
//	window.open('?_page=account:main&tid=default','_parent','');
</script> 
<?php echo ''; ?>

<?php endif; ?>