
<form name="form1" method="post" action="">
  <p> Module Name: <br>
    <input type="text" name="translate_module">
    <br>
    <br>
    <input type="hidden"   name="translate_lang[en_nl]" value="dutch">
    <input type="checkbox" name="translate_language[]" value="en_nl" checked>
    English to Dutch <br>
    <input type="hidden"   name="translate_lang[en_ko]" value="korean">
    <input type="checkbox" name="translate_language[]" value="en_ko" checked>
    English to Korean <br>
    <input type="hidden"   name="translate_lang[en_zh]" value="chineses">
    <input type="checkbox" name="translate_language[]" value="en_zh" checked>
    English to Simplified Chinese <br>
    <input type="hidden"   name="translate_lang[en_zt]" value="chineset">
    <input type="checkbox" name="translate_language[]" value="en_zt" checked>
    English to Traditional Chinese <br>
    <input type="hidden"   name="translate_lang[en_ru]" value="russian">
    <input type="checkbox" name="translate_language[]" value="en_ru" checked>
    English to Russian <br>
    <input type="hidden"   name="translate_lang[en_es]" value="spanish">
    <input type="checkbox" name="translate_language[]" value="en_es" checked>
    English to Spanish <br>
    <input type="hidden"   name="translate_lang[en_fr]" value="french">
    <input type="checkbox" name="translate_language[]" value="en_fr" checked>
    English to French <br>
    <input type="hidden"   name="translate_lang[en_de]" value="german">
    <input type="checkbox" name="translate_language[]" value="en_de" checked>
    English to German <br>
    <input type="hidden"   name="translate_lang[en_it]" value="italian">
    <input type="checkbox" name="translate_language[]" value="en_it" checked>
    English to Italian <br>
    <input type="hidden"   name="translate_lang[en_pt]" value="portuguese">
    <input type="checkbox" name="translate_language[]" value="en_pt" checked>
    English to Portuguese <br>
    <input type="hidden"   name="translate_lang[en_fr]" value="french">
    <input type="checkbox" name="translate_language[]" value="en_fr" checked>
    English to French</p>
  <p> 
    <input type="submit" name="Translate" value="Submit">
    <input type="hidden" name="_page" value="module:translate">
    <input type="hidden" name="do[]" value="module:translate">
    <br>
  </p>
</form>
 