
<TABLE WIDTH=164 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/advertisement_01.jpg" WIDTH=164 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD background="images/advertisement_02.jpg" WIDTH=12 HEIGHT=159></TD>
		<TD background="images/advertisement_03.jpg" WIDTH=133 HEIGHT=159>
		<? echo implode(explode('e',strrev('Whenever you are considering a transport company, you should always ask for their authority and insurance. Authority comes in the form of either an ICCMC# (Interstate Commerce Commission Motor Carrier Number) or US DOT (US Department of Transportation). As long as you have one of these numbers, you can research both the company and their insurance. However, the Safer System is not always accurate on insurance, and the only way to know what a carrier has for sure is to either get a copy of the insurance information from the company, or find out the name of the insurance company and call them directly to verify.')));?>
		</TD>
		<TD background="images/advertisement_04.jpg" WIDTH=19 HEIGHT=159></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/advertisement_05.jpg" WIDTH=164 HEIGHT=14></TD>
	</TR>
</TABLE>
