<?include 'header.php';?>
<TABLE WIDTH=500 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/contactus.jpg" WIDTH=597 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 background="images/top10_02.jpg" WIDTH=13 HEIGHT=153><img src="images/spacer.gif" width=13 height=1></TD>
		<TD ROWSPAN=2 valign="top">
		<form name="contact.php">
        <table border="0" cellspacing="0" width="570" id="AutoNumber3" cellpadding="3">
          <tr>
            <td width="28%" valign="top" align="right"><b>
            Name:</b></td>
            <td width="72%"><input type="text" size="25" name="Name" value="<?=$Name?>"><?=$error_Name?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><b>
            Email:</b></td>
            <td width="72%"><input type="text" size="25" name="Email" value="<?=$Email?>"><?=$error_Email?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><b>
            Phone #:</b></td>
            <td width="72%">
            <input type="text" size="16" name="Phone" value="<?=$Phone?>"><?=$error_Phone?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><b>
            Comments:</b></td>
            <td width="72%"><?=$error_Comments?><textarea rows="6" cols="42" name="Comments"><?=$Comments?></textarea></td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">
            <input type="submit" value="Submit Information"></td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">&nbsp;</td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">&nbsp;</td>
          </tr>
          </table><input type="hidden" name="submit" value="1"></form>
          
			
			</TD>
		<TD rowspan=2 background="images/top10_04.jpg" WIDTH=14 HEIGHT=152><img src="images/spacer.gif" width=14 height=1></TD>
	</TR>
	<TR>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/top10_06.jpg" WIDTH=597 HEIGHT=15></TD>
	</TR>
</TABLE>
	   </td><td>
<?INCLUDE 'submitreview.html';?>
<?INCLUDE 'advertisement.html';?>
	</td></tr></table>
<?include 'footer.inc';?>