<?include 'header.php';?>
<TABLE WIDTH=500 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/submitreview.jpg" WIDTH=597 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 background="images/top10_02.jpg" WIDTH=13 HEIGHT=153><img src="images/spacer.gif" width=13 height=1></TD>
		<TD ROWSPAN=2 valign="top" width=570>
	   <form name="submit_review.php" method="POST">
        <table border="0" cellspacing="0" width=100% cellpadding="3">
        
          <tr>
            <td width="28%" valign="top" align="right">
            <span style="font-size: 8pt"><b>Company: </b></span></td>
            <td width="72%">&nbsp;<select name="company">
            <option value="">
            <?$sql = "SELECT * FROM companies WHERE active = 1 ORDER BY company ASC";
            	$res = mysql_query($sql);
            	while($row = mysql_fetch_array($res)){
	            	extract($row);
	            	if($_POST['company'] == $cid){$sel = 'selected';}else{$sel = '';}
	            	echo "<option value=\"$cid\" $sel>$company";	
	            }
            ?>
            </select><?=$error_company?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right">
            <span style="font-size: 8pt"><b>Rating: </b></span>
            </td>
                <td>
                <table><tr><td align="center">0<br><input type="radio" name="rating" value="0"></td>
                <td align="center">1<br><input type="radio" name="rating" value="1"></td>
                <td align="center">2<br><input type="radio" name="rating" value="2"></td>
                <td align="center">3<br><input type="radio" name="rating" value="3"></td>
                <td align="center">4<br><input type="radio" name="rating" value="4"></td>
                <td align="center">5<br><input type="radio" name="rating" value="5"></td>
                <td align="center">6<br><input type="radio" name="rating" value="6" checked></td>
                <td align="center">7<br><input type="radio" name="rating" value="7"></td>
                <td align="center">8<br><input type="radio" name="rating" value="8"></td>
                <td align="center">9<br><input type="radio" name="rating" value="9"></td>
                <td align="center">10<br><input type="radio" name="rating" value="10"></td>
               </tr></table>
                </td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            Name: </b></span></td>
            <td width="72%"><input type="text" size="19" name="reviewer" value="<?=$reviewer?>"><?=$error_reviewer?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            Email: </b></span></td>
            <td width="72%"><input type="text" size="19" name="remail" value="<?=$remail?>"><?=$error_remail?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            City:</td><td></b></span>
            <input type="text" size="14" name="city" value="<?=$_POST['city']?>"><?=$error_city?></td></tr>
           <tr><td align="right"><span style="font-size: 8pt"><b>State:</b></span></td><td>
            <select name="state">
            <option value="">Select State</option>
           <?
           
           $sqls = "SELECT * FROM state ORDER BY fullstate ASC";
           $ress = mysql_query($sqls);
           while($row2 = mysql_fetch_array($ress)){
	           extract($row2);
	           if($_POST['state'] == $state_id){$sel = 'selected';}else{$sel = '';}
	       		echo "<option value=\"$state_id\" $sel>$fullstate</option>";
	       }
           ?>
            </select><?=$error_state?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>Title of Review
            </b></span></td>
            <td width="72%"><input type="text" name="title" value="<?=$title?>"><input type="text" name="date" value=""><?=$error_title?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>Your Review 
            </b></span></td>
            <td width="72%"><?=$error_review?><textarea rows="9" cols="42" name="review"><?=$review?></textarea></td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">
            <input type="submit" value="Submit Review" name="submit"></td>
          </tr>
          
          </table><input type="hidden" name="submit_review" value="1"></form>
       	  </TD>
		<TD rowspan=2 background="images/top10_04.jpg" WIDTH=14 HEIGHT=152><img src="images/spacer.gif" width=13 height=1></TD>
	</TR>
	<TR>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/top10_06.jpg" WIDTH=597 HEIGHT=15></TD>
	</TR>
</TABLE>
</td><td valign="top">
<?include 'advertisement.html';?> 
</td></tr></table>
 <?include 'footer.inc';?> 