
<?include 'header.php';?>
<TABLE WIDTH=500 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/submitcompany.jpg" WIDTH=597 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 background="images/top10_02.jpg" WIDTH=13 HEIGHT=153><img src="images/spacer.gif" width=13 height=1></TD>
		<TD ROWSPAN=2 valign="top" width=570>
	   <form name="submit_company.php" method="POST">
	   
        <table border="0" cellspacing="0" width="100%" cellpadding="3">
          <tr>
            <td width="28%" valign="top" align="right">
            <span style="font-size: 8pt"><b>Company: </b></span></td>
            <td width="72%"><input type="text" size="31" name="company" value="<?=$company?>"><?=$error_company?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right">
            <span style="font-size: 8pt"><b>MC #:</b></span></td>
            <td width="72%">
            <input type="text" size="16" name="mc_number" value="<?=$mc_number?>"><?=$error_mc_number?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right">
            <span style="font-size: 8pt"><b>Year Established:</b></span></td>
            <td width="72%">
            <input type="text" size="16" name="established" value="<?=$established?>"><?=$error_established?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right">
            <span style="font-size: 8pt"><b>Equipment:</b></span></td>
            <td width="72%">
            <input type="text" size="16" name="equipment" value="<?=$equipment?>"></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right">
            <span style="font-size: 8pt"><b>Broker Bond:</b></span></td>
            <td width="72%">
            <input type="text" size="16" name="bond" value="<?=$bond?>"></td>
          </tr>
                    <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            City:</td><td></b></span>
            <input type="text" size="14" name="city" value="<?=$_POST['city']?>">&nbsp;&nbsp;<?=$error_city?></td></tr> 
            <tr><td align="right"><span style="font-size: 8pt"><b>State:</b></span></td><td><select class="formfield" size="1" name="state">
            <option value="">Select State</option>
           <?
           $sqls = "SELECT * FROM state ORDER BY fullstate ASC";
           $ress = mysql_query($sqls);
           while($row2 = mysql_fetch_array($ress)){
	           extract($row2);
	           if($_POST['state'] == $state_id){$selected = 'selected';}else{$selected = '';}
	       		echo "<option value=\"$state_id\" $selected>$fullstate</option>";
	       }
           ?>
            </select><?=$error_state?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right">
            <span style="font-size: 8pt"><b>Type of Business:</b></span></td>
            <td width="72%"> 
            <select class="formfield" size="1" name="type">
            <option value="">Select Type</option>

            <option value="1" <?if($_POST['type'] == 1){echo 'selected';}?>>Carrier</option>
            <option value="2" <?if($_POST['type'] == 2){echo 'selected';}?>>Broker</option>
            <option value="3" <?if($_POST['type'] == 3){echo 'selected';}?>>Both</option>

            </select><?=$error_business?></td>
          </tr>
           <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>No. Trucks:
            </b></span></td>
            <td width="72%"><input type="text" size="25" name="numtrucks" value="<?=$numtrucks?>"></td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">&nbsp;</td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">&nbsp;</td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            Name:</b></span></td>
            <td width="72%"><input type="text" size="25" name="name" value="<?=$name?>"><?=$error_name?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            Email:</b></span></td>
            <td width="72%"><input type="text" size="25" name="email" value="<?=$email?>"><?=$error_email?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            Password:</b></span></td>
            <td width="72%"><input type="password" size="25" name="pword"></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            Phone:</b></span></td>
            <td width="72%">
            <input type="text" size="16" name="phone" value="<?=$phone?>"><?=$error_phone?></td>
          </tr>
          <tr>
            <td width="28%" valign="top" align="right"><span style="font-size: 8pt"><b>
            Comments:</b></span></td>
            <td width="72%"><textarea rows="4" cols="42" name="comments"><?=$comments?></textarea></td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">
            <input type="submit" value="Register Company" name="submit"></td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">&nbsp;</td>
          </tr>
          <tr>
            <td width="28%" valign="top">&nbsp;</td>
            <td width="72%">&nbsp;</td>
          </tr>
          </table><input type="hidden" name="submit_company" value="1"></form>
          
       	  </TD>
		<TD rowspan=2 background="images/top10_04.jpg" WIDTH=14 HEIGHT=152><img src="images/spacer.gif" width=13 height=1></TD>
	</TR>
	<TR>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/top10_06.jpg" WIDTH=597 HEIGHT=15></TD>
	</TR>
</TABLE>
</td><td valign="top">
<?include 'advertisement.html';?> 
</td></tr></table>
 <?include 'footer.inc';?>       