<TABLE WIDTH=597 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/rebut.jpg" WIDTH=597 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 background="images/top10_02.jpg" WIDTH=13><img src="images/spacer.gif" width=13 height=1></TD>
		<TD ROWSPAN=2 valign="top" width=570>
		
		<?
		if($a != 'rebut' && $a != 'submit'){
			$sql = "SELECT c.cid,r.* FROM companies c, reviews r WHERE c.cid = r.company AND c.cid = '".$_SESSION['company_id']."'";
			//echo $sql;
			$res = mysql_query($sql);			
			echo "<span class=\"heading4\">Choose a Review to Rebut:</span><br><br>";
			while($row = mysql_fetch_array($res)){
				extract($row);
				echo "<a href=\"rebut.php?rid=$rid&a=rebut\">$title</a><br>";	
			}
		} elseif($a == 'rebut') {
			extract($_GET);
			$sql = "SELECT * FROM reviews WHERE rid = '$rid'";
			$res = mysql_query($sql);			
			$row = mysql_fetch_array($res);
			extract($row);
			echo "$title<br><br>$review";
			echo "<form action=\"rebut.php?rid=$rid&a=submit\" method=\"POST\">
			<textarea name=\"rebuttal\" cols=60 rows=5>$rebuttal</textarea>
			<br><input type=\"submit\" value=\"Submit Rebuttal\">";
		} elseif ($a == 'submit'){
			extract($_REQUEST);
			$sql = "UPDATE reviews SET rebuttal = '$rebuttal' WHERE rid = '$rid'";
			mysql_query($sql);
			echo "Your rebuttal has been submitted";
		}
		?>
		
			</TD>
		<TD rowspan=2 background="images/top10_04.jpg" WIDTH=14><img src="images/spacer.gif" width=14 height=1></TD>
	</TR>
	<TR>
		<TD><img src="images/spacer.gif" width=1 height=1></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/top10_06.jpg" WIDTH=597 HEIGHT=15></TD>
	</TR>
</TABLE>