<TABLE WIDTH=500 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
		<?if($sortby == 'name'){$image = 'a';}
		else{$image = '';}
		?>
			<IMG SRC="images/atreview.jpg" WIDTH=597 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 background="images/top10_02.jpg" WIDTH=13 HEIGHT=153><img src="images/spacer.gif" width=13 height=1></TD>
		<TD ROWSPAN=2 valign="top" width=570>
<?$sql1 = "SELECT * FROM  reviews r,companies c WHERE c.cid = r.company AND r.rid = '$rid'";
        $res1 = mysql_query($sql1);
        $row1 = mysql_fetch_array($res1);
        extract($row1);
        ?>

         <span class="heading4"> AUTO TRANSPORT REVIEW FOR <img border="0" src="images/spacer.gif" height="1" width=30><i><b><a href="reviews.php?company=<?=$company?>&r=<?=$r?>"><?=$company?></a></b></i></span>
           <? switch($type){
		        case 1:$t = 'Carrier';break;
		        case 2:$t = 'Broker';break;
		        case 3:$t = 'Carrier/Broker';break;
		    }?><br><br>
<table width=550><tr>
<td width=25%><b><?=$t?></b></td><td width=25%><b><?=$mc_number?></b></td><td width=25% align="right"></td>
</tr></table>
     
        <hr size=1>
<table width=550>
        		<?
        $sql = "SELECT * FROM state s, reviews r, companies c WHERE c.company = '$company' AND r.review <> '' AND r.company = c.cid AND r.state = s.state_id AND r.rid = '$rid'";
        //echo $sql;
        $res = mysql_query($sql)or die(mysql_error());
        $row = mysql_fetch_array($res);
	        extract($row);
	        ?>
		<tr><td width=50%><b>Submitted by <?=$reviewer?> from <?=$fullstate?> on <?=$dateofreview?>:</b></td>
		<td width=33%><a class="reviews" href="review.php?rid=<?=$rid?>"><?=$title?></a></td><td align="right">
		<?
		$rate = implode(explode('.',round($rating / 2,1)));
		?>
		<img src="images/wheel<?=$rate?>.gif"></td></tr>
		<tr><td colspan=3 width=33% style="padding-left:20px">
			<p><?=nl2br($review)?></p>
		<hr size=1><br>
		<?if($rebuttal != ''){echo "Comments from $company <a href=\"review.php?rid=$rid&comments=1\">Click here to view</a><br><br>";}
		
		if($_GET['comments'] == 1){
		echo nl2br($rebuttal);}?>
		</td></tr>

        </table>
        			</TD>
		<TD rowspan=2 background="images/top10_04.jpg" WIDTH=14 HEIGHT=152><img src="images/spacer.gif" width=14 height=1></TD>
	</TR>
	<TR>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/top10_06.jpg" WIDTH=597 HEIGHT=15></TD>
	</TR>
</TABLE>
              </td>
      <td valign="top">