<?
if((isset($_SESSION['mid']) && $_SESSION['time'] > time()) || (isset($_COOKIE['vid']))){
?>
<tr>
	<td width="18" bgcolor="#edf1fe">&nbsp;</td>
	<td bgcolor="#edf1fe">
	<?
    //foreach($_SESSION as $s => $v){echo "<br>$s => $v 1";}
	if(isset($_SESSION['first'])){
		echo "Welcome, ".$_SESSION['first']."<br>";
	}
	$sql1 = "SELECT f.pid,f.mid,l.id,l.title FROM favorites f, listings l WHERE (f.mid = '".$_SESSION['mid']."' OR f.mid = '".$_COOKIE['vid']."')
	AND f.pid = l.id GROUP BY f.pid ORDER BY l.title ASC";
	//echo $sql1;
	$res1 = mysql_query($sql1)or die(mysql_error());
	$i = 1;
	while($row1 = mysql_fetch_array($res1)){
		extract($row1);
		?>
			<script>
			Text['delete<?=$i?>']=["","Delete <?=$title?> from Favorites"]
			Style[2]=["#000000","#5A4437","#01476b","#edf1fe","","","","","","","","","","",100,"",2,2,10,10,"","","","",""]
			applyCssFilter()
			</script>
		<?$title = stripslashes(substr($title,0,24));?>
			<a href="javascript:void(0);" onClick="window.open('del.php?id=<?=$id?>&del=1','','width=10,height=10');refresh();" class="delete"
			 onMouseOver="stm(Text['delete<?=$i?>'],Style[2])" onMouseOut="htm()">
			(---)</a>
				<script>
			<!--
				document.write("<a href=\"javascript:void(0);\" onClick=\"window.open('listing.php?id=<?=$id?>','','width=800,height=540,scrollbars=yes,toolbars=no');\"><?=$title?></a><br>");
			-->
			</script>
		<NOSCRIPT>
		<?
		echo "<a class=\"favlink\" href=\"listing.php?id=$id\">$title</a><br>";
		?>
		</NOSCRIPT>

		<?
		$i++;
		}
}



		?>
				</td></tr><tr>
						<td bgcolor="#AA1616">&nbsp;</td>
						<td bgcolor="#AA1616">
						<p class="bold_text">Owners</td>
					</tr>

	<?


    if(isset($_SESSION['mid']) && $_SESSION['current'] == 2){
    	//foreach($_SESSION as $s => $v){echo "<br>$s => $v 2";}
        $osql = "SELECT * FROM listings l, members m WHERE l.oid = m.mid AND m.mid = '".$_SESSION['mid']."'";
      	$ores = mysql_query($osql)or die($osql.' / '.mysql_error());
      	$numlisted = mysql_num_rows($ores);
      	if($numlisted == 0){
		  	$osql = "SELECT * FROM members m WHERE m.mid = '".$_SESSION['mid']."'";
		  	$ores = mysql_query($osql);
		}
      	$orow = mysql_fetch_array($ores);
      	$numprop = $orow['paidfor'];
      	$remaining = $numprop - $numlisted;
        	## Display proper grammar (plural or singular)
        	if($numlisted == 1){$singural1 = 'property';}else{$singural1 = 'properties';}
        	if($remaining == 1){$singural2 = 'property';}else{$singural2 = 'properties';}
        	if($numprop == 1){$singural3 = 'listing';}else{$singural3 = 'listings';}

		$sql2 = "SELECT m.mid FROM members m WHERE m.mid = '".$_SESSION['mid']."'";
	    //echo $sql2;
	    $res2 = mysql_query($sql2)or die($sql2.' / '.mysql_error());
		$row2 = mysql_fetch_array($res2);
		if(mysql_num_rows($res2)== 1){
			echo "<tr bgcolor=\"#EDF1FE\"><td></td><td><br><a class=\"bluelink\" href=\"http://irelocation.com/vc/members/index.php?mid=".$_SESSION['mid']."\">Control Panel</a><br>";
			$msql = "SELECT * FROM messages WHERE to_id = '".$_SESSION['mid']."' AND deleted = 0 AND `read` = 0";
			$mres = mysql_query($msql)or die(mysql_error());
			$num = mysql_num_rows($mres);
			?>
			You have <?=$numlisted.' '.$singural1?> listed.<br>You can list <?=$remaining?> more <?=$singural2?><br>
			<?
			echo "$num new message(s) waiting";


?>


	</td>
</tr>
<?

		}
} elseif(isset($_SESSION['mid']) && $_SESSION['current'] != 2){
	echo "<tr>
	<td width=18 bgcolor=\"#edf1fe\"></td>
	<td bgcolor=\"#edf1fe\">Your account is currently inactive.  Once your account is approved you will be able to add listings.</td></tr>";
}
else{
?>
<tr>
	<td width="18" bgcolor="#edf1fe"></td>
	<td bgcolor="#edf1fe">
		<table align="center" class="large_text">
		<form action="members/login.php?action=login_action" method="POST">
	    <tr><td>Username:</td><td><input type="text" name="userid" size=12></td></tr>
        <tr><td>Password:</td><td><input type="password" name="passwd" size=12></td></tr>

		<tr><td align="right">
		                        <NOSCRIPT>
														<a target="new" href="members/register.php?action=register">
														</NOSCRIPT>
														<script>
														<!--
															document.write("<a href=\"javascript:void(0);\" onClick=\"window.open('members/register.php?action=register','','width=600,height=500,scrollbars=yes,toolbars=no');\">");
														-->
														</script>

		Register</a>&nbsp;&nbsp;&nbsp;</td><td><input type="submit" value="Login"></td></tr>
		</form>
		</table>
	</td>
</tr>
<?}?>
