A.menu {
text-decoration: none;
font-family:tahoma;
font-size:11px;
font-weight: bold;
color: #496582;
text-transform: uppercase
}

A.menu:hover {
color: #000000;
background-color: #FC9800;
}

.text_light {
text-decoration: none;
font-family:tahoma;
font-size:10px;
color: #C8D2DC;
}

.text_dark {
text-decoration: none;
font-family:tahoma;
font-size:11px;
color: #000000;
}

.errortext 
{
font-weight:bold;
text-decoration: none;
font-family:tahoma;
font-size:12px;
color:#FF0000;
}

.text_faded {
text-decoration: none;
font-family:tahoma;
font-size:11px;
color: #9AACBE;
}

.text_form1 {
text-decoration: none;
font-family:tahoma;
font-size:12px;
color: #496582;
font-weight: bold;
}

.text_form2 {
text-decoration: none;
font-family:tahoma;
font-size:12px;
color: #000000;
}

.field1 {
font-family:tahoma;
color: #496582;
font-size: 11px;
font-weight: bold;
border-style: solid;
border-width: 1px;
background-color: #F9FAFB;
}

.field2 {
font-family:tahoma;
color: #000000;
font-size: 11px;
border-style: solid;
border-width: 1px;
background-color: #FFFDF9;
}

.button1 {
font-family:tahoma;
font-size: 11px;
font-weight: bold;
color: #496582;
border-style: outset;
border-width: 3px;
padding-left: 0;
padding-right: 0;
padding-top: 4px;
padding-bottom: 4px;
background-color: #F9FAFB;
}

.cardtext {
text-decoration: none;
font-family:arial,sans-serif;
font-size:12px;
color:white;
font-weight:bold
}

A.cardtext:link {
text-decoration: none;
font-family:arial,sans-serif;
font-size:12px;
color:white;
font-weight:bold
}

A.cardtext:visited {
text-decoration: none;
font-family:arial,sans-serif;
font-size:12px;
color:white;
font-weight:bold
}

A.cardtext:active {
text-decoration: none;
font-family:arial,sans-serif;
font-size:12px;
color:white;
font-weight:bold
}

A.cardtext:hover {
text-decoration: underline;
font-family:arial,sans-serif;
font-size:12px;
color:white;
font-weight:bold
}

.footer1 {
text-decoration: none;
font-family:arial,sans-serif;
font-size:10px;
color:white
}

A.footer1:link {
text-decoration: none;
font-family:arial,sans-serif;
font-size:10px;
color:white
}

A.footer1:visited {
text-decoration: none;
font-family:arial,sans-serif;
font-size:10px;
color:white
}

A.footer1:active {
text-decoration: none;
font-family:arial,sans-serif;
font-size:10px;
color:white
}

A.footer1:hover {
text-decoration: underline;
font-family:arial,sans-serif;
font-size:10px;
color:white
}