/* CSS Document */

body {
background-image:url(images/bg2.jpg);
background-repeat:repeat-x;
background-color:#e8e8e8;
margin:0;
font-family:Arial, Helvetica, sans-serif;
}

#wrapper {
width:950px;
position:relative;
margin-right:auto;
margin-left:auto;
}

#header {
width:950px;
height:93px;
margin:0;
background-image:url(images/masthead1.jpg);
background-repeat:no-repeat;
}

#logo {
width:162px;
height:75px;
margin-top:5px;
margin-left:35px;
float:left;
}

#tagline {
width:400px;
float:right;
color:white;
font-size:20px;
margin-top:25px;
}

#content {
width:950px;
height:452px;
margin:0;
background-image:url(images/content.jpg);
background-repeat:no-repeat;

}

#content2 {
width:950px;
height:452px;
margin:0;
background-image:url(images/thank-you-pic.jpg);
background-repeat:no-repeat;

}

#content2 p {
color:#ffffff;
font-size:28px;
padding-left:100px;
}

#content2 a {
color:#f09e5b;
text-decoration:none;
}

#left {
width:500px;
height:400px;
padding-top:40px;
padding-left:60px;
float:left;
}

#left h1 {
font-size:32px;
color:white;
letter-spacing:-1px;
font-weight:normal;
padding-left:30px;
}

#bullets {
padding-left:165px;
padding-right:15px;
color:#ffffff;

}

ul
{
list-style-type: none;
padding: 0;
margin: 0;
}

#navlist li
{
background-image: url(images/checkmark.gif);
background-repeat: no-repeat;
background-position: 0 .1em;
padding-left: .6em;
padding-right: .6em;
margin-right: 1em 0;
color:#ffffff;
line-height:20px;
}

.orange {
color:#fb6922;
}

#right {
float:right;
width:375px;
padding-top:40px;
}

#form {
width:350px;
padding-top:10px;

}

#form h2 {
color:#ffffff;
margin-left:90px;
margin-right:20px;
font-size:14px;
font-weight:normal;
margin-top:0px;
margin-bottom:20px;

}

#form p {
color:#ffffff;
font-size:12px;
margin:0;
}


#bottom {
width:950px;
height:246px;
margin:0;
background-image:url(images/bottom_blurba.jpg);
background-repeat:no-repeat;

}

#bottoma {
width:950px;
height:265px;
margin:0;
background-image:url(images/bottom_blurb.jpg);
background-repeat:no-repeat;
}


#bottom h1 {
font-size:20px;
color:#7a7a7a;
text-transform:uppercase;
font-weight:normal;
margin:0;
}

#bottoma h1 {
font-size:20px;
color:#7a7a7a;
text-transform:uppercase;
font-weight:normal;
margin:0;
}

#bottom h2 {
font-size:14px;
color:#9d9d9d;
font-weight:normal;
letter-spacing:-1px;
margin:0;
}

#bottoma h2 {
font-size:14px;
color:#9d9d9d;
font-weight:normal;
letter-spacing:-1px;
margin:0;
}

#bottom h3 {
font-size:14px;
color:#9d9d9d;
font-weight:bold;
letter-spacing:-1px;

}

#bottoma h3 {
font-size:14px;
color:#9d9d9d;
font-weight:bold;
letter-spacing:-1px;

}

#bottom p {
font-size:12px;
color:#7a7a7a;
font-weight:normal;
margin-left:20px;
margin-right:15px;
line-height:22px;
}

#bottoma p {
font-size:12px;
color:#7a7a7a;
font-weight:normal;
margin-left:20px;
margin-right:15px;
line-height:22px;
}

#bottom1 {
width:295px;
float:left;
padding-top:20px;
padding-left:34px;
display:inline;
}

#bottom1a {
width:295px;
float:left;
padding-top:20px;
padding-left:34px;
display:inline;
clear:both;

}



#bottom2 {
width:290px;
float:left;
padding-top:20px;
}

#bottom2a {
width:290px;
float:left;
padding-top:20px;
}

#bottom3 {
width:290px;
float:left;
padding-top:20px;

}

#bottom3a {
width:290px;
float:left;
padding-top:20px;
}

#footer {
clear:both;
width:100%;
margin:0;
background-color:#04274c;
border-top: 3px solid black;
height:75px;
}

#footer p {
color:#ffffff;
font-size:12px;
}

#footer a {
color:#ffffff;
text-decoration:none;
}

#footer a:HOVER {
text-decoration:underline;
}

