/* CSS Document */

body {
background-image:url(images/bg-final.png);
background-repeat:repeat-x;
width:100%;
height:100%;
margin:0;
font-family:Arial, Helvetica, sans-serif;
}

#wrapper {
background-image:url(images/porsche-bg.png);
display:block;
width:960px;
position:relative;
margin-right:auto;
margin-left:auto;
}

#wrapper-index {
display:block;
width:960px;
position:relative;
margin-right:auto;
margin-left:auto;
}

#header {
float:left;
display:block;
position:relative;
width:960px;
height:115px;
}


#wrapper-thankyou {
background-image:url(images/thank_you_test.png);
width:960px;
min-height:630px;
height:630px;
position:relative;
margin-right:auto;
margin-left:auto;
margin-top:10px;
border:1px solid #bcbcbc;
}

#wrapper-auto {
background-image:url(images/auto-transport-bg.png);
max-width:960px;
min-height:630px;
height:630px;
position:relative;
margin-right:auto;
margin-left:auto;
margin-top:10px;
margin-bottom:40px;
border:1px solid #bcbcbc;
display:block;
}


#logo {
width:139px;
margin-top:21px;
margin-left:20px;
float:left;
display:block;
}

#nav_index {
width:520px;
float:left;
font-size: 16px;
font-family:Arial, Helvetica, sans-serif;
list-style: none;
margin: 97px 0 0 0;
display: block;
}

#nav_index li {
display: block;
float: left;
margin: 0 15px;
padding: 0;
}

#nav_index li a {
color: #ffffff;
text-decoration: none;
}

#nav_index li a:hover {
color: #c02a2a;
text-decoration: none;
}


#content_index {
float:left;
width:960px;
display:block;
position:relative;
}

#info_text {
float:left;
width:960px;
display:block;
margin:35px 0 0 20px;
}

#info_text h1 {
float:left;
font-size:30px;
color: #083a7f;
font-weight:bold;
width:960px;
margin:30px 0 -5px 0;
}


#form {
float:left; 
width:255px;
padding-left:20px;
margin-left:32px;
margin-right:20px;
font-size:12px;
margin-top:-315px;
background-color:#f0f0f0;
border:1px solid #083a7f;
}




.icon-title {
float:left;  
font-size:14px; 
color:#ffffff;
}


.icon-title a {
color: #ffffff;
text-decoration: none;
}

.icon-title a:hover {
color: #c02a2a;
text-decoration: none;
}


.icons {
 float:left;
 width:631px;
 margin-top:25px;
 display:block;
 position:relative;
 }

 

 .icon-auto {
 float:left;
 display:block;
 position:relative;
 margin-right:45px;
 margin-left:5px;
 width:110px;
 }

.icon-moving {
 float:left;
 display:block;
 position:relative;
 margin-right:45px;
 width:70px;
}

.icon-medical {
 float:left;
 display:block;
 position:relative;
 margin-right:35px;
 margin-left:8px;
 width:100px;
 }
 

.icon-senior {
 float:left;
 display:block;
 position:relative;
 margin-right:45px;
 margin-left:8px;
 width:90px;
 }

 
.icon-security {
 float:left;
 display:block;
 position:relative;
 width:54px;
 }
 
 
#content-main {
float:left;
max-width:603px;
margin-top:272px;
margin-right:20px;
min-height:240px;
height:240px;
font-size:14px;
display:block;
}

#content-main h1 {
font-size:24px;
font-weight:bold;
font-family:arial;
color:#083a7f;
line-height:24px;
}

#content-main p {
color:#000000;
font-size:14px;
font-family:arial;
line-height:16px;
margin-bottom:14px;
}


#index_footer {
float:left;
position:relative;
width:960px;
font-size:12px;
text-align:center;
}


#index_footer a {
color: #000000;
text-decoration:none;
}

#index_footer a:hover {
color: #03367c;
text-decoration:none;
}

#bullets {
padding-left:165px;
padding-right:15px;
color:#ffffff;

}

ul
{
list-style-type: none;
padding: 0;
margin: 0;
}

#navlist li
{
background-image: url(images/checkmark.gif);
background-repeat: no-repeat;
background-position: 0 .1em;
padding-left: .6em;
padding-right: .6em;
margin-right: 1em 0;
color:#ffffff;
line-height:20px;
}

.orange {
color:#fb6922;
}

#right {
float:right;
width:375px;
padding-top:40px;
}

#form {
float:left; 
max-width:255px;
padding-left:20px;
margin-left:32px;
margin-right:20px;
font-size:12px;
margin-top:-315px;
background-color:#f0f0f0;
border:1px solid #083a7f;
}

#form h2 {
color:#ffffff;
font-size:14px;
font-weight:bold;
}

#form p {
color:#ffffff;
font-size:12px;
margin:0;
}


#bottom {
width:950px;
height:246px;
margin:0;
background-image:url(images/bottom_blurba.jpg);
background-repeat:no-repeat;

}

#bottoma {
width:950px;
height:265px;
margin:0;
background-image:url(images/bottom_blurb.jpg);
background-repeat:no-repeat;
}


#bottom h1 {
font-size:20px;
color:#7a7a7a;
text-transform:uppercase;
font-weight:normal;
margin:0;
}

#bottoma h1 {
font-size:20px;
color:#7a7a7a;
text-transform:uppercase;
font-weight:normal;
margin:0;
}

#bottom h2 {
font-size:14px;
color:#9d9d9d;
font-weight:normal;
letter-spacing:-1px;
margin:0;
}

#bottoma h2 {
font-size:14px;
color:#9d9d9d;
font-weight:normal;
letter-spacing:-1px;
margin:0;
}

#bottom h3 {
font-size:14px;
color:#9d9d9d;
font-weight:bold;
letter-spacing:-1px;

}

#bottoma h3 {
font-size:14px;
color:#9d9d9d;
font-weight:bold;
letter-spacing:-1px;

}

#bottom p {
font-size:12px;
color:#7a7a7a;
font-weight:normal;
margin-left:20px;
margin-right:15px;
line-height:22px;
}

#bottoma p {
font-size:12px;
color:#7a7a7a;
font-weight:normal;
margin-left:20px;
margin-right:15px;
line-height:22px;
}

#bottom1 {
width:295px;
float:left;
padding-top:20px;
padding-left:34px;
display:inline;
}

#bottom1a {
width:295px;
float:left;
padding-top:20px;
padding-left:34px;
display:inline;
clear:both;

}



#bottom2 {
width:290px;
float:left;
padding-top:20px;
}

#bottom2a {
width:290px;
float:left;
padding-top:20px;
}

#bottom3 {
width:290px;
float:left;
padding-top:20px;

}

#bottom3a {
width:290px;
float:left;
padding-top:20px;
}

#footer {
clear:both;
width:100%;
margin:0;
background-color:#04274c;
border-top: 3px solid black;
height:75px;
}

#footer p {
color:#ffffff;
font-size:12px;
}

#footer a {
color:#ffffff;
text-decoration:none;
}

#footer a:HOVER {
text-decoration:underline;
}

