BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-COLOR:#092541; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

TABLE {
padding-left:20px;

}

H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 15px; PADDING-TOP: 5px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 16px; PADDING-TOP: 0px
}
H2 A {
	FONT-SIZE: 14px; COLOR: #666! important; TEXT-DECORATION: none
}
H2 A:hover {
	COLOR: #39c! important; TEXT-DECORATION: underline
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3.location {
	COLOR: #333333
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 0px 5px; LINE-HEIGHT: 24px; PADDING-TOP: 0px
}
BLOCKQUOTE .quoter {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 12px
}
HR {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM: #999 1px dotted; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}

.font10 {
	FONT-SIZE: 10px; LINE-HEIGHT: 13px
}
.quote {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666; LINE-HEIGHT: 18px; PADDING-TOP: 5px; FONT-STYLE: italic
}
.quoter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; COLOR: #666; PADDING-TOP: 5px; FONT-STYLE: italic; TEXT-ALIGN: right
}
.txt-center {
	TEXT-ALIGN: center
}
.txt-right {
	TEXT-ALIGN: right
}
.img-left {
	FLOAT: left; MARGIN: 0px 10px 10px 0px
}
.img-right {
	FLOAT: right; MARGIN: 0px 0px 10px 10px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.styled-textinput {
	WIDTH: 150px; COLOR: #999
}
.inset-text {
	CLEAR: both; MARGIN-LEFT: 20px
}
.date {
	FONT-WEIGHT: bold
}
.topimage-wide {
	MARGIN-LEFT: 32px
}
.tag {
	MARGIN-TOP: 5px; FLOAT: right
}


.format {
	FONT: 10px Myriad,Verdana,sans-serif; COLOR: #999; PADDING-TOP: 2px
}
.blue {
	FONT-WEIGHT: bold; COLOR: #36c
}

.red {
	COLOR: #990000
}
.img-visit {
	MARGIN-LEFT: 10px
}


.flashbox {
	float:left;
	width:442px;
	height:283px;
	margin-left:30px;

	
}
.rounded-box {
	float:right;
	width:450px;
	margin-top:20px;
	color:#666666;
	margin-right:30px;
	line-height: 24px;
}

.rounded-box h1 {
font-size: 24px;
line-height:normal;
}
.rounded-box .hd {
	BACKGROUND: url(../img/rounded_box_topleft.gif) no-repeat; HEIGHT: 5px
}
.rounded-box .ft {
	BACKGROUND: url(../img/rounded_box_botleft.gif) no-repeat; HEIGHT: 5px
}
.rounded-box .hd IMG {
	FLOAT: right
}
.rounded-box .ft IMG {
	FLOAT: right
}
.rounded-box .i {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.centered-images {
	TEXT-ALIGN: center
}
.centered-images IMG {
	DISPLAY: inline; MARGIN: 0px 5px
}

#flash {
height:283px;

}

#header {
background-image:url(images/masthead.jpg);
background-repeat:no-repeat;
height:103px;
margin-top:10px;
}



#frame {
	MARGIN: 0px auto; FONT: 12px/18px Myriad,Verdana,sans-serif; WIDTH: 953px; COLOR: #aaa; POSITION: relative; TEXT-ALIGN: center
}
#frame A {
	COLOR: #39c
}
#frame A:hover {
	COLOR: #fff
}

#nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px Arial,sans-serif; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;
	background-image:url(images/nav_bar.jpg); HEIGHT: 51px; 
}

#nav-sub {

width:953px;
float:left;
text-align:left;
margin-top:5px;
}
#nav-sub LI {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

#nav-sub UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px Arial,sans-serif; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

#nav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

#nav A {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none; 
}
#nav-sub A {
	 FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none; margin-left:15px; margin-right:15px;color:#3d3c3c;
}


#nav LI A {
	COLOR: #fff; LINE-HEIGHT: 34px; 
}
#nav LI A:hover {
	COLOR: #c2ff39;
}

#nav LI.on A {
	COLOR: #fff; 
}

#nav-sub UL {
	FONT: 12px Arial,sans-serif; HEIGHT: 26px
}
#nav-sub LI A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #3d3c3c; LINE-HEIGHT: 26px; PADDING-TOP: 0px; 
	// text-shadow: #000 0 1px 0
}
#nav-sub LI A:hover {
	COLOR: #5fa0d6; 
	// text-shadow: #000 0 1px 0
}
#nav-sub LI.on A {
	COLOR: #fff; text-shadow: #000 0 1px 0
}


BODY.index #headlines {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; 
	min-height:350px;
	
	
}

BODY.index #headlines p {
	margin-left:23px;
	margin-right:0px;
	line-height:16px;
	overflow:visible;
}

BODY.index #headlines LI {
	PADDING-RIGHT: 5px; PADDING-LEFT:7px; FLOAT: left; PADDING-BOTTOM: 15px; MARGIN: 0px; WIDTH: 215px; PADDING-TOP: 0px
}
BODY.index #headlines H2 A {
	TEXT-DECORATION: none;
	color:#437199;
	margin-left:23px;
	line-height:3px;
	font-size:18px;
	font-weight: bold;
}
BODY.index #headlines H2 A:hover {
	TEXT-DECORATION: underline
}
#content {
	BACKGROUND: url(images/sub_bg.jpg);
	background-repeat:repeat-y;
	PADDING-BOTTOM: 0px;
	FONT: 12px/18px Arial,sans-serif;
	COLOR: #666;
	PADDING-TOP: 0px;
	TEXT-ALIGN: left;
	
	
}
BODY.index #content {
	BACKGROUND: url(images/sub_bg.jpg) repeat-y;
	display:table;
}
#content A {
	COLOR: #039;
	text-decoration:none;
}
#content A:hover {
	COLOR: #39c;
}

#subpagetop {
width:904px;
background-image:url(images/subpage-top.jpg);
background-repeat:no-repeat;
height:63px;
margin-left:20px;
overflow:auto;
}

#subpage {
width:904px;
background-image:url(images/subpage-bg.jpg);
background-repeat:repeat-y;
margin-left:20px;
min-height:600px;
}

#subpagetop h1 {
font-size: 20px;
color:#1e3747;
padding-left:30px;
padding-top:25px;
}

#subpage p {
padding-left:30px;
padding-right:30px;
margin:0;
padding-top:0px;
line-height:24px;
}

#subpage h1 {
font-size: 22px;
color:#000000;
padding-top:10px;
line-height:28px;
padding-right:10px;
padding-left:10px;
}

.icon {
padding-left:20px;
padding-top:10px;
}

#subpagebottom {
width:904px;
height:36px;
background-image:url(images/subpage-bottom.jpg);
background-repeat:no-repeat;
margin-left:20px;
}
.interior {
	display:block;
	clear:both;
}
.int_content {
	display:block;
	float:left;
	width:400px;
	padding:30px;
}
.int_form {
	display:block;
	float:left;
	width:420px;
	padding:30px;
}
.int_form p {
	margin:0;
}
.int_form h2 {
	color: #e35d1c;
    font-size: 24px;
    line-height: 15px;
    margin: 0 auto 10px;
    text-align:center;
}
.int_form table {
	width:90%;
}
.int_form table td:nth-child(1) {
	text-align:right;
	padding-right:20px;
}
.int_form table td {
	padding-top:6px;
}


#contact-info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#contact-info LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 15px; MARGIN: 0px; WIDTH: 50%; PADDING-TOP: 0px
}
#contact-form {
	MARGIN-BOTTOM: 10px
}
#contact-form TABLE {
	MARGIN: 20px 0px
}
#contact-form TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; WIDTH: 100px; COLOR: #333; PADDING-TOP: 2px; TEXT-ALIGN: right
}
#contact-form INPUT.md {
	WIDTH: 200px
}
#contact-form UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#contact-form LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 160px; PADDING-TOP: 0px
}
#contact-form LI.c2 {
	WIDTH: 149px
}

#locations {
	display:block;
	clear:both;
	text-align:center;
	width:100%;
	font-size: 9px;
	letter-spacing: 0.6em;
	color:#666666;
}
#locations A {
	COLOR: #666666; TEXT-DECORATION: none;
}
#copyright {
	MARGIN-TOP: 0px; FONT-SIZE: 9px
}

#copyright A {
text-decoration:none;
}
#footer {
	background-image:url(images/footer.jpg);
	width: 964px;
	height: 130px;
	padding:40px 0 0 0;
	margin:0px auto;
	text-align:center;
}
body.index #footer {
	background: url(images/footer.jpg) 0 0 no-repeat;
	width: 953px;
	height: 130px;
	text-align:center;
}

.red {
color:#FF0000;
}
.imgs {
	display:block;
	width:100%;
	clear:both;
	text-align:center;
}
.imgs .img {
	float:left;
	margin-left:20px;
	
}
ul.headlines {
	margin:0px;
	padding: 0px;
	list-style: none; 
	min-height:350px;
}
ul.headlines li {
	display:block;
	float:left;
	width:212px;
	margin-left:20px;
}
ul.headlines li p {
	height:156px;
}
ul.headlines li h2 {
	font-weight:bold;
}
ul.headlines li h2 a {
	font-size:18px;
}
