body
{
  font-family: Verdana;
  color: #000000
}
a:link
{
  text-decoration: none;
  color: #000000;
}
a:visited
{
  text-decoration: none;
  color: #000000;
}
a:hover
{
  text-decoration: underline;
  color: #E4091E;
}
h1
{
  font-family: Verdana;
  font-size: 14px;
  color: #000000;
}
h2
{
  font-family: Verdana;
  font-size: 12px;
  color: #2360A5;
}
h3
{
  font-family: Verdana;
  font-size: 12px;
  color: #E4091E;
}
p
{
  font-family: Verdana;
  font-size: 10px;
  color: #000000;
}
ol
{
  list-style-type: decimal;
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
  color: #2360A5;
}
.formfield
{
  font-family: Verdana;
  font-size: 10px;
  background: #F4F4F4;
  border: 1px solid;
  border-color : #2360A5 #2360A5 #2360A5 #2360A5;
}
.loginfield
{
  font-family: Verdana;
  font-size: 13px;
  background: #FFFFFF;
  border: 1px solid;
  border-color : #2360A5 #2360A5 #2360A5 #2360A5;
}
.specialfield
{
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  background: #F8F8F8;
  border: 1px solid;
  padding: 4px;
  border-color: red;
}
.regtxt
{
  font-family: Verdana;
  font-size: 11px;
  font-weight: normal;
  color: #000000;
}
.redtxt
{
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: #E4091E;
}
.phone
{
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
}
.title
{
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  color: #E4091E;
}
.title2
{
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  color: #2360A5;
}
.qlinks
{
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: #999999;
}
.col_s
{
  font-family: Verdana;
  font-size: 10px;
  background: #F5F5F5;
}
.col_o
{
  font-family: Verdana;
  font-size: 10px;
  background: #E1ECFA;
}
.col_d
{
  font-family: Verdana;
  font-size: 10px;
  background: #DCDCDC;
}
.col_x
{
  font-family: Verdana;
  font-size: 10px;
  background: #F2EAEA;
}
.col_m
{
  font-family: Verdana;
  font-size: 10px;
  background: #A9CAEB;
}
.notice
{
  font-family: Verdana;
  font-size: 10px;
  color: #666666;
  background: #FFFFFF;
  border: 1px solid;
  border-color : #E4091E #E4091E #E4091E #E4091E;
  padding: 2px;
  width: 502;
}