{$list->unserial($checkout.plugin_data, "plugin_data")}
 
<table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
  <tr valign="top"> 
    <td width="50%"> Bank Wire Instructions:</td>
    <td width="50%"> 
      <textarea name="checkout_plugin_data[check]" class="form_field" cols="40" rows="4">To edit your bank wire payment details, please open the following template:

/themes/default/blocks/checkout_plugin/plugin_ord_REMIT_BANK_WIRE.tpl
</textarea>
    </td>
  </tr>
</table>


 