{$list->unserial($checkout.plugin_data, "plugin_data")}
 
<table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
  <tr valign="top"> 
    <td width="50%"> PaySwiss Account E-mail</td>
    <td width="50%"> 
      <input type="text" name="checkout_plugin_data[email]" value="{$plugin_data.email}" class="form_field">
    </td>
  </tr>
</table>


 