fieldset {
	border-bottom-style: none;
	border-bottom-color: #d7d7d7;
	border-left-style: none;
	border-left-color: #d7d7d7;
	border-right-style: solid;
	border-top-style: solid;
	border-top-color: #d7d7d7;
	border-right-color: #d7d7d7;
}

legend.title { color: black; font-family: helvetica,arial,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal;  }

.answer { margin-left: 25px;  color: black; font-family: helvetica,arial,sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal;  }

caption { color: black; font-family: helvetica,arial,sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal;  }

p { color: black; font-family: helvetica,arial,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal;  }

body { background-color: #123456; }
