<HTML>
	<HEAD>
	<TITLE>{translate}search_save{/translate}</TITLE>
	<link rel="stylesheet" href="themes/{$THEME_NAME}/style.css" type="text/css">
 	{literal} 
  	<SCRIPT LANGUAGE="JavaScript">
			<!-- START	
			 	ident=window.setTimeout("window.close()",1500);
			//  END -->
	</SCRIPT>
  	{/literal} 
  </HEAD> 
  <BODY class="row1">  
	<center>
  {translate}search_saved{/translate}<br>
   <br>
  <a href="#" onClick="window.close();">{translate}close{/translate}</a> 
</center>
</BODY>
