<HTML>
<HEAD>
<TITLE>{translate}alert_session_timeout{/translate}</TITLE>
<link rel="stylesheet" href="themes/{$THEME_NAME}/style.css" type="text/css">
	{literal}
		<SCRIPT LANGUAGE="JavaScript">
		<!-- START	
		 	ident=window.setTimeout("window.close()",2000);
		//  END -->
		</SCRIPT>
	{/literal} 
</HEAD> 
<BODY class="row1">
  <center>
	  <br>
	  {translate}login_renewed{/translate}
	  <br>
	  <br>
	  <a href="#" onClick="window.close();">{translate}close{/translate}</a>
	  <br>
</center>
</BODY>
