.on
{
	background-color:#E8E8FF;
	font-family:Verdana;		
	font-size: 10px;
}
.off
{
	background-color:#FFFFFF;
	font-family:Verdana;		
	font-size: 10px;
}
.header 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-color:navy;
	font-size: 12px;
}
a 
{
	text-decoration:none;		
	color:#FFFFFF;
}
a.blue 
{
	text-decoration:none;		
	color:#0000FF;
}
a.black
{
	text-decoration:none;		
	color: #0000FF;
	font-size:10px;
	
}
.white
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;	
	color: #FFFFFF;
	font-size: 12px;
}
a.white
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	color: #FFFFFF;
	font-size: 12px;
}
.white_selected
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;	
	color: #FFFF00;
	font-size: 12px;
}
.companyTitle
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;	
	color: #000000;
	font-size: 12px;
	height: 5px
	}
.companyNormal
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;	
	color: #000000;
	font-size: 12px;
	height: 5px
	}
