body
{
  font-family: Verdana;
  font-size: 10px;
  scrollbar-face-color: #F4F4F4;
  scrollbar-arrow-color: #2360A5;
}
.heading
{
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: #2360A5;
}
.heading2
{
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: #E4091E;
}

.text1
{
  font-family: Verdana;
  font-size: 10px;
  color: #000000;
}
.text2
{
  font-family: Verdana;
  font-size: 10px;
  color: #E4091E;
}
.realsmall
{
  font-family: Arial Narrow;
  font-size: 11px;
  color: #333333;
}
.input_blue
{
  font-family: Verdana;
  font-size: 10px;
  color: #2360A5;
  background: #FFFFFF;
  border: 1px solid;
  border-color : #2360A5 #2360A5 #2360A5 #2360A5;
}
.input_red
{
  font-family: Verdana;
  font-size: 10px;
  color: #E4091E;
  background: #FFFFFF;
  border: 1px solid;
  border-color : #E4091E #E4091E #E4091E #E4091E;
}
.notice
{
  font-family: Verdana;
  font-size: 10px;
  color: #666666;
  background: #FFFFFF;
  border: 1px solid;
  border-color : #E4091E #E4091E #E4091E #E4091E;
  padding: 2px;
  width: 502;
}
.notice2
{
  font-family: Verdana;
  font-size: 10px;
  color: #666666;
  background: #FFFFFF;
  border: 1px solid;
  border-color : #E4091E #E4091E #E4091E #E4091E;
  padding: 2px;
  width: 279;
}
.text_2
{
 font-family: Verdana;
 font-size: 10px;
}
.quote_box
{
  font-family: Verdana;
  font-size: 10px;
  background: #F5F5F5;
  border: 1px solid;
  border-color : #95B3D0 #95B3D0 #95B3D0 #95B3D0 ;
}
.quote_col_s
{
  font-family: Verdana;
  font-size: 10px;
  background: #F5F5F5;
}
.quote_col_o
{
  font-family: Verdana;
  font-size: 10px;
  background: #E1ECFA;
}
.quote_col_d
{
  font-family: Verdana;
  font-size: 10px;
  background: #DCDCDC;
}
.quote_col_x
{
  font-family: Verdana;
  font-size: 10px;
  background: #F7F1F1;
}
a:link
{
  text-decoration: none;
}
a:visited
{
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}