
a:link
{
  text-decoration: none;
  color: #000000;
}
a:visited
{
  text-decoration: none;
  color: #000000;
}
a:hover
{
  text-decoration: none;
  color: #000000;
}



	.formcolor
	{
		color:#186799;
	}


	.smalltext
	{
		font-size:10px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:normal;
		text-transform: none;
		text-decoration: none;
	}

	.heading
	{
		font-size: 13px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:bold;
		text-transform: none;
		color:#000000;
		text-decoration: none;
	}

	.maintext
	{
		font-size:12px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:normal;
		text-transform: none;
		color:#186799;
		text-decoration: none;
	}

	.maintext a
	{
		font-size:12px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:normal;
		text-transform: none;
		color:#186799;
		text-decoration: none;
	}

	.footertext
	{
		font-size:10px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:normal;
		text-transform: none;
		color:#cccccc;
		text-decoration: none;
	}
	.footertext a
	{
		font-size:10px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:normal;
		text-transform: none;
		color:#cccccc;
		text-decoration: none;
	}
	.footertext a:link
	{
		font-size:10px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:normal;
		text-transform: none;
		color:#cccccc;
		text-decoration: none;
	}
	.footertext a:link
	{
		font-size:10px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:normal;
		text-transform: none;
		color:#cccccc;
		text-decoration: none;
	}
	
	.errortext
	{
		font-size:14px;
		font-family: Arial;
		font-style:normal;
		line-height: normal;
		font-weight:bold;
		font-variant: normal;
		text-transform: none;
		color:#FF0000;
		text-decoration: none;
	}

