<table width="200" border="0" cellspacing="0" cellpadding="0" class="body">
        <tr> 
          <td valign="top" align="center" width="35%"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
                    <form name="form1" method="post" action="">
                      <tr> 
                        <td> 
                          <table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tr valign="top"> 
                              <td width="65%" class="table_heading"> 
                                
                          <div align="center"> 
                            {translate module=htaccess}
                            downloads
                            {/translate}
                          </div>
                              </td>
                            </tr>
                            <tr valign="top">
							  <td width="65%" class="row1">
								<center>
<iframe id="htaccess" style="border:0px; width:200px; height:100px;" scrolling="auto" ALLOWTRANSPARENCY="true" frameborder="0" SRC="?_page=htaccess:list&_escape=1"></iframe> 
								</center>
							  </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>