
{ $method->exe("charge","search_form") }
{ if ($method->result == FALSE) }
    { $block->display("core:method_error") }
{else}

<form name="charge_search" method="post" action="">
  {$COOKIE_FORM}
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_background">
    <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="0">
        <tr valign="top">
          <td width="65%" class="table_heading">
            <center>
              {translate module=charge}title_search{/translate}
            </center>
          </td>
        </tr>
        <tr valign="top">
          <td width="65%" class="row1">
              <table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
                <tr valign="top"> 
                  <td width="35%"> 
                    {translate module=charge}
                    field_date_orig 
                    {/translate}
                  </td>
                  <td width="65%"> 
                    { $list->calender_search("charge_date_orig", $VAR.charge_date_orig, "form_field", "") }
                  </td>
                </tr>
                <tr valign="top"> 
                  <td width="35%"> 
                    {translate module=charge}
                    field_status 
                    {/translate}
                  </td>
                  <td width="65%"> 
                    { $list->bool("charge_status", "all", "form_menu") }
                  </td>
                </tr>
                <tr valign="top"> 
                  <td width="35%"> 
                    {translate module=charge}
                    field_sweep_type 
                    {/translate}
                  </td>
                  <td width="65%"> 
                    <select name="charge_sweep_type"  class="form_menu">
					  <option value=""></option>
                      <option value="0" {if $VAR.charge_sweep_type == "0"}selected{/if}>Daily</option>
                      <option value="1" {if $VAR.charge_sweep_type == "1"}selected{/if}>Weekly</option>
                      <option value="2" {if $VAR.charge_sweep_type == "2"}selected{/if}>Monthly</option>
                      <option value="3" {if $VAR.charge_sweep_type == "3"}selected{/if}>Quarterly</option>
                      <option value="4" {if $VAR.charge_sweep_type == "4"}selected{/if}>Semi-anually</option>
                      <option value="5" {if $VAR.charge_sweep_type == "5"}selected{/if}>Anually</option>
                      <option value="6" {if $VAR.charge_sweep_type == "6"}selected{/if}>On 
                      Service Rebill</option>
                    </select>
                  </td>
                </tr>
                <tr valign="top"> 
                  <td width="35%"> 
                    {translate module=charge}
                    field_account_id 
                    {/translate}
                  </td>
                  <td width="65%"> 
                    { $list->popup("charge_add", "charge_account_id", $VAR.charge_account_id, "account_admin", "account", "first_name,middle_name,last_name", "form_field", "") }
                  </td>
                </tr>
                <tr valign="top"> 
                  <td width="35%"> 
                    {translate module=charge}
                    field_product_id 
                    {/translate}
                  </td>
                  <td width="65%"> 
                    { $list->menu("", "charge_product_id", "product", "sku", "all", "form_menu") }
                  </td>
                </tr>
                <tr valign="top"> 
                  <td width="35%"> 
                    {translate module=charge}
                    field_amount 
                    {/translate}
                  </td>
                  <td width="65%"> 
                    <input type="text" name="charge_amount" value="{$VAR.charge_amount}" {if $charge_amount == true}class="form_field_error"{else}class="form_field"{/if}>
                    &nbsp;&nbsp;
                    {translate}
                    search_partial
                    {/translate}
                  </td>
                </tr>
                <tr valign="top"> 
                  <td width="35%"> 
                    {translate module=charge}
                    field_quantity 
                    {/translate}
                  </td>
                  <td width="65%"> 
                    <input type="text" name="charge_quantity" value="{$VAR.charge_quantity}" {if $charge_quantity == true}class="form_field_error"{else}class="form_field"{/if} size="5">
                    &nbsp;&nbsp; </td>
                </tr>
                <tr valign="top"> 
                  <td width="35%"> 
                    {translate module=charge}
                    field_taxable 
                    {/translate}
                  </td>
                  <td width="65%"> 
                    { $list->bool("charge_taxable", "all", "form_menu") }
                  </td>
                </tr>

                <tr class="row1" valign="top"> 
                  <td width="35%">  
                    {translate module=charge}
                    field_attributes 
                    {/translate} 
                  </td>
                  <td width="65%"> 
                    <input type="text" name="item_attributes[0][0]" class=form_field size="16"> = 
                    <input type="text" name="item_attributes[0][1]" class=form_field size="16"> <br>
                    <input type="text" name="item_attributes[1][0]" class=form_field size="16"> = 
                    <input type="text" name="item_attributes[1][1]" class=form_field size="16"> <br>
                    <input type="text" name="item_attributes[2][0]" class=form_field size="16"> = 
                    <input type="text" name="item_attributes[2][1]" class=form_field size="16"> <br>
                    <input type="text" name="item_attributes[3][0]" class=form_field size="16"> = 
                    <input type="text" name="item_attributes[3][1]" class=form_field size="16"> <br>
                    <input type="text" name="item_attributes[4][0]" class=form_field size="16"> = 
                    <input type="text" name="item_attributes[4][1]" class=form_field size="16"> <br>
                    <input type="text" name="item_attributes[5][0]" class=form_field size="16"> = 
                    <input type="text" name="item_attributes[5][1]" class=form_field size="16"> 
                  </td>
                </tr> 
				
                <!-- Define the results per page -->
                <tr class="row1" valign="top"> 
                  <td width="35%">
                    {translate}
                    search_results_per
                    {/translate}
                  </td>
                  <td width="65%"> 
                    <input type="text" class="form_field" name="limit" size="5" value="{$charge_limit}">
                  </td>
                </tr>
                <!-- Define the order by field per page -->
                <tr class="row1" valign="top"> 
                  <td width="35%">
                    {translate}
                    search_order_by
                    {/translate}
                  </td>
                  <td width="65%"> 
                    <select class="form_menu" name="order_by">
                      {foreach from=$charge item=record}
                      <option value="{$record.field}">
                      {$record.translate}
                      </option>
                      {/foreach}
                    </select>
                  </td>
                </tr>
                <tr class="row1" valign="top"> 
                  <td width="35%"></td>
                  <td width="65%"> 
                    <input type="submit" name="Submit" value="{translate}search{/translate}" class="form_button">
                    <input type="hidden" name="_page" value="core:search">
                    <input type="hidden" name="_escape" value="Y">
                    <input type="hidden" name="module" value="charge">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
{ $block->display("core:saved_searches") }
{ $block->display("core:recent_searches") }
{/if}
