/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	
}
body {
	line-height: 1;
	color:#666666;
	font-family:'CartoGothicStdBook', Arial, Helvetica, sans-serif;
	font-weight:normal;
	
}
h1, h2, h3, h4 {
	clear: both;
	font-weight: normal;
}

ol, ul {
	list-style: none;
	
}

blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */


/* Layout */

  @font-face {

    font-family: 'CartoGothicStdBook';

    src: url('fonts/cartogothicstd-book-webfont.eot');

    src: url('fonts/cartogothicstd-book-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/cartogothicstd-book-webfont.woff') format('woff'),

         url('fonts/cartogothicstd-book-webfont.ttf') format('truetype'),

         url('fonts/cartogothicstd-book-webfont.svg#CartoGothicStdBook') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'CartoGothicStdItalic';

    src: url('fonts/cartogothicstd-italic-webfont.eot');

    src: url('fonts/cartogothicstd-italic-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/cartogothicstd-italic-webfont.woff') format('woff'),

         url('fonts/cartogothicstd-italic-webfont.ttf') format('truetype'),

         url('fonts/cartogothicstd-italic-webfont.svg#CartoGothicStdItalic') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'CartoGothicStdBold';

    src: url('fonts/cartogothicstd-bold-webfont.eot');

    src: url('fonts/cartogothicstd-bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/cartogothicstd-bold-webfont.woff') format('woff'),

         url('fonts/cartogothicstd-bold-webfont.ttf') format('truetype'),

         url('fonts/cartogothicstd-bold-webfont.svg#CartoGothicStdBold') format('svg');

    font-weight: normal;

    font-style: normal;

}

/* Split Test */

body.index2 {
background: #fff;
margin:0;
padding:0;
}

#title {
text-align:center;
color:#666666;
font-size:36px;
padding:50px 0 0 70px;
font-family: 'CartoGothicStdBold', Arial, Helvetica, sans-serif;
font-weight:bold;

}

.subtitle {
float:left;
color:#666666;
font-size:22px;
padding:15px 0 0 50px;
letter-spacing:-1px;

}

.black {
color:#000000;
}

.tagline2 {
float:left;
color:#666666;
font-size:24px;
text-align:left;
margin-top:30px;
margin-left:10px;
letter-spacing:-1px;
}

#pitch2 {
float:left;
width:500px;
}

#talk {
padding:10px 0 0 65px;
font-size:22px;
letter-spacing:-1px;
}

#button2 {
float:left;
padding-top:15px;
}

#main2 {
background: url(images/main2.jpg) no-repeat;
width:960px;
height:325px;
}

#main-right2 {
float:right;
width:550px;
height:325px;
text-align:center;
margin-top:20px;
}

#testimonials2 {
float:right;
width:270px;
min-height:250px;
border-left: 1px solid #ccc;
margin-top:10px;
padding:0 15px 0 15px;

}

#about2{
width:960px;
margin-top:25px;

}

#about2 p {
font-size:14px;
color:#666;
line-height:24px;
padding:5px 30px 0 50px;
}

#testimonials2 p {
font-size:14px;
color:#666;
line-height:26px;
padding:10px;
}

.info2 {
float:right;
width:210px;
}



.info2 p {
margin: 10px 0 0 15px;
color:#666666;
  letter-spacing:-1px;
  font-size:15px;
  font-weight:normal;

}

.info2 ul {
margin: 20px 0 0 30px;
list-style-type:disc;
}

.info2 li {

  font-size:13px;
  font-weight:normal;
  line-height:24px;
}

.info2 h5 {
margin-top:30px;
  color:#000000;
  letter-spacing:-1px;
  font-size:16px;
  font-weight:normal;
  
}

/* HTML 5 */
header,footer { 
display:block; 
}

footer {clear:both; width:960px; }

body {
background: url(images/bg.png) repeat-x #fff;
margin:0;
padding:0;
}

#wrapper {
width:960px;
margin: 0 auto;
}


.header {
width:960px;
height:78px;

}

#logo {
float:left;
margin-top:15px;
}

#pitch {
float:right;
width:300px;
}

.phone {
float:right;
color:#fd5800;
font-size:32px;
text-align:right;

}

.tagline {
float:right;
color:#666;
font-size:18px;
text-align:right;
margin-top:20px;


}


#main {
background: url(images/main.png) no-repeat;
width:960px;
height:338px;
}

.box {
width:180px;
margin:15px;
float:left;
color:#fff;
font-size:15px;
text-align:left;
line-height:18px;
}

.box img {
display:block;
text-align:center;
margin:0 auto;
padding-bottom:10px;
}

#button {
float:left;
}

#button .text {
font-size:16px;
color:#666;
line-height:54px;
}

#content {
width:960px;
clear:both;

}

#testimonials {
float:right;
width:300px;
min-height:250px;
background-color:#e1e5ea;
border: 1px solid #666;
margin-top:10px;
padding-top:15px;

}

#testimonials p {
font-size:14px;
color:#666;
line-height:26px;
padding:10px;
}

#bottom {
width:960px;
margin-top:10px;
border-top:1px solid #ccc;
background-color:#e1e5ea;
}

#bottom p {
font-size:14px;
color:#666;
line-height:24px;
padding:15px;
}

#footer {
width:960px;
text-align:center;
font-size:12px;
color:#666;
line-height:48px;
}

/* Slideshow */

#slideshow {
float:left;
width:650px;
position: relative;
}

#slideshow #slidesContainer {
  margin:0 auto;
  width:590px;
  height:263px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}

#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:590px; /* reduce by 20 pixels to avoid horizontal scroll */
  height:263px;
  
}

.control {
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:130px;
  left:0;
  background:transparent url(images/control-left.png) no-repeat 0 0;
}
#rightControl {
  top:130px;
  right:0;
  background:transparent url(images/control-right.png) no-repeat 0 0;
}

.info {
float:right;
width:210px;
}



.info p {
margin: 30px 0 0 15px;
color:#666666;
  letter-spacing:-1px;
  font-size:15px;
  font-weight:normal;

}

.info ul {
margin: 20px 0 0 30px;
list-style-type:disc;
}

.info li {
color:#fd5800;
  font-size:13px;
  font-weight:normal;
  line-height:24px;
}

.info h5 {
margin-top:30px;
  color:#000000;
  letter-spacing:-1px;
  font-size:16px;
  font-weight:normal;
  
}
.slide img {
float:left;
margin:20px 0 0 25px;
}

/* Form */
#form {
margin:30px auto;
width:400px;
margin-left:auto;
margin-right:auto;
}

.formtitle {
font-size:24px;
}

input,
select,
textarea {
    border: 1px solid #A3A3A3;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
	
}

label {
color:#0a3045;
	font-size:16px;
	display: block;
	margin-right: 10px;
	margin-top:5px;
}

.error{ 
	border:1px solid #F00 !important;
}
.phone_inputs {
	display:block;
	clear:both;
}

#phone1 {
    width: 42px !important;
}

#phone2 {
    width: 42px !important;
}

#phone3 {
    width: 42px !important;

}

#submit {
width: 326px;
height: 72px;
display:block;
margin:0 auto;
text-align:center;
position: relative;
top: 30px;
border:0;
}


/* Styles */

a {
color:#000;
text-decoration:none;
}

h1 {
float:left;
color:#ffffff;
font-size:34px;
margin:25px 0 0 15px;
font-weight:normal;

}

h2 {
float:left;
color:#ffffff;
font-size:24px;
margin-left:15px;
font-weight:normal;
width:600px;
}

h3 {
float:left;
color:#666666;
font-size:22px;
margin:25px 0 0 15px;
letter-spacing:-1px;

}

h4 {
float:left;
color:#666666;
font-size:18px;
margin:0 0 0 10px;
font-weight:bold;
letter-spacing:-1px;

}

h5 {
float:left;
color:#666666;
font-size:18px;
margin:10px 0 0 15px;
font-weight:bold;
letter-spacing:-1px;

}

.orange {
color:#fb903a;
}

.gray {
color:#a3a0a0;
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
 
}


#conv {
	display:none;
	height:1px;
	width:1px;
}