body        {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 11px
            }

.body        {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 11px
            }
            
.search_nav {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 11px; font-weight: bold;
                color: #FFFFFF;
                background-color: #506DC7;
                margin-top: 1px;
                margin-right: 1px;
                margin-bottom: 1px;
                margin-left: 1px;
                padding-top: 1px;
                padding-right: 1px;
                padding-bottom: 1px;
                padding-left: 1px;
                border-color: #CCCCCC #CCCCCC #CCCCCC #CCCCCC;
                border-top-width: 1px
            }

.form_menu
			{
 			    font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 11px;
				background-color: #E8EDFC;
				border-color: #CCCCCC #CCCCCC #CCCCCC #CCCCCC;
				border-top-width: 1px;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-left-width: 1px;
			}
            		
.form_button 	
			{
 			    font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 11px;
				background-color: #506DC7;
				border-color: #333333 #333333 #333333 #333333;
				border-top-width: 1px;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-left-width: 1px;
				color: #FFFFFF;
				font-weight: bold;
			}

.form_button_dead 	
			{
				font-family: Verdana,Arial, Helvetica, sans-serif;
				font-size: 11px;
				background-color: #FFFFFF;
				border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;	
				border-top-width: 0px;
				border-right-width: 0px;
				border-bottom-width: 0px;
				border-left-width: 0px
			}
                			
.form_field
			{
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 11px;
				background-color: #E8EDFC;
				border-color: #F9F9F9 #F9F9F9 #F9F9F9 #F9F9F9;
                font-weight: normal;
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 2px;
                border-top-width: 1px;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-left-width: 1px
			}

.form_field_error
			{
				font-family: Verdana,Arial, Helvetica, sans-serif;
				font-size: 11px;
				background-color: #FFFF00;
				border-color: #CCCCCC #CCCCCC #CCCCCC #CCCCCC;
                font-weight: normal;
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 2px;
                border-top-width: 1px;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-left-width: 1px;
				color: #000000;
			}			
								
.table_background 
			{
				background-color: #CCCCCC;
			}

.table_heading
			{
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-weight: bold;
				color: #FFFFFF;
				font-size: 12px;
				text-align: center;
				vertical-align: middle;
				height: 14px;
				background-color: #506DC7;
				border-color: #FFFFFF #FFFFFF #F1F1F1 #FFFFFF;
				padding-top: 3px;
				padding-right: 3px;
				padding-bottom: 3px;
				padding-left: 3px;
				border-style: solid;
				border-top-width: 0px;
				border-right-width: 0px;
				border-bottom-width: 0px;
				border-left-width: 0px
			}

.table_heading_txt
			{
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 12px;
				height: 14px;
				color: #FFFFFF;
				padding-top: 1px;
				padding-right: 1px;
				padding-bottom: 1px;
				padding-left: 1px;
			}
				
.row1	
			{
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 11px; 
				background-color: #F9F9F9;
				color: #000000
			}
				
.row2 
			{
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 11px; 
				background-color: #FCFCFC;
				color: #000000
			}
						
.row_select
			{
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 11px; 
				background-color: #C9EEFF;
				color: #000000
			}
				
.row_mouse_over
			{
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 11px; 
				background-color: #FFFFCC;
				color: #000000		
			}
				
.row_mouse_over_select
			{
				font-family: Verdana, Arial, Helvetica, sans-serif; 
				font-size: 11px; 
				background-color: #BEDFF1;
				color: #000000
			}
                 
			
 

a:link      {  text-decoration: none}
a:link      {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}
a:active    {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}
a:hover     {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}
a:visited   {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}