{if $SESS_LOGGED == true } 
<html>
<head>
<title>{$smarty.const.SITE_NAME} Administration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head> 
<frameset rows="*" cols="255,*" frameborder="NO" border="0" framespacing="0">  
  <frame name="leftFrame"   scrolling="NO" noresize src="?_page=core:leftFrameBlue&_escape=1">
  <frame name="mainFrame"   src="{if $mainFrameUrl != ""}{$mainFrameUrl}{else}?_page=core:admin{/if}">
</frameset>
<noframes> 
<body bgcolor="#FFFFFF" text="#000000">
</body>
</noframes>
</html> 
{else}
{literal} 
<script language="JavaScript">
//	window.open('?_page=account:main&tid=default','_parent','');
</script> 
{literal}
{/if}