.footernav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
}.footernav a:link{
	color: #4C80A9;
	text-decoration: none;
}.footernav a:hover{
	color: #CE0D29;
	text-decoration: none;
}.footernav a:active{
	color: #4C80A9;
	text-decoration: none;
}.footernav a{
	color: #4C80A9;
	text-decoration: none;
}.mainmovingtopic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
}.mainmovingspecialtopic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainmovingtopic a {
	color: #4C80A9;
	text-decoration: none;

}.mainmovingtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.reportingtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.goodcpc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color:#00FF00;
	text-decoration: none;

}.badcpc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color:#FF0000;
	text-decoration: none;



}.mainmovingtext a {
	text-decoration: none;
	color: #4C80A9;

}.mainmovingtextlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainmovingtextlink a {
	color: #CE0D29;
	text-decoration: none;

}.mainmovingtextlink a:hover {
	color: #000000;
	text-decoration: none;

}.mainmovingtextlink a:link {
	text-decoration: none;

}.mainmovingtextlink a:active {
	text-decoration: none;
}.mainmovingguidetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #A5BFD4;
	text-decoration: none;

}.mainmovingguidetext a {
	color: #A5BFD4;
	text-decoration: none;
}.mainmovingnavlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainmovingnavlink a {
    color: #4C80A9;
	text-decoration: none;

}.mainmovingnavlink a:hover {
	color: #CE0D29;
	text-decoration: none;

}.mainmovingnavlink a:link {
	color: #4C80A9;
	text-decoration: none;

}.mainmovingnavlink a:active {
	color: #4C80A9;
	text-decoration: none;
}.mainmovingsubnavlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainmovingsubnavlink a {
    color: #4C80A9;
	text-decoration: none;

}.mainmovingsubnavlink a:hover {
	color: #000000;
	text-decoration: none;

}.mainmovingsubnavlink a:link {
	color: #4C80A9;
	text-decoration: none;

}.mainmovingsubnavlink a:active {
	color: #4C80A9;
	text-decoration: none;
}.mainwelcometext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainwelcometextb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainwelcometextredb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CE0D29;
	text-decoration: none;

}.mainsearchtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;

}
.input_text_field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #4C80A9;
}

.checkbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #4C80A9;
}
.mainmovingsearchtopic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}.mainmovingguidelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;


}.mainmovingguidelink a {
    color: #4C80A9;
	text-decoration: none;

}.mainmovingguidelink a:hover {
	color: #000000;
	text-decoration: none;

}.mainmovingguidelink a:link {
	color: #4C80A9;
	text-decoration: none;

}.mainmovingguidelink a:active {
	color: #4C80A9;
	text-decoration: none;
}.movingquotetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
}.movingquotetopic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
}
