<table width=100% border="0" cellspacing="0" cellpadding="0" class="table_background">
  <tr> 
    <td> 
      <table width=100% border="0" cellspacing="1" cellpadding="0" align="center">
        <tr> 
          <td class="table_heading"> 
            <center>
              {translate module=country}
              menu 
              {/translate}
            </center>
          </td>
        </tr>
        <tr> 
          <td class="row1">
            <table width="100%" border="0" cellpadding="5" class="row1">
              <tr>
                <td>{translate module=country}help_file{/translate}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
