.TreeMenuTitle {color: #888888; font: 18px Arial; font-weight: 600}

.XPRedTopBack  {background-color: #DB8181}
.XPRedMainBack {background-color: #DB8181; background-image: url(img/xpback_red.gif); background-repeat: no-repeat}
.XPRedMenuBack {background-color: #E19797; color: #FFFFFF; font: 10px Arial; font-weight: bold}
.XPRedHorLine  {background-color: #F0CDCD}
.XPRedExTitle  {color: #FFFFFF; font: 16px Arial; font-weight: bold}
.XPRedText     {color: #FFFFFF; font: 11px Verdana; background-image: url();}
.XPRedTitle    {color: #FFFFFF; font: 20px Arial; font-weight: bold; background-image: url();}

.XPGreenTopBack  {background-color: #79C370}
.XPGreenMainBack {background-color: #79C370; background-image: url(img/xpback_green.gif); background-repeat: no-repeat}
.XPGreenMenuBack {background-color: #90CD89; color: #FFFFFF; font: 10px Arial; font-weight: bold}
.XPGreenHorLine  {background-color: #CBE7C7}
.XPGreenExTitle  {color: #FFFFFF; font: 16px Arial; font-weight: bold}
.XPGreenText     {color: #FFFFFF; font: 11px Verdana; background-image: url();}
.XPGreenTitle    {color: #FFFFFF; font: 20px Arial; font-weight: bold; background-image: url();}

.XPOrangeTopBack  {background-color: #DA9F5B}
.XPOrangeMainBack {background-color: #DA9F5B; background-image: url(img/xpback_orange.gif); background-repeat: no-repeat}
.XPOrangeMenuBack {background-color: #DFB07A; color: #FFFFFF; font: 10px Arial; font-weight: bold}
.XPOrangeHorLine  {background-color: #EDDBC6}
.XPOrangeExTitle  {color: #FFFFFF; font: 16px Arial; font-weight: bold}
.XPOrangeText     {color: #FFFFFF; font: 11px Verdana; background-image: url();}
.XPOrangeTitle    {color: #FFFFFF; font: 20px Arial; font-weight: bold; background-image: url();}

.XPBlueTopBack  {background-color: #6375D6}
.XPBlueMainBack {background-color: #6375D6; background-image: url(img/xpback.gif); background-repeat: no-repeat}
.XPBlueMenuBack {background-color: #7AA1E6; color: #FFFFFF; font: 10px Arial; font-weight: bold;}
.XPBlueHorLine  {background-color: #C5DFFF}
.XPBlueExTitle  {color: #D6DFF5; font: 16px Arial; font-weight: bold;}
.XPBlueText     {color: #FFFFFF; font: 11px Verdana; background-image: url();}
.XPBlueTitle    {color: #D6DFF5; font: 20px Arial; font-weight: bold; background-image: url();}

.XPSilverTopBack  {background-color: #B1B3C8}
.XPSilverMainBack {background-color: #B1B3C8; background-image: url(img/xpback_s.gif); background-repeat: no-repeat}
.XPSilverMenuBack {background-color: #C3C7D3; color: #FFFFFF; font: 10px Arial; font-weight: bold}
.XPSilverHorLine  {background-color: #DFDFDF}
.XPSilverExTitle  {color: #D7DDEF; font: 16px Arial; font-weight: bold}
.XPSilverText     {color: #FFFFFF; font: 11px Verdana; background-image: url();}
.XPSilverTitle    {color: #DEE4F6; font: 20px Arial; font-weight: bold; background-image: url();}

.XPOliveTopBack  {background-color: #A5BD84}
.XPOliveMainBack {background-color: #A5BD84; background-image: url(img/xpback_o.gif); background-repeat: no-repeat}
.XPOliveMenuBack {background-color: #CBD8AC; color: #FFFFFF; font: 10px Arial; font-weight: bold}
.XPOliveHorLine  {background-color: #DFDFDF}
.XPOliveExTitle  {color: #E0E7B8; font: 16px Arial; font-weight: bold}
.XPOliveText     {color: #FFFFFF; font: 11px Verdana; background-image: url();}
.XPOliveTitle    {color: #E0E7B8; font: 20px Arial; font-weight: bold; background-image: url();}

.Text     {color: #222222; font: 11px Verdana; background-image: url();}
.MainBack {background-color: #FFFFFF; color: #222222; font: 10px Arial; font-weight: bold}
.MenuBack {background-color: #CCCCCC; color: #FFFFFF; font: 10px Arial; font-weight: bold}
.TopBack  {background-color: #FFFFFF}
.ExTitle  {color: #999999; font: 16px Arial; font-weight: bold}

.ParamTitle    {color: #222222; font: 16px Arial; font-weight: bold}
.ParamBack     {background-color: #FFFFFF; font: 11px Verdana; font: 11px Verdana;}
.ParamTbl      {color: #333333; font: 11px Verdana; font: 11px Verdana;}
.ParamTblTitle {background-color: #CEE9F2; color: #444444; font: 11px Verdana; font-weight: bold;}
.ParamTblCell  {background-color: #ECF7F9; font: 11px Verdana; color: #222222;}


.StyleNameW    {color: #FFFFFF; font: 11px MS Sans Serif; font-weight: bold}
.StyleNameB    {color: #000000; font: 11px MS Sans Serif; font-weight: bold}

A.White:link          {font: 11px Verdana; color: #B5EDFF; text-decoration: none;}
A.White:hover         {font: 11px Verdana; color: #FFFFFF; text-decoration: underline;}
A.White:visited       {font: 11px Verdana; color: #D3CCFF; text-decoration: none;}
A.White:visited:hover {font: 11px Verdana; color: #FFFFFF; text-decoration: underline;}

A.Dark:link          {font: 11px Verdana; color: #3333DD; text-decoration: none;}
A.Dark:hover         {font: 11px Verdana; color: #5555FF; text-decoration: underline;}
A.Dark:visited       {font: 11px Verdana; color: #5555CC; text-decoration: none;}
A.Dark:visited:hover {font: 11px Verdana; color: #5555FF; text-decoration: underline;}

A.Black:link          {font: 11px Verdana; color: #FFFFFF; text-decoration: none;}
A.Black:hover         {font: 11px Verdana; color: #FFFFFF; text-decoration: underline;}
A.Black:visited       {font: 11px Verdana; color: #F3F3F3; text-decoration: none;}
A.Black:visited:hover {font: 11px Verdana; color: #FFFFFF; text-decoration: underline;}

A.MenuLink:link    {font: 10px Arial; color: #FFFFFF; text-decoration: none; font-weight: bold;}
A.MenuLink:hover   {font: 10px Arial; color: #FFFFFF; text-decoration: none; font-weight: bold;}
A.MenuLink:visited {font: 10px Arial; color: #FFFFFF; text-decoration: none; font-weight: bold;}

.MenuTable          {border-width: 0;}
.MenuItem           {border-width: 1; background-color: #628FE2; border-style: solid; border-color: #A0C0FF; color: #FFFFFF}
.MenuItemOver       {border-width: 1; background-color: #285BA5; border-style: solid; border-color: #FFFFFF; color: #000000; cursor: hand}

.MenuItemSilver     {border-width: 1; background-color: #A3A3A3; border-style: solid; border-color: #E3E3E3; color: #FFFFFF}
.MenuItemOverSilver {border-width: 1; background-color: #696969; border-style: solid; border-color: #FFFFFF; color: #000000; cursor: hand}

.MenuItemOlive     {border-width: 1; background-color: #9FA862; border-style: solid; border-color: #E2E4CF; color: #FFFFFF}
.MenuItemOverOlive {border-width: 1; background-color: #696D2F; border-style: solid; border-color: #FFFFFF; color: #000000; cursor: hand}

.MenuItemOrange     {border-width: 1; background-color: #C1911F; border-style: solid; border-color: #FFEEC9; color: #FFFFFF}
.MenuItemOverOrange {border-width: 1; background-color: #816300; border-style: solid; border-color: #FFFFFF; color: #000000; cursor: hand}

.MenuItemGreen     {border-width: 1; background-color: #20AF1C; border-style: solid; border-color: #CAFFD1; color: #FFFFFF}
.MenuItemOverGreen {border-width: 1; background-color: #258200; border-style: solid; border-color: #FFFFFF; color: #000000; cursor: hand}

.MenuItemRed     {border-width: 1; background-color: #B11C1C; border-style: solid; border-color: #FFEEEE; color: #FFFFFF}
.MenuItemOverRed {border-width: 1; background-color: #840000; border-style: solid; border-color: #FFFFFF; color: #000000; cursor: hand}
