
<table width="175" border="0" cellspacing="0" cellpadding="0" class="menu_background" align="center">
  <tr> 
  <form name="form1" method="post" action="">
    <td> 
	 
      <table width="100%" border="0" cellspacing="1" cellpadding="0" align="center">
        <tr> 
          <td class="menu_heading"> 
            <center>
              {translate}
              newsletter_menu 
              {/translate}
            </center>
          </td>
        </tr>
        <tr> 
          <td class="menu_non_sel_2"> 
		 
            <table width="100%" border="0" cellpadding="1">
              <tr>
                  <td class="menu_non_sel_2"> 
				   <div align="center">
                    {translate} newsletter_subscribe{/translate}
                      <input type="text" name="newsletter_email" class="form_field" size="20">
                      <input type="submit" name="Go" value="Go" class="form_button">
                      <input type="hidden" name="_page" value="newsletter:subscribe">
                    </div>
                  </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
	  
    </td>
	</form>
  </tr>
</table>
 