
<p>Thank you for your order!<br>
  <br>
  You should receive an e-mail confirmation shortly, with your order details.</p>
<p>Your order number is XXX.</p>
<p><br>
  Thank you,<br>
  Admin </p>
 