body {
	min-width: 769px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #dbdeec;
	text-align: center;
}

#header {
	position: absolute;
	top:0px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width: 769px;
	padding:0;
	background-color: #ffffff;
}

#logos {
	position: absolute;
	top:251px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;
	height:110px;
	background-color: #ffffff;
}
#logos2 {
	position: absolute;
	top:176px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;
	height:100px;
	background-color: #ffffff;
}

#shortform {
	position: absolute;
	top:360px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;
	height:200px;
	background-color: #ffffff;	
}
#shortform2 {
	position: absolute;
	top:276px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;
	height:200px;
	background-color: #ffffff;	
}
#form {
	position: absolute;
	top:251px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;
	
	
}

#maintext {
	position: absolute;
	z-index: 2;
	top:495px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;

	background-color: #ffffff;
}
#maintext2 {
	position: absolute;
	z-index: 2;
	top:376px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;

	background-color: #ffffff;
}

#maintext3 {
	position: absolute;
	z-index: 2;
	top:577px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;

	background-color: #ffffff;
}

#maintext4 {
	position: absolute;
	z-index: 2;
	top:637px;
	left: 50%;
	margin-top: 0px;
	margin-left: -384px;
	width:769px;

	background-color: #ffffff;
}

#footer {
	
	padding:0;
	width:769px;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
	
}

a {
	text-decoration:none;
	color: #4C80A9;
}

.errortext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style:normal;
	line-height: normal;
	font-weight:bold;
	font-variant: normal;
	text-transform: none;
	color:#FF0000;
	text-decoration: none;
}


.mainContentBorder
{
	border: 1px solid #999966;
}

.contentborder {
	border-top: none;
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
	border-left: 1px solid #969696;
}

.tabbar
{	
	background-color: #E4E2CE;
	
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999966;
	
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999966;
}
.security_tab_off
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999966;
	background-color: <?php echo OFF_BG; ?>;	
}

.security_tab_on
{
	color: #4C80A9;
	background-color: #E4E2CE;
	
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999966;
	
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999966;
	
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999966;
}

.security_link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;	
}
.quote_link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;	
}
.quote_link2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;	
}

.security_tab_link_off {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
	background-color: <?php echo OFF_BG; ?>;	
}



.security_tab {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999966;
}

.mainsecuritytopic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
	
	
}
.mainsecuritytopic2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #a32323;
	text-decoration: none;
	
	
}

.maroon_security_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color:#660000;
	text-decoration: none;
	
	
}

.mainsecuritytopic a {
	color: #4C80A9;
	text-decoration: none;


}.securitystatelinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color:#818181;
	text-decoration: none;

}.mainsecuritylegal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainsecuritylegal_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainsecuritytextbi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;


}.mainsecuritytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainsecuritytext a {
	text-decoration: none;
	color: #4C80A9;

}.mainsecuritytextlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainsecuritytextlink a {
	color: #CE0D29;
	text-decoration: none;

}.mainsecuritytextlink a:hover {
	color: #000000;
	text-decoration: none;

}.mainsecuritytextlink a:link {
	text-decoration: none;

}.mainsecuritytextlink a:active {
	text-decoration: none;
}.mainmovingguidetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #A5BFD4;
	text-decoration: none;

}.mainmovingguidetext a {
	color: #A5BFD4;
	text-decoration: none;
}.mainmovingnavlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainmovingnavlink a {
    color: #4C80A9;
	text-decoration: none;

}.mainmovingnavlink a:hover {
	color: #CE0D29;
	text-decoration: none;

}.mainmovingnavlink a:link {
	color: #4C80A9;
	text-decoration: none;

}.mainmovingnavlink a:active {
	color: #4C80A9;
	text-decoration: none;
}.mainmovingsubnavlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;

}.mainmovingsubnavlink a {
    color: #4C80A9;
	text-decoration: none;

}.mainmovingsubnavlink a:hover {
	color: #000000;
	text-decoration: none;

}.mainmovingsubnavlink a:link {
	color: #4C80A9;
	text-decoration: none;

}.mainmovingsubnavlink a:active {
	color: #4C80A9;
	text-decoration: none;
	
}

.mainsearchtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;

}
.mainmovingsearchtopic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}.mainmovingguidelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;


}.mainmovingguidelink a {
    color: #4C80A9;
	text-decoration: none;

}.mainmovingguidelink a:hover {
	color: #000000;
	text-decoration: none;

}.mainmovingguidelink a:link {
	color: #4C80A9;
	text-decoration: none;

}.mainmovingguidelink a:active {
	color: #4C80A9;
	text-decoration: none;
}.movingquotetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
}.movingquotetopic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #4C80A9;
	text-decoration: none;
}
