
<body bgcolor="6375D6" background="themes/{$THEME_NAME}/images/top_back.gif" rightmargin="10" leftmargin="2" topmargin="2" marginwidth="10" marginheight="2">
<div align="right"> <font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF">&copy;Copyright 
  2003-2004 Agileco.com<br>
  All Rights Reserved</font></div>
