{ $method->exe("host_tld","whois_transfer") } 
{ if ($method->result == FALSE) }
	<!-- javascript: FALSE -->
	{ $block->display("core:method_error") }
	<script language="javascript"> window.parent.unavailable(); window.close();</script>
	module problem
{else}

	{if $whois_result == "1"}
		<!-- javascript: TRUE -->
		<script language="javascript"> window.parent.available(); window.close();</script>
		available
	{else}
	
		<!-- javascript: FALSE -->
		<script language="javascript"> window.parent.unavailable();</script>
		unavailable
	{/if} 
{/if} 