
<table width="100%" border="0" cellspacing="3" cellpadding="1" class="row1">
  <tr valign="top"> 
    <td width="50%"> 
      {translate module=affiliate}
      plugin_moneybookers_email
      {/translate}
    </td>
    <td width="50%">
      <input type="text" name="affiliate_plugin_data[email]" value="{$plugin_data.email}" class="form_field">
    </td>
  </tr>
</table>
