<body>

<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td align="center">

<form action="http://carshipping.com/survey/survey_form.php" method="get" name="Survey">

<img src="http://carshipping.com/survey/images/cs.jpg" alt="Thank you for choosing CarShipping.com" width="450" height="101" />
<table align="center" width="95%" border="0" cellpadding="2" summary="This is a short survey about the online experience when shopping for an auto transporter.">
<!-- 
  <caption>
    Survey Questions
  </caption>
 -->
  <tr>
    <td>
	<p>Recently you visited CarShipping.com for a quote to transport your vehicle.  We are interested in your feedback.  Please take a minute or two to answer our survey.</p>    
    </td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">Did you book your auto transport with one of the auto brokers from our website? <br /> </legend>
    <div class="answer">
    <input name="question1" type="radio" value="Yes" />Yes &nbsp;
    <input name="question1" type="radio" value="No" /> No</div>
    </fieldset></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">If you did book a transport, was it for a date that was 30 days or less from the time you went to the website? <br /> </legend>
    <div class="answer">
    <input name="question2" type="radio" value="Yes" />Yes &nbsp;
    <input name="question2" type="radio" value="No" /> No</div>
    </fieldset></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">If you did not book a transport with one of the brokers from our website, can you tell us why not? <br /> </legend>
    <div class="answer">
    
	<input name="question3" type="radio" value="I was only looking for information / not ready to book at this time" />I was only looking for information / not ready to book at this time<br />

	<input name="question3" type="radio" value="I thought Price was too expensive" />I thought Price was too expensive<br />

	<input name="question3" type="radio" value="Became frustrated with the process" />Became frustrated with the process<br />

	<input name="question3" type="radio" value="Went with another broker from another website" />Went with another broker from another website<br />

	<input name="question3" type="radio" value="No one was able to transport within the timeframe I needed" />No one was able to transport within the timeframe I needed<br />

	<input name="question3" type="radio" value="Didn't like any of the companies that were presented" />Didn't like any of the companies that were presented<br />

    </div>
    </fieldset></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">In your opinion, how would you rate the number of emails that you received from the brokers on our website? <br /> </legend>
    <div class="answer">
    
	<input name="question4" type="radio" value="I hardly received any emails" />I hardly received any emails<br />
	
	<input name="question4" type="radio" value="I would have liked to have received more emails regarding quotes and offers" />I would have liked to have received more emails regarding quotes and offers<br />
	
	<input name="question4" type="radio" value="I received an appropriate amount of emails" />I received an appropriate amount of emails<br />
	
	<input name="question4" type="radio" value="I received more emails than I needed" />I received more emails than I needed<br />
	
	<input name="question4" type="radio" value="I received an unbearable amount of emails from brokers" />I received an unbearable amount of emails from brokers<br />
	
    </div>
    </fieldset></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">In your opinion, how would you rate the number of phone calls that you received from the brokers on our website? <br /> </legend>
    <div class="answer">
    
	<input name="question5" type="radio" value="I hardly received any phone calls" />I hardly received any phone calls<br />
	
	<input name="question5" type="radio" value="I would have liked to receive more phone calls regarding quotes and offers" />I would have liked to receive more phone calls regarding quotes and offers<br />
	
	<input name="question5" type="radio" value="I received an appropriate amount of phone calls" />I received an appropriate amount of phone calls<br />
	
	<input name="question5" type="radio" value="I received more phone calls than I needed" />I received more phone calls than I needed<br />
	
	<input name="question5" type="radio" value="I received an unbearable amount of phone calls from brokers" />I received an unbearable amount of phone calls from brokers<br />
	
	</div>
    </fieldset></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">Did you receive enough information regarding auto-transport companies in order to make a decision regarding which company to choose? <br /> </legend>
    <div class="answer">
    	<input name="question6" type="radio" value="Yes" />Yes &nbsp;
    	<input name="question6" type="radio" value="No" /> No
	</div>
    </fieldset></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">Were all your questions answered by the brokers? <br /> </legend>
    <div class="answer">
    
    	<input name="question7" type="radio" value="No company answered all of my questions" />No company answered all of my questions<br />
    	
    	<input name="question7" type="radio" value="Some companies answered my questions" />Some companies answered my questions<br />
    	
    	<input name="question7" type="radio" value="Most companies answered all of my questions" />Most companies answered all of my questions<br />
    	
    	<input name="question7" type="radio" value="All companies answered all of my questions" />All companies answered all of my questions<br />
    	
	</div>
    </fieldset></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">Were you treated in a polite and courteous manner? <br /> </legend>
    <div class="answer">
    
    <input name="question8" type="radio" value="No companies were polite and courteous" />No companies were polite and courteous<br />
    
    <input name="question8" type="radio" value="Some companies were polite and courteous" />Some companies were polite and courteous<br />
    
    <input name="question8" type="radio" value="Most companies were polite and courteous" />Most companies were polite and courteous<br />
    
    <input name="question8" type="radio" value="All companies were polite and courteous" />All companies were polite and courteous<br />
    
	</div>
    </fieldset></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">Any comments would like to share?</legend>
    <div class="answer">
    <textarea name="comments" rows="10" cols="40"></textarea>
	</div>
    </fieldset></td>
  </tr>
  <tr>
    <td><br /></td>
  </tr>
  <tr>
    <td><fieldset>
    <legend class="title">Submit Form</legend>
    <div class="answer" align="center"><input name="submit_survey" type="submit" value="Submit Survey" /></div>
    </fieldset></td>
  </tr>
</table>


</form>

</td>
  </tr>
</table>
</body>
