<TABLE WIDTH=501 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/cards_01.gif" WIDTH=250 HEIGHT=20></TD>
		<TD COLSPAN=3>
			<IMG SRC="images/cards_02.gif" WIDTH=251 HEIGHT=20></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=20></TD>
	</TR>
	<TR>
		<TD ROWSPAN=3>
			<IMG SRC="images/cards_03.gif" WIDTH=21 HEIGHT=132></TD>
		<TD ROWSPAN=2 background="images/cards_04.gif" WIDTH=216 HEIGHT=113>
				<span style="color:white;font-size:10px;font-family:arial,sans-serif">

            All of our auto shippers comply with the Federal Motor Carrier Safety Administration's<img src="images/fmcsa.jpg" align="right">
			safety standards, with broker bonds and/or carrier insurance on file. Check out our transporters at the

			 <a style="text-decoration:none;color:yellow" href="http://www.safersys.org">FMCSA</a>
            Also you can view consumer ratings at <a style="color:yellow;text-decoration:none" href="http://autotransportreviews.com">Auto Transport Reviews</a>

		</span>
		</TD>
		<TD ROWSPAN=3>
			<IMG SRC="images/cards_05.gif" WIDTH=13 HEIGHT=132></TD>
		<TD ROWSPAN=3>
			<IMG SRC="images/cards_06.gif" WIDTH=16 HEIGHT=132></TD>
		<TD background="images/cards_07.gif" WIDTH=215 HEIGHT=112>
      <span style="color:white;font-size:10px;font-family:arial,sans-serif">

		Most auto transport companies require you to do some preparation in advance before shipping.
				<a href="preparing_your_vehicle.php" class="cardtext" target="_blank">Click here</a> for a few quick tips!
		<i>Choosing the Right Company</i><br><br>
		Investigate the companies you are looking to transport your vehicle...  <div align="right"><i>
			<a href="selecting_a_company.php" class="cardtext" target="_blank">MORE</a></i></div>
		</span>
		</TD>
		<TD ROWSPAN=3>
			<IMG SRC="images/cards_08.gif" WIDTH=20 HEIGHT=132></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=112></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2>
			<IMG SRC="images/cards_09.gif" WIDTH=215 HEIGHT=20></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=1></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/cards_10.gif" WIDTH=216 HEIGHT=19></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=19></TD>
	</TR>
</TABLE>
