
<TABLE WIDTH=164 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/advertisement_01.jpg" WIDTH=164 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD background="images/advertisement_02.jpg" WIDTH=12 HEIGHT=159></TD>
		<TD background="images/advertisement_03.jpg" WIDTH=133 HEIGHT=159>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut condimentum bibendum nibh. Maecenas mauris. Fusce sed neque facilisis turpis lacinia convallis. Sed non libero a orci gravida pretium. Suspendisse in ipsum id velit fermentum mollis. Donec nec neque mollis nibh suscipit tristique. Etiam mauris. Mauris vitae purus. Praesent porta mattis turpis. Aenean vitae arcu. Suspendisse a orci. Donec vitae tortor. In hac habitasse platea dictumst.
		</TD>
		<TD background="images/advertisement_04.jpg" WIDTH=19 HEIGHT=159></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/advertisement_05.jpg" WIDTH=164 HEIGHT=14></TD>
	</TR>
</TABLE>
