<TABLE WIDTH=500 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/managereviews.jpg" WIDTH=597 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 background="images/top10_02.jpg" WIDTH=13 HEIGHT=153><img src="images/spacer.gif" width=13 height=1></TD>
		<TD ROWSPAN=2 valign="top" width=570>
		
		<table><tr>
		<td>View a Review</td><tr>
		<?	
		if($req == 'viewreview'){
			$sql = "SELECT r.*, c.cid, c.company FROM reviews r, companies c WHERE rid = '$rid' AND r.company = c.cid";
				$res = mysql_query($sql);
				$row = mysql_fetch_array($res);
			echo "<br><br><center><a href=\"index.php?req=approvereview&rid=$rid\">Approve</a>&nbsp;&nbsp;&nbsp;
					<a href=\"index.php?req=deletereview&rid=$rid\">Disapprove</a></center>";

				foreach($row AS $r => $v){
					if(!is_int($r)){
						echo "<br><b>$r</b> : $v";
					}	
				}
				
			echo "<br><br><center><a href=\"index.php?req=approvereview&rid=$rid\">Approve</a>&nbsp;&nbsp;&nbsp;
					<a href=\"index.php?req=deletereview&rid=$rid\">Disapprove</a>";
		}
		
			if($req == 'approvereview'){
				$sql = "UPDATE reviews SET active = 1 WHERE rid = '$rid'";
				mysql_query($sql)or die('Could not approve Review '. mysql_error());	
			}
			if($req == 'deletereview'){
				$sql = "DELETE FROM reviews WHERE rid = '$rid'";
				//echo $sql;
				mysql_query($sql)or die('Could not Delete Review '. mysql_error());	
			}
			
		
			$sql = "SELECT * FROM reviews WHERE active = 0";
			$res = mysql_query($sql);
			while($row = mysql_fetch_array($res)){
				extract($row);
				echo "<tr>
					<td><a href=\"index.php?req=viewreview&rid=$rid\">$title</td>
					</tr>";	
			}
			
?>
		</table>		
					</TD>
		<TD rowspan=2 background="images/top10_04.jpg" WIDTH=14 HEIGHT=152><img src="images/spacer.gif" width=14 height=1></TD>
	</TR>
	<TR>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/top10_06.jpg" WIDTH=597 HEIGHT=15></TD>
	</TR>
</TABLE>