<TABLE WIDTH=500 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/managecompanies.jpg" WIDTH=597 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 background="images/top10_02.jpg" WIDTH=13 HEIGHT=153><img src="images/spacer.gif" width=13 height=1></TD>
		<TD ROWSPAN=2 valign="top" width=570>
		
		<table><tr>
		<td>View a company</td><tr>
		<?	
		if($req == 'viewcompany'){
			$sql = "SELECT * FROM companies WHERE cid = '$cid'";
				$res = mysql_query($sql);
				$row = mysql_fetch_array($res);
			echo "<br><br><center><a href=\"index.php?req=approvecompany&cid=$cid\">Approve</a>&nbsp;&nbsp;&nbsp;
					<a href=\"index.php?req=deletecompany&cid=$cid\">Disapprove</a></center>";

				foreach($row AS $r => $v){
					if(!is_int($r)){
						echo "<br><b>$r</b> : $v";
					}	
				}
				
			echo "<br><br><center><a href=\"index.php?req=approvecompany&cid=$cid\">Approve</a>&nbsp;&nbsp;&nbsp;
					<a href=\"index.php?req=deletecompany&cid=$cid\">Disapprove</a>";
		}
		
			if($req == 'approvecompany'){
				$sql = "UPDATE companies SET active = 1 WHERE cid = '$cid'";
				mysql_query($sql)or die('Could not approve company '. mysql_error());	
			}
			if($req == 'deletecompany'){
				$sql = "DELETE FROM companies WHERE cid = '$cid'";
				//echo $sql;
				mysql_query($sql)or die('Could not Delete company '. mysql_error());	
			}
			
		
			$sql = "SELECT * FROM companies WHERE active = 0";
			$res = mysql_query($sql);
			while($row = mysql_fetch_array($res)){
				extract($row);
				echo "<tr>
					<td><a href=\"index.php?req=viewcompany&cid=$cid\">$company</td>
					</tr>";	
			}
			
?>
		</table>		
					</TD>
		<TD rowspan=2 background="images/top10_04.jpg" WIDTH=14 HEIGHT=152><img src="images/spacer.gif" width=14 height=1></TD>
	</TR>
	<TR>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/top10_06.jpg" WIDTH=597 HEIGHT=15></TD>
	</TR>
</TABLE>