<TABLE WIDTH=500 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=3>
		<?if($sortby == 'name'){$image = 'a';}
		else{$image = '';}
		?>
			<IMG SRC="images/top10_01<?=$image?>.jpg" WIDTH=597 HEIGHT=36></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 background="images/top10_02.jpg" WIDTH=13 HEIGHT=153><img src="images/spacer.gif" width=13 height=1></TD>
		<TD ROWSPAN=2 valign="top" width=570>
			<?//include 'topfive.php'?>
			<table><tr><td>
				  <div style="padding-left: 10"><a href="index.php?sortby=name" style="color:red">Sort By Name</a>&nbsp;&nbsp;&nbsp;</td>
				  <td><a href="index.php?sortby=rank" style="color:red">Sort By Rank</a></td><td>
				  <form action="index.php">
				  <input type="hidden" name="sortby" value="cid">
				  <select name="cid">
            <option value="" disabled selected>Choose a Company
            <?$sqlc = "SELECT * FROM companies WHERE active = 1 ORDER BY company ASC";
            	$resc = mysql_query($sqlc);
            	while($rowc = mysql_fetch_array($resc)){
	            	extract($rowc);
	            	echo "<option value=\"$cid\">$company";	
	            }
            ?>
            </select>
            <input type="submit" value="Go">
				  </form></td></tr></table>
        <table border="0" cellpadding="0" cellspacing="1" width="540">
        <?
        $sql = "SELECT SUM(r.rating) AS total
			, r.*
			, c.*
			, AVG(r.rating) AS count  
			FROM reviews r, companies c"; 
			if($sortby == 'cid'){
				$sql .= " WHERE r.company = '".$_GET['cid']."' AND r.company = c.cid ";	
			} else {
					$sql .= " WHERE r.company = c.cid ";
				}
			
			$sql .= " AND c.active = 1 GROUP BY r.company ";
			
			if($sortby == 'name'){
				$sql .= " ORDER BY c.company ASC LIMIT 20";}
			else {$sql .= " ORDER BY count DESC LIMIT 20";}
			 
        $res = mysql_query($sql);
        //echo $sql;
        while($row = mysql_fetch_array($res)){
	        extract($row);
	        //foreach($row as $r => $v){echo "$r => $v<br>";}
	        switch($type){
		        case 1:$t = 'Carrier';break;
		        case 2:$t = 'Broker';break;
		        case 3:$t = 'Carrier/Broker';break;
		    }
	        $rating = implode(explode('.',round(($count / 2),1)));
	        //echo "<br>$rating = implode(explode('.',round((($total / 2) / $count),1)));";
	        if($rating < 05){$r = 0;}
	        if($rating > 05 && $rating < 1){$rating = 05;}
	        if($rating > 1 && $rating < 2){$rating = 1;}
	        if($rating > 10 && $rating < 20){$rating = 15;}
	        if($rating > 20 && $rating < 30){$rating = 25;}
	        if($rating > 30 && $rating < 40){$rating = 35;}
	        if($rating > 40 && $rating < 50){$rating = 45;}
	        if($rating == 5){$rating = 5;}
	        ?>  
         <tr>
             <td height="29" width="290"><a class="reviews" href="reviews.php?company=<?=$cid?>&r=<?=$rating?>">
             <span><b><?=$company?></a></font><br></b></span>
             <?if($numtrucks != 0){?><b>Number of Trucks:</b><?=$numtrucks?><br><?}?>
				<b>
				Year Established:</b><font color="#2A4BAC"> </font><?=$established?><br>
				<?if($equipment != ''){?>
				<b>Equipment Description:</b><?=$equipment?><?}?>
				<?if($bond != ''){?>
				<b>Broker Bond:</b><?=$bond?><?}?>
				
				</td>
             <td align="center" width="84" height="29">
             <span style="font-size: 8pt"><b><?=$t?></b></span></td>
             <td align="center" width="101" height="29">
             <span style="font-size: 8pt"><b><?=$mc_number?></b></span></td>
             <td width="97" height="29" align="right"><img src=images/wheel<?=$rating?>.gif><br>Total Score: <?=$total?></td>
           </tr>
           <tr><td colspan=4><hr size=1></td></tr>
        <?}?>
		   </table>
			</TD>
		<TD rowspan=2 background="images/top10_04.jpg" WIDTH=14 HEIGHT=152><img src="images/spacer.gif" width=14 height=1></TD>
	</TR>
	<TR>
		<TD></TD>
	</TR>
	<TR>
		<TD COLSPAN=3>
			<IMG SRC="images/top10_06.jpg" WIDTH=597 HEIGHT=15></TD>
	</TR>
</TABLE>